## Att leka med kluster av mat

Det finns över tvåtusen livsmedel i Livsmedelsdatabasen, och de har värden för över 50 näringsvärden.

Att sortera dem i Excel funkar ett tag, men det blir svårt att få en samlad bedömning eller gruppering av stora mängder livsmedel.

Det finns också en metadataklassificering som Livsmedelsverket kallar "huvudgrupp". Det är en klassificering som bara har en nivå. Inget över, inget under. En flat nivå.

In [422]:
import sqlite3
import numpy as np
from sklearn.cluster import KMeans
import plotly
import plotly.graph_objs as go
import plotly.plotly as py

In [423]:
debug = True

Börja med att läsa in allt från databasen. Det är inte så mycket...

In [424]:
conn = sqlite3.connect('livs.db')
conn.row_factory = sqlite3.Row
curs = conn.cursor()

result = []
for row in curs.execute('select * from livs'):
    result.append(row)

conn.close()

dataset = np.array(result)
if debug:
    print (dataset[:5,:5])

[['Talg nöt' '1' 656.3 2746.0 0.0]
 ['Späck gris' '2' 763.0 3192.6 0.0]
 ['Ister gris' '3' 884.3 3700.0 0.0]
 ['Kokosfett' '4' 884.3 3700.0 0.0]
 ['Matfettsblandning havssaltat fett 80% berikad typ Bregott' '5' 711.5
  2977.0 0.5]]

Livsmedelsverkets gruppering har jag lagt i kolumn 60. Numpy-funktionen np.unique() returnerar både alla unika värden och (om man vill) hur många som är i varje kategori.

In [484]:
unique, counts = np.unique(dataset.T[60], return_counts=True) #https://stackoverflow.com/questions/28663856/how-to-count-the-occurrence-of-certain-item-in-an-ndarray-in-python
huvudgrupp_storlek = np.array(list(zip(unique, counts)))

Skriver man ut huvudgrupp_storlek blir det typ 118 kategorier i bokstavsordning. Här är de n första

In [486]:
n = 20
print (huvudgrupp_storlek[:n])

[['' '7']
 ['Algprodukter' '1']
 ['Baljväxter (bönor, linser och ärter)' '51']
 ['Blodmat' '2']
 ['Blodprodukter o rätter' '8']
 ['Buljong' '18']
 ['Bullar kakor tårtor mm' '86']
 ['Bär färska frysta' '24']
 ['Chips popcorn o dyl' '11']
 ['Choklad' '7']
 ['Cider alkoläsk drink' '3']
 ['Deg och gräddade skal och bottnar' '3']
 ['Dessertost' '8']
 ['Dryck' '1']
 ['Efterrätter' '31']
 ['Fisk färsk fryst kokt' '68']
 ['Fisk o skaldjursprodukter o rätter' '69']
 ['Fisk rökt' '13']
 ['Fisk stekt ej panerad' '7']
 ['Flingor - frukostflingor' '28']]

Jag förstår inte riktigt varför det är så svårt att sortera den arrayen. Det är ju en sak att allting är strängar, eftersom en numpy-array bara kan ha en enda datatyp, men det borde finnas ett enkelt sätt att sortera efter kolumn två som integer...

Som det blir nu behöver man skapa ett index genom att använda np.argsort, ta de 20 första med [-20:] och sen vända på ordningen med [::-1], som helt enkelt är en slice till, där -1 är step-argumentet. https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.indexing.html

In [518]:
antal = 20
index = np.argsort(huvudgrupp_storlek.T[1].astype(int))[-antal:][::-1] #https://stackoverflow.com/questions/6910641/how-to-get-indices-of-n-maximum-values-in-a-numpy-array
print(huvudgrupp_storlek[index])

[['Kött färskt fryst tillagat' '127']
 ['Grönsaker' '94']
 ['Bullar kakor tårtor mm' '86']
 ['Köttprodukter kötträtter' '80']
 ['Sås dressing majonnäs' '79']
 ['Fisk o skaldjursprodukter o rätter' '69']
 ['Fisk färsk fryst kokt' '68']
 ['Korv' '60']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '55']
 ['Baljväxter (bönor, linser och ärter)' '51']
 ['Soppa mat' '47']
 ['Pizza paj pirog färdig smörgås' '46']
 ['Frukt färsk fryst' '42']
 ['Mjukt bröd' '42']
 ['Hård matfettsblandning' '39']
 ['Fågel' '39']
 ['Potatisprodukter o rätter' '33']
 ['Inälvor och organ' '33']
 ['Potatis' '31']
 ['Efterrätter' '31']]

Medan de största grupperna är ganska rättframma är de minsta desto knepigare. Vad ska man göra med en klassificering som innehåller en huvudgrupp "Risrätter" med endast ett livsmedel, och det är paella och inte exempelvis risgrynsgröt?

In [519]:
index = np.argsort(huvudgrupp_storlek.T[1].astype(int))[:20] #https://stackoverflow.com/questions/6910641/how-to-get-indices-of-n-maximum-values-in-a-numpy-array
print(huvudgrupp_storlek[index])

[['Sötningsmedel' '1']
 ['Algprodukter' '1']
 ['Kryddor' '1']
 [ 'Övrigt animaliskt *kött*, grodlår, sniglar, säl - färskt, fryst, tillagat'
  '1']
 ['Sockerfritt godis' '1']
 ['Risrätter' '1']
 ['Dryck' '1']
 ['Tacoskal' '1']
 ['Riskakor' '2']
 ['Frukt o nötblandningar bars' '2']
 ['Frukt o bär' '2']
 ['Sportdrycker energidrycker' '2']
 ['Gelatin agar agar' '2']
 ['Övrigt' '2']
 ['Blodmat' '2']
 ['Tuggummi' '2']
 ['Kakaoprodukter' '2']
 ['Cider alkoläsk drink' '3']
 ['Osträtter' '3']
 ['Smör' '3']]

Det går ju även att få fram vilka livsmedel som finns i de där grupperna.

In [520]:
for row in huvudgrupp_storlek[index]:
    q = np.where(dataset.T[60]==row[0])
    print(row[0],"\n",dataset[q,0]) #Det går ju att skriva ut vilka värden som helst för varje livsmedel, som med dataset[q,:]

Sötningsmedel
 [['Sorbitol m sackarin']]
Algprodukter
 [['Kelp torkad']]
Kryddor
 [['Kryddblandning taco']]
Övrigt animaliskt *kött*, grodlår, sniglar, säl - färskt, fryst, tillagat
 [['Grodlår råa frysta']]
Sockerfritt godis
 [['Karameller syrliga sockerfria']]
Risrätter
 [['Paella']]
Dryck
 [['Mandeldryck']]
Tacoskal
 [['Tacoskal']]
Riskakor
 [['Riskakor fullkorn solrosfrön majs fett 4%'
  'Riskakor fullkorn smaksatta fett 18%']]
Frukt o nötblandningar bars
 [['Energibar choklad nötter Start'
  'Müslibar fullkorn berikad typ Special K Bar Red fruit']]
Frukt o bär
 [['Havtorn' 'Aronia']]
Sportdrycker energidrycker
 [['Sportdryck drickf' 'Energidryck typ Red Bull berikad']]
Gelatin agar agar
 [['Agar torkad' 'Gelatinblad gelatinpulver']]
Övrigt
 [['Samarinpulver' 'Samarin drickf']]
Blodmat
 [['Gris blod rå' 'Nöt blod rå']]
Tuggummi
 [['Tuggummi' 'Tuggummi sockerfritt']]
Kakaoprodukter
 [['Kakaopulver fett 20-22%' "Kakaopulver m socker fett 2,5% typ O'boy"]]
Cider alkoläsk drink
 [['Cider vol. % 1' 'Irish coffee' 'Alkoläsk kolsyrad dryck vol. % 4-5']]
Osträtter
 [['Camembert vitmögelost friterad'
  'Crêpefyllning spenat fetaost skinka keso' 'Ostsufflé']]
Smör
 [['Smör fett 80 %' 'Smör extrasaltat fett 80%' 'Smör osaltat fett 80%']]

## Klustring av näringsvärden
Den här klassificeringen är alltså den som Livsmedelsverket själva har gjort, och det går att ändra parametrarna här ovan och få fram mycket mer om den.

Men vad händer om man baserar en gruppering bara på näringsvärden i stället? 

Det finns över 50 näringsvärden i databasen.

Av de över 50 näringsvärdena får man välja ut ett antal som man tror kan spela roll för att ge livsmedlen en viss "profil". 

I princip skulle man kunna ha alla näringsvärden med, och man kan testa sig fram. Men på något sätt tror jag att de näringsvärden där många livsmedel har noll-värden kommer att förvirra klustringen.
```
[2 'Energi_kcal' 'REAL' 0 None 0]
[4 'Kolhydrater_g' 'REAL' 0 None 0]
[5 'Fett_g' 'REAL' 0 None 0]
[6 'Protein_g' 'REAL' 0 None 0]
[7 'Fibrer_g' 'REAL' 0 None 0]
[8 'Vatten_g' 'REAL' 0 None 0]
[9 'Alkohol_g' 'REAL' 0 None 0]
[10 'Aska_g' 'REAL' 0 None 0]
[42 'Vitamin_C_mg' 'REAL' 0 None 0]
[50 'Jarn_mg' 'REAL' 0 None 0]
```

In [425]:
#Här är det urval som används nu
relevant_columns = [ 2,  4,  5,  6,  7,  8,  9, 10, 42, 50]

#Här är alla möjliga dimensioner. En del försvinner eftersom de 
#har värden som saknas för vissa livsmedel
#[ 2,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57]

I numpy kan man använda en array som index, men det gäller att göra det till ett index för kolumnerna och inte för raderna... (Läs mer om array som index här: <http://infontology.typepad.com/infontokod/2017/11/bra-funktioner-i-numpy.html> Där står också om den här "slice"-notationen array[a:b,c:d])

In [426]:
columns = dataset[:,relevant_columns] #Tar man bort :, blir det alltså ett urval rader
columns

array([[656.3, 0.0, 71.0, ..., 0.3, 0.0, 0.3],
       [763.0, 0.0, 85.0, ..., 0.7, 0.0, 0.2],
       [884.3, 0.0, 100.0, ..., 0.0, 0.0, 0.1],
       ...,
       [40.6, 7.6, 0.5, ..., 0.2, 0.0, 0.1],
       [372.6, 72.6, 3.55, ..., 0.0, 0.0, 11.35],
       [313.7, 57.5, 4.8, ..., 0.0, 0.0, 0.85]], dtype=object)

Det går förstås att välja en massa olika klustringsalgoritmer. Vi har valt k-means. Det finns också en hel del parametrar att välja. <http://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html>

In [427]:
 def cluster(dataset):
    kmeans = KMeans(n_clusters=numClusters)
    kmeans.fit(dataset)

    centroids = kmeans.cluster_centers_
    clusters = kmeans.labels_
    
    #Utskriften kommer ju inte här, utan efter funktionsanropet
    if debug:
        print (centroids)
        print (clusters)

    return clusters, centroids

In [428]:
#Livsmedelsdatabasen innehåller över 100 huvudgrupper. Det hade varit bra att ha något 
#färre grupper på översta nivån. Högst 50. Eller kanske bara 10, för att komma ner i något som
#skulle kunna motsvara "frukt, grönsaker, fisk, kött, nötter" etc.
numClusters = 10

In [429]:
clusters, centroids = cluster(columns)

[[  3.65919474e+02   6.83748421e+01   4.52452632e+00   9.07021053e+00
    5.88478947e+00   1.01441053e+01   4.99600361e-16   2.01000000e+00
    4.96684211e+00   3.33884211e+00]
 [  1.25491607e+02   7.70496403e+00   4.66539568e+00   1.23515588e+01
    8.98201439e-01   7.23059233e+01   1.32374101e-01   1.90901679e+00
    3.15611511e+00   1.53479616e+00]
 [  2.64772619e+02   2.32418254e+01   1.39476984e+01   1.01683333e+01
    2.10753968e+00   4.66275794e+01   2.30158730e-01   3.58988095e+00
    2.75119048e+00   1.70107143e+00]
 [  8.78417647e+02   2.41176471e-02   9.92829412e+01   8.58823529e-02
    4.11764706e-03   5.37058824e-01   8.32667268e-17   4.82352941e-02
    5.29411765e-02   2.64705882e-02]
 [  6.67910204e+02   4.74183673e+00   6.98132653e+01   6.43877551e+00
    2.76714286e+00   1.43638776e+01   5.55111512e-17   1.84163265e+00
    3.65306122e-01   1.48755102e+00]
 [  3.13980263e+01   4.74026316e+00   4.30526316e-01   1.25207237e+00
    1.45891447e+00   9.00242434e+01   6.45065789e-02   2.03868421e+00
    2.14095395e+01   4.65559211e-01]
 [  1.88798026e+02   1.04346053e+01   1.01505592e+01   1.23822697e+01
    8.16743421e-01   6.30779605e+01   6.79440789e-01   2.43437500e+00
    3.09309211e+00   1.34394737e+00]
 [  4.88922321e+02   4.70286607e+01   2.96050893e+01   7.47946429e+00
    2.98285714e+00   1.09958929e+01   3.88578059e-16   1.88964286e+00
    2.29732143e+00   2.11928571e+00]
 [  7.67352436e+01   9.49372493e+00   1.79727794e+00   4.53083095e+00
    1.47140401e+00   8.14169914e+01   1.43467049e-01   1.15936963e+00
    7.30000000e+00   9.40000000e-01]
 [  3.52889362e+02   9.00659574e+00   2.93700000e+01   1.28762766e+01
    9.45851064e-01   4.44104255e+01   3.25851064e-01   2.83042553e+00
    1.21063830e+00   1.28138298e+00]]
[4 4 3 ..., 5 0 0]

In [431]:
clusters

array([4, 4, 3, ..., 5, 0, 0], dtype=int32)

In [437]:
unique, counts = np.unique(clusters, return_counts=True) #https://stackoverflow.com/questions/28663856/how-to-count-the-occurrence-of-certain-item-in-an-ndarray-in-python
cluster_distribution = np.array(list(zip(unique, counts)))
print(cluster_distribution)
print("Medelvärde:", np.mean(cluster_distribution.T[1]))
print("Median:", np.median(cluster_distribution.T[1]))
print("Standardavvikelse:",np.std(cluster_distribution.T[1]))

[[  0 190]
 [  1 417]
 [  2 252]
 [  3  17]
 [  4  49]
 [  5 304]
 [  6 304]
 [  7 112]
 [  8 349]
 [  9  94]]
Medelvärde: 208.8
Median: 221.0
Standardavvikelse: 129.700269853

In [438]:
ind=np.where(cluster_distribution.T[1]>40)
ind

(array([0, 1, 2, 4, 5, 6, 7, 8, 9]),)

    Hopp

In [403]:
compliance=[]
for item in ind[0]:
    print("Kluster " + str(item))
    #print(dataset[np.where(clusters==item)][:,[0,60]])
    a=dataset[np.where(clusters==item)][:,[0,60]]
    #print(a[0][1])
    unique, counts = np.unique(a.T[1], return_counts=True) #https://stackoverflow.com/questions/28663856/how-to-count-the-occurrence-of-certain-item-in-an-ndarray-in-python
    huvudgrupp_distribution = np.array(list(zip(unique, counts)))
    order=np.argsort(huvudgrupp_distribution.T[1].astype(int))
    order = np.flipud(order)
    #print (order)
    huvudgrupp_distribution = huvudgrupp_distribution[order]
    totals = np.array([])
    for item in huvudgrupp_distribution:
        a=np.where(huvudgrupp_storlek.T[0] == item [0])
        #print(a[0], huvudgrupp_storlek[a[0],1], item[0])
        totals=np.append(totals,huvudgrupp_storlek[a[0],1])
    samlad_array = np.concatenate((huvudgrupp_distribution.T,[totals]),axis=0).T
    #print(np.shape(huvudgrupp_distribution), np.shape([totals]))
    #print(huvudgrupp_distribution)
    #print("totals" + str(totals.T))
    print()
    part = lambda x: np.divide(x[1].astype(int),x[2].astype(int))
    andel = part(samlad_array.T)
    samlad_array = np.vstack((samlad_array.T,andel.T))
    print (samlad_array.T)
    compliance.append(andel)

Kluster 0

[['Potatis' '11' '31' '0.3548387096774194']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '6' '55'
  '0.10909090909090909']
 ['Frukt färsk fryst' '6' '42' '0.14285714285714285']
 ['Söta soppor kräm o efterrättssås' '3' '26' '0.11538461538461539']
 ['Frukt o bär konserverade' '3' '17' '0.17647058823529413']
 ['Bär färska frysta' '3' '24' '0.125']
 ['Baljväxter (bönor, linser och ärter)' '3' '51' '0.058823529411764705']
 ['Rotfrukter' '2' '21' '0.09523809523809523']
 ['Grönsaksblandningar med rotfrukter och eller baljväxter' '2' '9'
  '0.2222222222222222']
 ['Vatten mineralvatten' '1' '15' '0.06666666666666667']
 ['Sallad blandad mat' '1' '10' '0.1']
 ['Saft läsk cider u alkohol' '1' '19' '0.05263157894736842']
 ['Köttprodukter kötträtter' '1' '80' '0.0125']]
Kluster 1

[['Flingor - frukostflingor' '14' '28' '0.5']
 ['Hårt bröd' '8' '28' '0.2857142857142857']
 ['Godis ej choklad' '6' '11' '0.5454545454545454']
 ['Socker sirap honung' '4' '6' '0.6666666666666666']
 ['Bullar kakor tårtor mm' '3' '86' '0.03488372093023256']
 ['Pasta' '2' '21' '0.09523809523809523']
 ['Chips popcorn o dyl' '2' '11' '0.18181818181818182']
 ['Tuggummi' '1' '2' '0.5']
 ['Sötningsmedel' '1' '1' '1.0']
 ['Sockerfritt godis' '1' '1' '1.0']
 ['Riskakor' '1' '2' '0.5']
 ['Kryddor' '1' '1' '1.0']
 ['Kost- o näringspreparat' '1' '8' '0.125']
 ['Kakaoprodukter' '1' '2' '0.5']
 ['Godis som innehåller choklad' '1' '15' '0.06666666666666667']
 ['Frukt o bär torkade' '1' '14' '0.07142857142857142']]
Kluster 2

[['Korv' '15' '60' '0.25']
 ['Fisk o skaldjursprodukter o rätter' '4' '69' '0.057971014492753624']
 ['Köttprodukter kötträtter' '4' '80' '0.05']
 ['Kött färskt fryst tillagat' '4' '127' '0.031496062992125984']
 ['Hamburgare med  bröd (kött, fisk, fågel, vegetarisk)' '3' '5' '0.6']
 ['Fisk färsk fryst kokt' '3' '68' '0.04411764705882353']
 ['Pizza paj pirog färdig smörgås' '3' '46' '0.06521739130434782']
 ['Glass' '2' '25' '0.08']
 ['Grädde creme fraiche' '2' '23' '0.08695652173913043']
 ['Blodprodukter o rätter' '2' '8' '0.25']
 ['Kött processat' '2' '25' '0.08']
 ['Sås dressing majonnäs' '1' '79' '0.012658227848101266']
 ['Korvrätter' '1' '9' '0.1111111111111111']
 ['Ost med vegetabilskt fett' '1' '3' '0.3333333333333333']
 ['Fågel' '1' '39' '0.02564102564102564']
 ['Färskost o kvarg' '1' '15' '0.06666666666666667']
 ['Fisk rökt' '1' '13' '0.07692307692307693']
 ['Rom, kaviar' '1' '6' '0.16666666666666666']
 ['Smältost' '1' '8' '0.125']
 ['Efterrätter' '1' '31' '0.03225806451612903']
 ['Äggprodukter o rätter' '1' '6' '0.16666666666666666']]
Kluster 4

[['Kött färskt fryst tillagat' '27' '127' '0.2125984251968504']
 ['Inälvor och organ' '10' '33' '0.30303030303030304']
 ['Köttprodukter kötträtter' '9' '80' '0.1125']
 ['Fågel' '9' '39' '0.23076923076923078']
 ['Fisk färsk fryst kokt' '8' '68' '0.11764705882352941']
 ['Fisk o skaldjursprodukter o rätter' '6' '69' '0.08695652173913043']
 ['Sås dressing majonnäs' '5' '79' '0.06329113924050633']
 ['Inälvor organ produkter o rätter' '5' '15' '0.3333333333333333']
 ['Ägg' '4' '9' '0.4444444444444444']
 ['Kött processat' '4' '25' '0.16']
 ['Korv' '4' '60' '0.06666666666666667']
 ['Baljväxter (bönor, linser och ärter)' '3' '51' '0.058823529411764705']
 ['Grädde creme fraiche' '2' '23' '0.08695652173913043']
 ['Vegetabiliska produkter och mjölkersättning' '2' '13'
  '0.15384615384615385']
 ['Pizza paj pirog färdig smörgås' '2' '46' '0.043478260869565216']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '2' '55'
  '0.03636363636363636']
 ['Grönsaker' '2' '94' '0.02127659574468085']
 ['Fisk stekt ej panerad' '1' '7' '0.14285714285714285']
 ['Sylta' '1' '3' '0.3333333333333333']
 ['Smältost' '1' '8' '0.125']
 ['Fisk rökt' '1' '13' '0.07692307692307693']
 ['Majonnässallad röror' '1' '6' '0.16666666666666666']
 ['Färskost o kvarg' '1' '15' '0.06666666666666667']
 ['Rom, kaviar' '1' '6' '0.16666666666666666']
 ['Mjölk' '1' '11' '0.09090909090909091']
 ['Osträtter' '1' '3' '0.3333333333333333']
 ['Korvrätter' '1' '9' '0.1111111111111111']
 ['' '1' '7' '0.14285714285714285']]
Kluster 8

[['Grönsaker' '18' '94' '0.19148936170212766']
 ['Buljong' '6' '18' '0.3333333333333333']
 ['Vatten mineralvatten' '5' '15' '0.3333333333333333']
 ['Lightdrycker u energi' '4' '4' '1.0']
 ['Kaffe' '4' '5' '0.8']
 ['Te' '3' '4' '0.75']
 ['Svamp' '3' '9' '0.3333333333333333']
 ['Soppa mat' '3' '47' '0.06382978723404255']
 ['Baljväxter (bönor, linser och ärter)' '3' '51' '0.058823529411764705']
 ['Vin' '2' '10' '0.2']
 ['Kost- o näringspreparat' '2' '8' '0.25']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '2' '55'
  '0.03636363636363636']
 ['Övrigt' '1' '2' '0.5']
 ['Saft läsk cider u alkohol' '1' '19' '0.05263157894736842']
 ['Grönsaksjuice rotfruktsjuice' '1' '4' '0.25']
 ['Frukt färsk fryst' '1' '42' '0.023809523809523808']]
Kluster 9

[['Fisk färsk fryst kokt' '19' '68' '0.27941176470588236']
 ['Skaldjur bläckfisk färsk fryst kokt' '9' '14' '0.6428571428571429']
 ['Färskost o kvarg' '3' '15' '0.2']
 ['Skaldjur bläckfisk konserverad' '2' '6' '0.3333333333333333']
 ['Köttprodukter kötträtter' '2' '80' '0.025']
 ['Fisk o skaldjursprodukter o rätter' '2' '69' '0.028985507246376812']
 ['Blodmat' '2' '2' '1.0']
 [ 'Övrigt animaliskt *kött*, grodlår, sniglar, säl - färskt, fryst, tillagat'
  '1' '1' '1.0']
 ['Soppa mat' '1' '47' '0.02127659574468085']
 ['Ost med vegetabilskt fett' '1' '3' '0.3333333333333333']]
Kluster 10

[['Köttprodukter kötträtter' '9' '80' '0.1125']
 ['Fisk o skaldjursprodukter o rätter' '7' '69' '0.10144927536231885']
 ['Kött färskt fryst tillagat' '5' '127' '0.03937007874015748']
 ['Korv' '5' '60' '0.08333333333333333']
 ['Pizza paj pirog färdig smörgås' '4' '46' '0.08695652173913043']
 ['Glass' '3' '25' '0.12']
 ['Blodprodukter o rätter' '2' '8' '0.25']
 ['Potatisprodukter o rätter' '2' '33' '0.06060606060606061']
 ['Kött processat' '2' '25' '0.08']
 ['Inälvor organ produkter o rätter' '2' '15' '0.13333333333333333']
 ['Bullar kakor tårtor mm' '2' '86' '0.023255813953488372']
 ['Fisk färsk fryst kokt' '2' '68' '0.029411764705882353']
 ['Grädde creme fraiche' '2' '23' '0.08695652173913043']
 ['Fågel' '2' '39' '0.05128205128205128']
 ['Fisk rökt' '1' '13' '0.07692307692307693']
 ['Sås dressing majonnäs' '1' '79' '0.012658227848101266']
 ['Färskost o kvarg' '1' '15' '0.06666666666666667']
 ['Fågelprodukter o rätter' '1' '5' '0.2']
 ['Smältost' '1' '8' '0.125']
 ['Inälvor och organ' '1' '33' '0.030303030303030304']
 ['Hård ost m.m.' '1' '11' '0.09090909090909091']]
Kluster 13

[['Sås dressing majonnäs' '18' '79' '0.22784810126582278']
 ['Baljväxter (bönor, linser och ärter)' '13' '51' '0.2549019607843137']
 ['Fisk o skaldjursprodukter o rätter' '9' '69' '0.13043478260869565']
 ['Köttprodukter kötträtter' '8' '80' '0.1']
 ['Ris risnudlar' '7' '25' '0.28']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '7' '55'
  '0.12727272727272726']
 ['Efterrätter' '6' '31' '0.1935483870967742']
 ['Pastarätter' '6' '12' '0.5']
 ['Pasta' '6' '21' '0.2857142857142857']
 ['Matgryn' '3' '14' '0.21428571428571427']
 ['Söta soppor kräm o efterrättssås' '3' '26' '0.11538461538461539']
 ['Smaksatt fil yoghurt' '3' '11' '0.2727272727272727']
 ['Grönsaker' '3' '94' '0.031914893617021274']
 ['Vin' '3' '10' '0.3']
 ['Korvrätter' '2' '9' '0.2222222222222222']
 ['Äggprodukter o rätter' '2' '6' '0.3333333333333333']
 ['Potatisprodukter o rätter' '2' '33' '0.06060606060606061']
 ['Sallad blandad mat' '2' '10' '0.2']
 ['Senap ketchup HP-sås soja *smaksättare*' '2' '11' '0.18181818181818182']
 ['Mjölk' '1' '11' '0.09090909090909091']
 ['Jäst bakpulver' '1' '3' '0.3333333333333333']
 ['Potatis' '1' '31' '0.03225806451612903']
 ['Grädde creme fraiche' '1' '23' '0.043478260869565216']
 ['Glass' '1' '25' '0.04']
 ['Färskost o kvarg' '1' '15' '0.06666666666666667']
 ['Frukt o bär konserverade' '1' '17' '0.058823529411764705']
 ['Bär färska frysta' '1' '24' '0.041666666666666664']
 ['Sylt marmelad gelé äppelmos o dyl' '1' '18' '0.05555555555555555']
 ['' '1' '7' '0.14285714285714285']]
Kluster 16

[['Pizza paj pirog färdig smörgås' '9' '46' '0.1956521739130435']
 ['Sylt marmelad gelé äppelmos o dyl' '7' '18' '0.3888888888888889']
 ['Glass' '6' '25' '0.24']
 ['Efterrätter' '5' '31' '0.16129032258064516']
 ['Senap ketchup HP-sås soja *smaksättare*' '3' '11' '0.2727272727272727']
 ['Potatisprodukter o rätter' '3' '33' '0.09090909090909091']
 ['Köttprodukter kötträtter' '3' '80' '0.0375']
 ['Pannkakor, våfflor, crêpes' '2' '13' '0.15384615384615385']
 ['Korvrätter' '1' '9' '0.1111111111111111']
 ['Bullar kakor tårtor mm' '1' '86' '0.011627906976744186']
 ['Grönsaker' '1' '94' '0.010638297872340425']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '1' '55'
  '0.01818181818181818']
 ['Vin' '1' '10' '0.1']
 ['Nötter frön' '1' '21' '0.047619047619047616']
 ['Pastarätter' '1' '12' '0.08333333333333333']
 ['Potatis' '1' '31' '0.03225806451612903']
 ['Rom, kaviar' '1' '6' '0.16666666666666666']
 ['Sojaprotein veteprotein Quorn produkter och rätter' '1' '3'
  '0.3333333333333333']
 ['Blodprodukter o rätter' '1' '8' '0.125']]
Kluster 17

[['Soppa mat' '15' '47' '0.3191489361702128']
 ['Grönsaker' '14' '94' '0.14893617021276595']
 ['Rotfrukter' '8' '21' '0.38095238095238093']
 ['Baljväxter (bönor, linser och ärter)' '7' '51' '0.13725490196078433']
 ['Saft läsk cider u alkohol' '6' '19' '0.3157894736842105']
 ['Svamp' '5' '9' '0.5555555555555556']
 ['Vegetabiliska produkter och mjölkersättning' '4' '13'
  '0.3076923076923077']
 ['Öl' '4' '4' '1.0']
 ['Fruktjuice mm' '4' '22' '0.18181818181818182']
 ['Sås dressing majonnäs' '2' '79' '0.02531645569620253']
 ['Sportdrycker energidrycker' '2' '2' '1.0']
 ['Ättika vinäger' '2' '3' '0.6666666666666666']
 ['Fisk färsk fryst kokt' '2' '68' '0.029411764705882353']
 ['Mjölk' '2' '11' '0.18181818181818182']
 ['Frukt färsk fryst' '2' '42' '0.047619047619047616']
 ['Grönsaksjuice rotfruktsjuice' '2' '4' '0.5']
 ['Dryck' '1' '1' '1.0']
 ['Frukt o bär konserverade' '1' '17' '0.058823529411764705']
 ['Övriga sötade drycker vattenchoklad' '1' '4' '0.25']
 ['Grönsaksblandningar med rotfrukter och eller baljväxter' '1' '9'
  '0.1111111111111111']
 ['Kost- o näringspreparat' '1' '8' '0.125']
 ['Mesvaror' '1' '6' '0.16666666666666666']
 ['Risrätter' '1' '1' '1.0']
 ['Ägg' '1' '9' '0.1111111111111111']
 ['Naturell fil yoghurt' '1' '11' '0.09090909090909091']]
Kluster 18

[['Potatisprodukter o rätter' '14' '33' '0.42424242424242425']
 ['Pasta' '7' '21' '0.3333333333333333']
 ['Pannkakor, våfflor, crêpes' '6' '13' '0.46153846153846156']
 ['Pizza paj pirog färdig smörgås' '5' '46' '0.10869565217391304']
 ['Matgryn' '3' '14' '0.21428571428571427']
 ['Glass' '3' '25' '0.12']
 ['Ris risnudlar' '3' '25' '0.12']
 ['Efterrätter' '2' '31' '0.06451612903225806']
 ['Fisk o skaldjursprodukter o rätter' '2' '69' '0.028985507246376812']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '2' '55'
  '0.03636363636363636']
 ['Baljväxter (bönor, linser och ärter)' '2' '51' '0.0392156862745098']
 ['Pastarätter' '2' '12' '0.16666666666666666']
 ['Sylt marmelad gelé äppelmos o dyl' '2' '18' '0.1111111111111111']
 ['Sås dressing majonnäs' '2' '79' '0.02531645569620253']
 ['Vegetabiliska produkter och mjölkersättning' '1' '13'
  '0.07692307692307693']
 ['Majonnässallad röror' '1' '6' '0.16666666666666666']
 ['Inälvor organ produkter o rätter' '1' '15' '0.06666666666666667']
 ['Gröt' '1' '16' '0.0625']
 ['Grönsaker' '1' '94' '0.010638297872340425']
 ['Grädde creme fraiche' '1' '23' '0.043478260869565216']
 ['Senap ketchup HP-sås soja *smaksättare*' '1' '11' '0.09090909090909091']
 ['Frukt färsk fryst' '1' '42' '0.023809523809523808']
 ['Vin' '1' '10' '0.1']]
Kluster 21

[['Köttprodukter kötträtter' '16' '80' '0.2']
 ['Potatis' '12' '31' '0.3870967741935484']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '12' '55'
  '0.21818181818181817']
 ['Sås dressing majonnäs' '12' '79' '0.1518987341772152']
 ['Vatten mineralvatten' '7' '15' '0.4666666666666667']
 ['Frukt o bär konserverade' '7' '17' '0.4117647058823529']
 ['Soppa mat' '6' '47' '0.1276595744680851']
 ['Gröt' '6' '16' '0.375']
 ['Potatisprodukter o rätter' '6' '33' '0.18181818181818182']
 ['Grönsaker' '5' '94' '0.05319148936170213']
 ['Baljväxter (bönor, linser och ärter)' '4' '51' '0.0784313725490196']
 ['Senap ketchup HP-sås soja *smaksättare*' '4' '11' '0.36363636363636365']
 ['Smaksatt fil yoghurt' '4' '11' '0.36363636363636365']
 ['Pastarätter' '3' '12' '0.25']
 ['Frukt färsk fryst' '3' '42' '0.07142857142857142']
 ['Grädde creme fraiche' '3' '23' '0.13043478260869565']
 ['Mjölkdryck chokladdryck milkshake smothie m yoghurt' '2' '5' '0.4']
 ['Efterrätter' '2' '31' '0.06451612903225806']
 ['Sallad blandad mat' '2' '10' '0.2']
 ['Fisk o skaldjursprodukter o rätter' '2' '69' '0.028985507246376812']
 ['Inälvor organ produkter o rätter' '2' '15' '0.13333333333333333']
 ['Inälvor och organ' '2' '33' '0.06060606060606061']
 ['Ris risnudlar' '2' '25' '0.08']
 ['Glass' '2' '25' '0.08']
 ['Bär färska frysta' '2' '24' '0.08333333333333333']
 ['Buljong' '1' '18' '0.05555555555555555']
 ['Vegetabiliska produkter och mjölkersättning' '1' '13'
  '0.07692307692307693']
 ['Korvrätter' '1' '9' '0.1111111111111111']
 ['Matgryn' '1' '14' '0.07142857142857142']
 ['Naturell fil yoghurt' '1' '11' '0.09090909090909091']
 ['Saft läsk cider u alkohol' '1' '19' '0.05263157894736842']
 ['Söta soppor kräm o efterrättssås' '1' '26' '0.038461538461538464']
 ['' '1' '7' '0.14285714285714285']]
Kluster 23

[['Kött färskt fryst tillagat' '14' '127' '0.11023622047244094']
 ['Fisk o skaldjursprodukter o rätter' '10' '69' '0.14492753623188406']
 ['Fisk färsk fryst kokt' '8' '68' '0.11764705882352941']
 ['Fågel' '8' '39' '0.20512820512820512']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '5' '55'
  '0.09090909090909091']
 ['Grädde creme fraiche' '4' '23' '0.17391304347826086']
 ['Köttprodukter kötträtter' '4' '80' '0.05']
 ['Inälvor och organ' '4' '33' '0.12121212121212122']
 ['Fisk rökt' '3' '13' '0.23076923076923078']
 ['Korv' '3' '60' '0.05']
 ['Äggprodukter o rätter' '2' '6' '0.3333333333333333']
 ['Fisk stekt ej panerad' '1' '7' '0.14285714285714285']
 ['Färskost o kvarg' '1' '15' '0.06666666666666667']
 ['Fågelprodukter o rätter' '1' '5' '0.2']
 ['Inälvor organ produkter o rätter' '1' '15' '0.06666666666666667']
 ['Sås dressing majonnäs' '1' '79' '0.012658227848101266']
 ['Osträtter' '1' '3' '0.3333333333333333']
 ['Pannkakor, våfflor, crêpes' '1' '13' '0.07692307692307693']
 ['Pizza paj pirog färdig smörgås' '1' '46' '0.021739130434782608']
 ['Potatisprodukter o rätter' '1' '33' '0.030303030303030304']
 ['Smältost' '1' '8' '0.125']
 ['Soja-  veteprotein o quorn' '1' '3' '0.3333333333333333']
 ['Efterrätter' '1' '31' '0.03225806451612903']]
Kluster 26

[['Soppa mat' '17' '47' '0.3617021276595745']
 ['Frukt färsk fryst' '12' '42' '0.2857142857142857']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '7' '55'
  '0.12727272727272726']
 ['Bär färska frysta' '6' '24' '0.25']
 ['Söta soppor kräm o efterrättssås' '6' '26' '0.23076923076923078']
 ['Grönsaker' '6' '94' '0.06382978723404255']
 ['Fruktjuice mm' '5' '22' '0.22727272727272727']
 ['Grönsaksblandningar med rotfrukter och eller baljväxter' '4' '9'
  '0.4444444444444444']
 ['Saft läsk cider u alkohol' '4' '19' '0.21052631578947367']
 ['Sås dressing majonnäs' '3' '79' '0.0379746835443038']
 ['Sylt marmelad gelé äppelmos o dyl' '2' '18' '0.1111111111111111']
 ['Skaldjur bläckfisk färsk fryst kokt' '2' '14' '0.14285714285714285']
 ['Cider alkoläsk drink' '2' '3' '0.6666666666666666']
 ['Vegetabiliska produkter och mjölkersättning' '2' '13'
  '0.15384615384615385']
 ['Naturell fil yoghurt' '2' '11' '0.18181818181818182']
 ['Mjölk' '2' '11' '0.18181818181818182']
 ['Skaldjur bläckfisk konserverad' '2' '6' '0.3333333333333333']
 ['Smaksatt fil yoghurt' '1' '11' '0.09090909090909091']
 ['Vin' '1' '10' '0.1']
 ['Frukt o bär konserverade' '1' '17' '0.058823529411764705']
 ['Köttprodukter kötträtter' '1' '80' '0.0125']
 ['Svamp' '1' '9' '0.1111111111111111']
 ['Potatis' '1' '31' '0.03225806451612903']
 ['Rotfrukter' '1' '21' '0.047619047619047616']
 ['Ättika vinäger' '1' '3' '0.3333333333333333']
 ['Sallad blandad mat' '1' '10' '0.1']
 ['Övriga sötade drycker vattenchoklad' '1' '4' '0.25']]
Kluster 33

[['Grönsaker' '21' '94' '0.22340425531914893']
 ['Fruktjuice mm' '7' '22' '0.3181818181818182']
 ['Frukt färsk fryst' '5' '42' '0.11904761904761904']
 ['Bär färska frysta' '4' '24' '0.16666666666666666']
 ['Saft läsk cider u alkohol' '2' '19' '0.10526315789473684']
 ['Rotfrukter' '2' '21' '0.09523809523809523']
 ['Vatten mineralvatten' '1' '15' '0.06666666666666667']
 ['Söta soppor kräm o efterrättssås' '1' '26' '0.038461538461538464']
 ['Sås dressing majonnäs' '1' '79' '0.012658227848101266']
 ['Kost- o näringspreparat' '1' '8' '0.125']
 ['Grönsaksjuice rotfruktsjuice' '1' '4' '0.25']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '1' '55'
  '0.01818181818181818']
 ['Frukt o bär' '1' '2' '0.5']
 ['Baljväxter (bönor, linser och ärter)' '1' '51' '0.0196078431372549']]
Kluster 34

[['Kött färskt fryst tillagat' '50' '127' '0.3937007874015748']
 ['Fisk färsk fryst kokt' '13' '68' '0.19117647058823528']
 ['Kött processat' '10' '25' '0.4']
 ['Köttprodukter kötträtter' '9' '80' '0.1125']
 ['Inälvor och organ' '8' '33' '0.24242424242424243']
 ['Fågel' '7' '39' '0.1794871794871795']
 ['Fisk o skaldjursprodukter o rätter' '6' '69' '0.08695652173913043']
 ['Skaldjur bläckfisk färsk fryst kokt' '3' '14' '0.21428571428571427']
 ['Fisk stekt ej panerad' '3' '7' '0.42857142857142855']
 ['Skaldjur bläckfisk konserverad' '2' '6' '0.3333333333333333']
 ['Rom, kaviar' '2' '6' '0.3333333333333333']
 ['Färskost o kvarg' '2' '15' '0.13333333333333333']
 ['Sylta' '1' '3' '0.3333333333333333']
 ['Soja-  veteprotein o quorn' '1' '3' '0.3333333333333333']
 ['Smältost' '1' '8' '0.125']
 ['Efterrätter' '1' '31' '0.03225806451612903']]
Kluster 36

[['Kött färskt fryst tillagat' '15' '127' '0.11811023622047244']
 ['Fisk o skaldjursprodukter o rätter' '7' '69' '0.10144927536231885']
 ['Köttprodukter kötträtter' '7' '80' '0.0875']
 ['Fågel' '7' '39' '0.1794871794871795']
 ['Korv' '5' '60' '0.08333333333333333']
 ['Fisk färsk fryst kokt' '3' '68' '0.04411764705882353']
 ['Fisk rökt' '3' '13' '0.23076923076923078']
 ['Inälvor och organ' '2' '33' '0.06060606060606061']
 ['Smältost' '2' '8' '0.25']
 ['Pannkakor, våfflor, crêpes' '2' '13' '0.15384615384615385']
 ['Korvrätter' '2' '9' '0.2222222222222222']
 ['Ägg' '2' '9' '0.2222222222222222']
 ['Grädde creme fraiche' '1' '23' '0.043478260869565216']
 ['Dessertost' '1' '8' '0.125']
 ['Färskost o kvarg' '1' '15' '0.06666666666666667']
 ['Fågelprodukter o rätter' '1' '5' '0.2']
 ['Äggprodukter o rätter' '1' '6' '0.16666666666666666']
 ['Grönsaker' '1' '94' '0.010638297872340425']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '1' '55'
  '0.01818181818181818']
 ['Hård ost m.m.' '1' '11' '0.09090909090909091']
 ['Inälvor organ produkter o rätter' '1' '15' '0.06666666666666667']
 ['Kött processat' '1' '25' '0.04']
 ['Majonnässallad röror' '1' '6' '0.16666666666666666']
 ['Sojaprotein veteprotein Quorn produkter och rätter' '1' '3'
  '0.3333333333333333']
 ['Söta soppor kräm o efterrättssås' '1' '26' '0.038461538461538464']
 ['' '1' '7' '0.14285714285714285']]
Kluster 38

[['Mjöl stärkelse kli' '17' '29' '0.5862068965517241']
 ['Hårt bröd' '17' '28' '0.6071428571428571']
 ['Ris risnudlar' '13' '25' '0.52']
 ['Pasta' '6' '21' '0.2857142857142857']
 ['Flingor - frukostflingor' '6' '28' '0.21428571428571427']
 ['Matgryn' '4' '14' '0.2857142857142857']
 ['Godis ej choklad' '4' '11' '0.36363636363636365']
 ['Tuggummi' '1' '2' '0.5']
 ['Söta soppor kräm o efterrättssås' '1' '26' '0.038461538461538464']
 ['Socker sirap honung' '1' '6' '0.16666666666666666']
 ['Bullar kakor tårtor mm' '1' '86' '0.011627906976744186']]
Kluster 39

[['Kött färskt fryst tillagat' '10' '127' '0.07874015748031496']

In [411]:
compliance = np.array(compliance)
compliance[5]

array([ 0.27941176,  0.64285714,  0.2       ,  0.33333333,  0.025     ,
        0.02898551,  1.        ,  1.        ,  0.0212766 ,  0.33333333])

## Läsa ner klustren i databasen

Kör inte nästa i onödan. Fyll på databasen kolumn för kolumn i stället

In [70]:
#Denna skapar tabellen kluster

conn = sqlite3.connect('livs.db')  # Create db and establish connection
conn.row_factory = sqlite3.Row
curs = conn.cursor()

curs.execute('drop table if exists kluster;')

# Backslash bara för radbrytningen, obs...
sql = 'CREATE TABLE IF NOT EXISTS kluster (Livsmedelsnummer TEXT PRIMARY KEY,\
kluster_3 INT DEFAULT -1, kluster_3_3 INT DEFAULT -1, kluster_20 INT DEFAULT -1,\
kluster_20_3 INT DEFAULT -1);'


curs.execute(sql)
conn.commit()

sql2 = 'INSERT INTO kluster (Livsmedelsnummer) SELECT Livsmedelsnummer from livs;'

curs.execute(sql2)
conn.commit()

conn.close()

In [79]:
conn = sqlite3.connect('livs.db')  # Create db and establish connection
conn.row_factory = sqlite3.Row
curs = conn.cursor()

for index, Livsmedelsnummer in enumerate(dataset.T[1]):
    sql = 'UPDATE kluster SET kluster_3_3 = '+str(clusters[index])+' WHERE Livsmedelsnummer = "'+Livsmedelsnummer+'";'
    print(sql)
    curs.execute(sql)
#curs.execute('UPDATE livs SET Kluster = 1 WHERE Livsmedelsnummer = "2";')
conn.commit()
conn.close()

UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "2";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "3";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "4";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "5";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "6";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "7";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "8";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "9";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "10";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "12";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "13";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "17";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "18";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "20";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "21";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "22";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "23";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "24";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "25";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "26";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "27";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "28";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "29";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "30";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "31";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "33";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "34";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "35";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "37";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "38";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "39";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "40";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "41";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "42";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "43";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "44";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "45";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "46";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "47";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "48";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "49";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "50";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "51";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "52";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "53";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "55";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "56";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "57";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "58";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "59";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "60";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "62";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "63";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "64";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "65";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "66";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "67";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "68";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "69";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "70";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "71";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "72";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "73";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "74";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "75";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "76";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "77";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "78";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "79";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "80";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "81";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "82";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "83";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "84";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "85";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "86";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "87";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "88";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "89";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "90";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "91";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "92";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "93";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "94";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "95";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "96";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "97";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "98";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "99";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "100";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "101";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "102";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "103";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "104";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "105";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "106";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "107";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "108";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "109";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "110";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "111";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "113";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "114";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "115";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "116";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "118";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "119";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "120";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "122";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "123";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "124";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "125";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "126";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "127";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "128";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "130";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "133";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "135";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "136";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "137";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "138";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "139";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "140";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "141";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "142";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "150";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "151";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "152";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "154";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "156";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "157";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "158";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "161";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "162";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "163";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "164";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "165";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "166";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "167";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "168";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "169";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "170";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "171";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "172";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "173";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "174";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "175";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "178";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "180";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "181";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "182";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "183";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "184";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "185";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "186";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "187";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "188";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "190";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "191";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "193";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "194";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "195";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "196";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "197";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "198";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "199";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "201";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "202";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "203";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "204";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "205";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "206";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "207";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "208";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "209";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "210";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "211";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "212";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "213";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "214";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "216";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "217";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "219";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "222";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "224";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "225";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "226";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "227";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "229";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "230";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "231";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "233";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "234";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "235";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "237";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "238";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "241";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "242";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "244";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "245";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "246";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "248";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "249";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "250";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "252";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "253";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "254";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "255";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "256";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "257";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "258";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "259";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "260";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "261";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "262";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "263";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "264";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "265";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "266";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "267";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "268";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "269";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "270";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "271";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "272";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "273";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "274";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "275";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "276";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "277";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "278";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "279";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "280";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "281";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "282";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "283";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "284";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "286";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "287";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "288";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "289";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "290";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "291";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "292";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "293";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "294";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "295";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "296";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "297";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "298";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "299";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "300";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "301";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "302";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "304";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "305";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "306";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "307";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "308";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "310";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "314";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "315";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "317";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "319";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "320";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "321";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "322";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "323";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "324";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "325";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "326";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "327";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "328";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "329";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "330";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "331";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "332";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "333";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "334";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "335";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "336";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "337";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "338";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "339";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "340";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "342";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "343";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "344";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "345";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "346";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "347";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "348";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "349";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "350";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "351";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "352";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "353";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "354";

UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1236";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1237";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1238";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1239";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1240";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1241";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1242";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1243";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1244";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1245";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1246";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1247";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1248";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1249";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1250";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1251";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1252";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1253";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1255";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1256";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1257";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1258";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1259";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1260";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1261";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1262";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1263";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1265";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1266";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1267";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1268";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1269";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1270";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1271";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1272";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1273";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1274";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1275";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1277";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1278";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1279";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1280";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1281";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1282";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1283";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1284";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1285";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1286";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1287";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1288";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1289";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1290";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1291";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1292";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1293";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1294";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1296";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1297";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1298";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1299";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1300";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1301";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1302";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1303";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1304";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1305";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1306";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1308";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1309";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1310";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1311";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1312";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1313";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1314";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1315";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1316";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1317";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1318";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1319";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1320";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1321";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1322";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1323";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1324";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1325";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1326";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1327";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1328";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1329";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1330";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1331";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1332";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1333";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1334";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1335";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1336";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1337";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1338";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1339";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1340";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1344";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1345";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1346";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1347";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1348";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1349";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1350";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1351";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1354";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1356";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1357";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1358";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1359";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1360";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1361";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1362";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1363";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1364";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1365";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1366";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1367";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1368";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1371";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1372";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1373";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1374";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1375";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1376";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1377";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1378";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1379";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1381";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1382";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1384";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1385";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1386";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1387";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1388";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1389";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1390";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1391";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1392";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1393";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1394";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1395";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1396";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1397";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1398";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1399";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1400";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1401";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1402";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1403";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1404";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1406";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1407";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1408";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1410";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1411";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1412";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1413";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1414";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1416";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1417";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1418";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1419";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1420";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1421";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1422";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1423";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1424";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "1425";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1426";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1427";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1428";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "1429";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1430";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1431";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1432";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1433";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1434";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1435";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1436";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1437";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1438";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1439";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1441";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1442";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1443";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1444";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1445";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1446";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1447";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1448";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1449";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1450";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1451";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1452";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1453";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1454";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1455";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1456";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1457";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1458";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1459";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1460";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1461";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1462";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1463";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1464";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1465";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1466";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1467";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1468";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1469";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1470";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1471";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1472";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1473";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1474";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1475";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1476";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1477";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1478";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1479";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1480";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1482";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1483";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1485";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1486";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1487";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1488";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1489";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1490";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1491";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1492";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1493";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1494";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1495";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1496";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1497";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1498";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1499";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1500";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1501";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1502";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1503";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1504";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1505";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1506";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1507";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1508";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1509";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1510";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1511";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1512";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1513";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1514";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1515";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1516";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1517";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1518";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1519";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1520";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1521";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1522";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1523";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1524";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1526";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1527";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1528";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1529";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1530";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1531";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1532";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1533";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1534";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1535";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1536";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1537";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1538";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1540";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1541";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1543";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1544";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1548";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1551";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1552";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1553";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1554";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1555";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1557";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1558";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1559";

In [80]:
conn = sqlite3.connect('livs.db')  # Create db and establish connection
conn.row_factory = sqlite3.Row
curs = conn.cursor()
   
kluster_object = []
for row in curs.execute('SELECT * from kluster WHERE kluster_3_3 != -1;'):
    kluster_object.append(row)

        
kluster = np.array(kluster_object)

print(kluster)

conn.close()

[['1' '-1' '2' '-1' '-1']
 ['2' '-1' '2' '-1' '-1']
 ['3' '-1' '2' '-1' '-1']
 ...,
 ['5964' '-1' '0' '-1' '-1']
 ['5973' '-1' '1' '-1' '-1']
 ['5974' '-1' '1' '-1' '-1']]

In [69]:
(dataset==str(kluster.T[0]))

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]], dtype=bool)

## Visualisera med Plotly

In [ ]:
# transpose to work with Plotly-format (don't remember if it is sklearn.cluster or plotly that is counterintuitive)
dataToChart = dataset.T

# create multi dimensional array of data by label
segmentedData = [[[] for _ in range(3)] for _ in range(numClusters)]

for num, cluster in enumerate(clusters):
    if debug:
        print (str(num), str(clusters))
    segmentedData[cluster][0].append(dataToChart[0][num])
    segmentedData[cluster][1].append(dataToChart[1][num])
    segmentedData[cluster][2].append(dataToChart[2][num])

#if debug:
    #print(segmentedData)

In [69]:
#plotly.offline.init_notebook_mode(connected=True)
    
traces = []
baseColor = 100
i = 0
while i < numClusters:
    trace = go.Scatter3d(
        x=segmentedData[i][0],
        y=segmentedData[i][1],
        z=segmentedData[i][2],
        mode='markers',
        marker=dict(
            size=12,
            line=dict(
                color='rgba(baseColor+(i*2), baseColor+(i*2), baseColor+(i*2), 0.14)',
                width=0.5
            ),
            opacity=0.8
        ),
        # @todo: fix names list for plotly
        #text=names
    )
    traces.append(trace)
    i+=1

layout = go.Layout(
    scene=go.Scene(
        xaxis=go.XAxis(title='Carbs', tickprefix='Carbs ', showtickprefix='first'),
        yaxis=go.YAxis(title='Fat', tickprefix='Fat ', showtickprefix='first'),
        zaxis=go.ZAxis(title='Protein', tickprefix='Protein ', showtickprefix='first')
    ),
    height = 800,
    width = 800,
)

fig = go.Figure(data=traces, layout=layout)
py.iplot(fig, filename='table1')