In [241]:
import sqlite3
import numpy as np
from sklearn.cluster import KMeans
import plotly
import plotly.graph_objs as go
import plotly.plotly as py

In [242]:
debug = True

In [243]:
conn = sqlite3.connect('livs.db')
conn.row_factory = sqlite3.Row
curs = conn.cursor()



result = []
for row in curs.execute('select * from livs'):
    result.append(row)

conn.close()

dataset = np.array(result)
if debug:
    print (dataset)

[['Talg nöt' '1' 656.3 ..., 'Övrigt fett (ister, talg, kokosfett)' 86 None]
 ['Späck gris' '2' 763.0 ..., 'Övrigt fett (ister, talg, kokosfett)' 86
  None]
 ['Ister gris' '3' 884.3 ..., 'Övrigt fett (ister, talg, kokosfett)' 86
  None]
 ...,
 ['Havredryck oberikad' '5964' 40.6 ...,
  'Vegetabiliska produkter och mjölkersättning' 46 None]
 ['Kryddblandning taco' '5973' 372.6 ..., 'Kryddor' 112 None]
 ['Tortilla wrap' '5974' 313.7 ..., 'Mjukt bröd' 12 'train']]

In [299]:
relevant_columns = [ 2,  4,  5,  6,  7,  8,  9, 10, 42, 50]
#[4,5,6]

#[ 2,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57]

In [300]:
columns = dataset.T[relevant_columns].T
columns

array([[656.3, 0.0, 71.0, ..., 0.3, 0.0, 0.3],
       [763.0, 0.0, 85.0, ..., 0.7, 0.0, 0.2],
       [884.3, 0.0, 100.0, ..., 0.0, 0.0, 0.1],
       ...,
       [40.6, 7.6, 0.5, ..., 0.2, 0.0, 0.1],
       [372.6, 72.6, 3.55, ..., 0.0, 0.0, 11.35],
       [313.7, 57.5, 4.8, ..., 0.0, 0.0, 0.85]], dtype=object)

In [301]:
 def cluster(dataset):
    kmeans = KMeans(n_clusters=numClusters)
    kmeans.fit(dataset)

    centroids = kmeans.cluster_centers_
    clusters = kmeans.labels_

    if debug:
        print (centroids)
        print (clusters)

    return clusters, centroids

In [302]:
numClusters = 50

In [303]:
clusters, centroids = cluster(columns)

[[  7.28906977e+01   1.26686047e+01   9.61162791e-01   1.92069767e+00
    2.66651163e+00   8.08983721e+01   1.16279070e-03   8.95581395e-01
    2.92279070e+01   7.19767442e-01]
 [  3.87818750e+02   8.08437500e+01   3.21812500e+00   5.87604167e+00
    3.67083333e+00   4.84333333e+00   5.55111512e-17   1.55208333e+00
    1.52083333e-01   2.93354167e+00]
 [  2.55983333e+02   8.96907407e+00   1.86551852e+01   1.32242593e+01
    4.25185185e-01   5.59740741e+01   1.11022302e-16   2.71037037e+00
    9.90740741e-01   1.70203704e+00]
 [  6.45630000e+02   3.23700000e+00   6.80100000e+01   5.66000000e+00
    4.22000000e+00   1.71200000e+01   2.77555756e-17   1.72300000e+00
    4.70000000e-01   1.19300000e+00]
 [  1.39133913e+02   2.37973913e+00   7.09417391e+00   1.62053043e+01
    4.19043478e-01   7.20303478e+01   1.56521739e-03   1.84443478e+00
    4.41478261e+00   2.12565217e+00]
 [  8.84300000e+02   0.00000000e+00   1.00000000e+02   1.77635684e-15
    4.44089210e-16  -2.13162821e-14   8.32667268e-17   4.44089210e-16
    1.77635684e-15   6.25000000e-03]
 [  3.84920000e+02   6.63450000e+00   3.56140000e+01   1.04260000e+01
    2.82500000e-01   4.42350000e+01   6.50000000e-03   2.62550000e+00
    4.40500000e+00   1.16200000e+00]
 [  4.95579310e+02   5.73827586e+01   2.58989655e+01   6.86413793e+00
    2.88793103e+00   5.34137931e+00   0.00000000e+00   1.62000000e+00
    2.79310345e-01   1.41448276e+00]
 [  1.03152542e+01   1.06932203e+00   1.35932203e-01   6.95084746e-01
    9.29661017e-01   9.63922034e+01   2.71186441e-02   7.52542373e-01
    3.91525424e+00   3.49830508e-01]
 [  8.07452381e+01   6.83333333e-01   1.40285714e+00   1.60638095e+01
    1.55714286e-01   8.01142857e+01   5.71428571e-03   1.69285714e+00
    2.35714286e-01   2.49809524e+00]
 [  2.10514286e+02   9.11053571e+00   1.31264286e+01   1.39258929e+01
    4.90892857e-01   6.09387500e+01   1.38777878e-16   2.40607143e+00
    1.23750000e+00   2.06482143e+00]
 [  7.18750000e+02   6.99615385e-01   8.05523077e+01   7.86923077e-01
    3.63846154e-01   1.63780769e+01   2.77555756e-17   1.15461538e+00
    3.30769231e-01   1.63461538e-01]
 [  2.94714286e+01   4.75428571e+00   1.80000000e-01   9.94285714e-01
    2.37000000e+00   9.09528571e+01   0.00000000e+00   7.58571429e-01
    1.23342857e+02   4.31428571e-01]
 [  1.19568696e+02   1.46327826e+01   3.99304348e+00   4.72486957e+00
    1.73565217e+00   7.32149565e+01   3.30434783e-01   1.36956522e+00
    3.08782609e+00   7.55304348e-01]
 [  3.25100000e+02   7.23666667e+01   7.33333333e-01   2.60000000e+00
    7.33333333e+00   1.36333333e+01   0.00000000e+00   3.33333333e+00
    2.26333333e+02   2.03333333e+00]
 [  4.12621739e+02   5.67404348e+01   1.67613043e+01   6.91913043e+00
    3.01086957e+00   1.51465217e+01   5.55111512e-17   1.38913043e+00
    1.69565217e-01   1.62130435e+00]
 [  1.80502041e+02   2.53838776e+01   5.74204082e+00   5.24836735e+00
    1.80632653e+00   5.93906122e+01   2.61224490e-01   2.16428571e+00
    2.83877551e+00   1.14428571e+00]
 [  3.14388889e+01   4.41166667e+00   5.00888889e-01   1.47311111e+00
    1.19388889e+00   9.15877778e+01   1.17777778e-01   7.20111111e-01
    4.84777778e+00   4.36333333e-01]
 [  1.50578125e+02   1.99356250e+01   5.17578125e+00   4.47609375e+00
    2.03062500e+00   6.68632812e+01   2.50000000e-01   1.26125000e+00
    3.08593750e+00   7.86250000e-01]
 [  2.56085000e+02   4.77092500e+01   2.78150000e+00   5.90950000e+00
    5.41525000e+00   3.54105000e+01   4.75000000e-01   2.30200000e+00
    1.31000000e+00   1.95750000e+00]
 [  3.24465625e+02   5.41103125e+01   4.64687500e+00   1.17940625e+01
    8.16125000e+00   1.66434375e+01  -2.77555756e-17   4.63218750e+00
    4.40625000e-01   3.71656250e+00]
 [  9.23426471e+01   1.21047059e+01   2.80227941e+00   3.60448529e+00
    1.55838235e+00   7.86075000e+01   8.90441176e-02   1.21632353e+00
    6.24411765e+00   7.91544118e-01]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
    0.00000000e+00   1.22500000e+00   0.00000000e+00   9.87750000e+01
    0.00000000e+00   1.17500000e+00]
 [  1.67676623e+02   3.19818182e+00   9.81740260e+00   1.64741558e+01
    4.23376623e-01   6.77812987e+01   2.77555756e-16   2.25701299e+00
    1.86883117e+00   1.38480519e+00]
 [  8.25000000e+01   1.24540000e+01   1.47600000e+00   1.91600000e+00
    5.55400000e+00   7.79000000e+01   2.77555756e-17   1.18000000e+00
    1.39720000e+02   8.34000000e-01]
 [  4.21840000e+01   6.56600000e+00   4.15200000e-01   1.68120000e+00
    2.61360000e+00   8.79540000e+01   2.77555756e-17   7.74800000e-01
    6.24280000e+01   5.76400000e-01]
 [  4.95319149e+01   7.52638298e+00   9.48617021e-01   1.68042553e+00
    1.44712766e+00   8.74772340e+01   1.38297872e-01   7.83829787e-01
    5.85319149e+00   5.01382979e-01]
 [  3.50555882e+02   4.94352941e+00   3.28114706e+01   9.67294118e+00
    3.90588235e-01   4.96588235e+01  -2.77555756e-17   2.45441176e+00
    2.26470588e-01   7.82352941e-01]
 [  3.65713043e+02   4.17934783e+01   1.15582609e+01   1.89908696e+01
    8.64608696e+00   1.57560870e+01   5.55111512e-17   3.23260870e+00
    2.21304348e+00   4.77695652e+00]
 [  5.46165000e+02   5.33455000e+01   3.35930000e+01   7.00750000e+00
    2.03050000e+00   2.15650000e+00   1.11022302e-16   1.86500000e+00
    1.48500000e+00   3.10800000e+00]
 [  5.34825000e+02   2.69916667e+00   5.72000000e+01   3.38333333e+00
    2.46500000e+00   3.25908333e+01   5.55111512e-17   1.57833333e+00
    1.65000000e+00   9.05000000e-01]
 [  4.01890000e+02   6.25800000e+01   8.85600000e+00   1.47640000e+01
    4.87900000e+00   6.78200000e+00   2.77555756e-17   2.14000000e+00
    5.87300000e+01   8.99000000e+00]
 [  4.56426471e+02   5.98311765e+01   2.02391176e+01   6.45382353e+00
    4.26147059e+00   7.35176471e+00  -2.77555756e-17   1.85588235e+00
    1.41176471e-01   1.63882353e+00]
 [  2.96959184e+01   4.87816327e+00   2.09591837e-01   1.21959184e+00
    1.60428571e+00   9.13691837e+01   5.55111512e-17   7.10000000e-01
    3.26530612e+01   5.89387755e-01]
 [  1.10656303e+02   7.65294118e-01   2.84369748e+00   2.01608403e+01
    9.98319328e-02   7.42178151e+01   8.57142857e-03   1.84327731e+00
    1.26974790e+00   2.05983193e+00]
 [  1.77500000e+02   4.24333333e+01   6.66666667e-02   1.03333333e+00
    1.66666667e-01   5.56666667e+01   0.00000000e+00   6.33333333e-01
    1.25333333e+02   2.66666667e-01]
 [  1.88880282e+02   3.31521127e+00   1.23022535e+01   1.61277465e+01
    4.60985915e-01   6.56526761e+01   4.22535211e-04   2.06661972e+00
    1.50845070e+00   1.18760563e+00]
 [  5.97350000e+02   1.32285714e+01   5.14500000e+01   1.88142857e+01
    6.37857143e+00   6.75214286e+00   5.55111512e-17   3.37928571e+00
    3.92857143e-01   5.13285714e+00]
 [  3.53412676e+02   7.14905634e+01   1.89169014e+00   8.45098592e+00
    6.21633803e+00   1.05605634e+01   2.49800181e-16   1.42577465e+00
    7.88732394e-02   2.76450704e+00]
 [  2.30283673e+02   4.31938776e+00   1.50575510e+01   1.25836735e+01
    6.07346939e-01   6.15483673e+01   3.91959184e+00   1.96306122e+00
    1.72244898e+00   1.41163265e+00]
 [  6.73321101e+01   9.67376147e+00   1.52045872e+00   2.40192661e+00
    1.45000000e+00   8.35812844e+01   2.94311927e-01   1.07990826e+00
    3.48440367e+00   6.68623853e-01]
 [  4.42135714e+02   8.35000000e+00   3.96350000e+01   1.36664286e+01
    1.13000000e+00   3.39042857e+01   5.55111512e-17   3.28857143e+00
    8.57142857e-01   1.49142857e+00]
 [  2.32174286e+02   3.05425714e+01   8.20257143e+00   5.57685714e+00
    2.53171429e+00   5.05588571e+01   1.16171429e+00   1.42228571e+00
    2.37428571e+00   1.04600000e+00]
 [  3.17112903e+02   1.04516129e+01   2.33425806e+01   1.48829032e+01
    3.70967742e-01   4.72138710e+01   9.83870968e-01   2.23741935e+00
    5.22580645e-01   1.99548387e+00]
 [  3.97000000e+01   6.97500000e+00   3.12500000e-01   1.37500000e+00
    1.57500000e+00   8.88000000e+01   0.00000000e+00   9.67500000e-01
    1.92250000e+02   1.35000000e+00]
 [  2.33737500e+02   2.19625000e+01   7.54875000e+00   1.91350000e+01
    2.22044605e-16   3.96500000e+00   0.00000000e+00   4.73900000e+01
    1.37500000e-01   1.05000000e+00]
 [  2.84250000e+02   6.20000000e+00   1.92750000e+01   2.18100000e+01
    0.00000000e+00   4.90600000e+01   0.00000000e+00   3.65000000e+00
    7.43000000e+01   1.34500000e+00]
 [  2.90709756e+02   4.50631707e+01   7.92512195e+00   7.41512195e+00
    3.87560976e+00   3.32770732e+01  -5.55111512e-17   2.43097561e+00
    1.04634146e+00   2.03268293e+00]
 [  1.43333333e+02   2.34333333e+01   1.16666667e+00   9.23333333e+00
    1.66666667e-01   6.76666667e+00   0.00000000e+00   5.92333333e+01
    0.00000000e+00   9.66666667e-01]
 [  2.85318000e+02   6.56040000e+00   2.37866000e+01   1.17038000e+01
    2.22800000e-01   5.49268000e+01   8.32667268e-17   2.41680000e+00
    1.37000000e+00   1.50320000e+00]]
[ 3 11  5 ..., 17  1 20]
0 [ 3 11  5 ..., 17  1 20]
1 [ 3 11  5 ..., 17  1 20]
2 [ 3 11  5 ..., 17  1 20]
3 [ 3 11  5 ..., 17  1 20]
4 [ 3 11  5 ..., 17  1 20]
5 [ 3 11  5 ..., 17  1 20]
6 [ 3 11  5 ..., 17  1 20]
7 [ 3 11  5 ..., 17  1 20]
8 [ 3 11  5 ..., 17  1 20]
9 [ 3 11  5 ..., 17  1 20]
10 [ 3 11  5 ..., 17  1 20]
11 [ 3 11  5 ..., 17  1 20]
12 [ 3 11  5 ..., 17  1 20]
13 [ 3 11  5 ..., 17  1 20]
14 [ 3 11  5 ..., 17  1 20]
15 [ 3 11  5 ..., 17  1 20]
16 [ 3 11  5 ..., 17  1 20]
17 [ 3 11  5 ..., 17  1 20]
18 [ 3 11  5 ..., 17  1 20]
19 [ 3 11  5 ..., 17  1 20]
20 [ 3 11  5 ..., 17  1 20]
21 [ 3 11  5 ..., 17  1 20]
22 [ 3 11  5 ..., 17  1 20]
23 [ 3 11  5 ..., 17  1 20]
24 [ 3 11  5 ..., 17  1 20]
25 [ 3 11  5 ..., 17  1 20]
26 [ 3 11  5 ..., 17  1 20]
27 [ 3 11  5 ..., 17  1 20]
28 [ 3 11  5 ..., 17  1 20]
29 [ 3 11  5 ..., 17  1 20]
30 [ 3 11  5 ..., 17  1 20]
31 [ 3 11  5 ..., 17  1 20]
32 [ 3 11  5 ..., 17  1 20]
33 [ 3 11  5 ..., 17  1 20]
34 [ 3 11  5 ..., 17  1 20]
35 [ 3 11  5 ..., 17  1 20]
36 [ 3 11  5 ..., 17  1 20]
37 [ 3 11  5 ..., 17  1 20]
38 [ 3 11  5 ..., 17  1 20]
39 [ 3 11  5 ..., 17  1 20]
40 [ 3 11  5 ..., 17  1 20]
41 [ 3 11  5 ..., 17  1 20]
42 [ 3 11  5 ..., 17  1 20]
43 [ 3 11  5 ..., 17  1 20]
44 [ 3 11  5 ..., 17  1 20]
45 [ 3 11  5 ..., 17  1 20]
46 [ 3 11  5 ..., 17  1 20]
47 [ 3 11  5 ..., 17  1 20]
48 [ 3 11  5 ..., 17  1 20]
49 [ 3 11  5 ..., 17  1 20]
50 [ 3 11  5 ..., 17  1 20]
51 [ 3 11  5 ..., 17  1 20]
52 [ 3 11  5 ..., 17  1 20]
53 [ 3 11  5 ..., 17  1 20]
54 [ 3 11  5 ..., 17  1 20]
55 [ 3 11  5 ..., 17  1 20]
56 [ 3 11  5 ..., 17  1 20]
57 [ 3 11  5 ..., 17  1 20]
58 [ 3 11  5 ..., 17  1 20]
59 [ 3 11  5 ..., 17  1 20]
60 [ 3 11  5 ..., 17  1 20]
61 [ 3 11  5 ..., 17  1 20]
62 [ 3 11  5 ..., 17  1 20]
63 [ 3 11  5 ..., 17  1 20]
64 [ 3 11  5 ..., 17  1 20]
65 [ 3 11  5 ..., 17  1 20]
66 [ 3 11  5 ..., 17  1 20]
67 [ 3 11  5 ..., 17  1 20]
68 [ 3 11  5 ..., 17  1 20]
69 [ 3 11  5 ..., 17  1 20]
70 [ 3 11  5 ..., 17  1 20]
71 [ 3 11  5 ..., 17  1 20]
72 [ 3 11  5 ..., 17  1 20]
73 [ 3 11  5 ..., 17  1 20]
74 [ 3 11  5 ..., 17  1 20]
75 [ 3 11  5 ..., 17  1 20]
76 [ 3 11  5 ..., 17  1 20]
77 [ 3 11  5 ..., 17  1 20]
78 [ 3 11  5 ..., 17  1 20]
79 [ 3 11  5 ..., 17  1 20]
80 [ 3 11  5 ..., 17  1 20]
81 [ 3 11  5 ..., 17  1 20]
82 [ 3 11  5 ..., 17  1 20]
83 [ 3 11  5 ..., 17  1 20]
84 [ 3 11  5 ..., 17  1 20]
85 [ 3 11  5 ..., 17  1 20]
86 [ 3 11  5 ..., 17  1 20]
87 [ 3 11  5 ..., 17  1 20]
88 [ 3 11  5 ..., 17  1 20]
89 [ 3 11  5 ..., 17  1 20]
90 [ 3 11  5 ..., 17  1 20]
91 [ 3 11  5 ..., 17  1 20]
92 [ 3 11  5 ..., 17  1 20]
93 [ 3 11  5 ..., 17  1 20]
94 [ 3 11  5 ..., 17  1 20]
95 [ 3 11  5 ..., 17  1 20]
96 [ 3 11  5 ..., 17  1 20]
97 [ 3 11  5 ..., 17  1 20]
98 [ 3 11  5 ..., 17  1 20]
99 [ 3 11  5 ..., 17  1 20]
100 [ 3 11  5 ..., 17  1 20]
101 [ 3 11  5 ..., 17  1 20]
102 [ 3 11  5 ..., 17  1 20]
103 [ 3 11  5 ..., 17  1 20]
104 [ 3 11  5 ..., 17  1 20]
105 [ 3 11  5 ..., 17  1 20]
106 [ 3 11  5 ..., 17  1 20]
107 [ 3 11  5 ..., 17  1 20]
108 [ 3 11  5 ..., 17  1 20]
109 [ 3 11  5 ..., 17  1 20]
110 [ 3 11  5 ..., 17  1 20]
111 [ 3 11  5 ..., 17  1 20]
112 [ 3 11  5 ..., 17  1 20]
113 [ 3 11  5 ..., 17  1 20]
114 [ 3 11  5 ..., 17  1 20]
115 [ 3 11  5 ..., 17  1 20]
116 [ 3 11  5 ..., 17  1 20]
117 [ 3 11  5 ..., 17  1 20]
118 [ 3 11  5 ..., 17  1 20]
119 [ 3 11  5 ..., 17  1 20]
120 [ 3 11  5 ..., 17  1 20]
121 [ 3 11  5 ..., 17  1 20]
122 [ 3 11  5 ..., 17  1 20]
123 [ 3 11  5 ..., 17  1 20]
124 [ 3 11  5 ..., 17  1 20]
125 [ 3 11  5 ..., 17  1 20]
126 [ 3 11  5 ..., 17  1 20]
127 [ 3 11  5 ..., 17  1 20]
128 [ 3 11  5 ..., 17  1 20]
129 [ 3 11  5 ..., 17  1 20]
130 [ 3 11  5 ..., 17  1 20]
131 [ 3 11  5 ..., 17  1 20]
132 [ 3 11  5 ..., 17  1 20]
133 [ 3 11  5 ..., 17  1 20]
134 [ 3 11  5 ..., 17  1 20]
135 [ 3 11  5 ..., 17  1 20]
136 [ 3 11  5 ..., 17  1 20]
137 [ 3 11  5 ..., 17  1 20]
138 [ 3 11  5 ..., 17  1 20]
139 [ 3 11  5 ..., 17  1 20]
140 [ 3 11  5 ..., 17  1 20]
141 [ 3 11  5 ..., 17  1 20]
142 [ 3 11  5 ..., 17  1 20]
143 [ 3 11  5 ..., 17  1 20]
144 [ 3 11  5 ..., 17  1 20]
145 [ 3 11  5 ..., 17  1 20]
146 [ 3 11  5 ..., 17  1 20]
147 [ 3 11  5 ..., 17  1 20]
148 [ 3 11  5 ..., 17  1 20]
149 [ 3 11  5 ..., 17  1 20]
150 [ 3 11  5 ..., 17  1 20]
151 [ 3 11  5 ..., 17  1 20]
152 [ 3 11  5 ..., 17  1 20]
153 [ 3 11  5 ..., 17  1 20]
154 [ 3 11  5 ..., 17  1 20]
155 [ 3 11  5 ..., 17  1 20]
156 [ 3 11  5 ..., 17  1 20]
157 [ 3 11  5 ..., 17  1 20]
158 [ 3 11  5 ..., 17  1 20]
159 [ 3 11  5 ..., 17  1 20]
160 [ 3 11  5 ..., 17  1 20]
161 [ 3 11  5 ..., 17  1 20]
162 [ 3 11  5 ..., 17  1 20]
163 [ 3 11  5 ..., 17  1 20]
164 [ 3 11  5 ..., 17  1 20]
165 [ 3 11  5 ..., 17  1 20]
166 [ 3 11  5 ..., 17  1 20]
167 [ 3 11  5 ..., 17  1 20]
168 [ 3 11  5 ..., 17  1 20]
169 [ 3 11  5 ..., 17  1 20]
170 [ 3 11  5 ..., 17  1 20]
171 [ 3 11  5 ..., 17  1 20]
172 [ 3 11  5 ..., 17  1 20]
173 [ 3 11  5 ..., 17  1 20]
174 [ 3 11  5 ..., 17  1 20]
175 [ 3 11  5 ..., 17  1 20]
176 [ 3 11  5 ..., 17  1 20]
177 [ 3 11  5 ..., 17  1 20]
178 [ 3 11  5 ..., 17  1 20]
179 [ 3 11  5 ..., 17  1 20]
180 [ 3 11  5 ..., 17  1 20]
181 [ 3 11  5 ..., 17  1 20]
182 [ 3 11  5 ..., 17  1 20]
183 [ 3 11  5 ..., 17  1 20]
184 [ 3 11  5 ..., 17  1 20]
185 [ 3 11  5 ..., 17  1 20]
186 [ 3 11  5 ..., 17  1 20]
187 [ 3 11  5 ..., 17  1 20]
188 [ 3 11  5 ..., 17  1 20]
189 [ 3 11  5 ..., 17  1 20]
190 [ 3 11  5 ..., 17  1 20]
191 [ 3 11  5 ..., 17  1 20]
192 [ 3 11  5 ..., 17  1 20]
193 [ 3 11  5 ..., 17  1 20]
194 [ 3 11  5 ..., 17  1 20]
195 [ 3 11  5 ..., 17  1 20]
196 [ 3 11  5 ..., 17  1 20]
197 [ 3 11  5 ..., 17  1 20]
198 [ 3 11  5 ..., 17  1 20]
199 [ 3 11  5 ..., 17  1 20]
200 [ 3 11  5 ..., 17  1 20]
201 [ 3 11  5 ..., 17  1 20]
202 [ 3 11  5 ..., 17  1 20]
203 [ 3 11  5 ..., 17  1 20]
204 [ 3 11  5 ..., 17  1 20]
205 [ 3 11  5 ..., 17  1 20]
206 [ 3 11  5 ..., 17  1 20]
207 [ 3 11  5 ..., 17  1 20]
208 [ 3 11  5 ..., 17  1 20]
209 [ 3 11  5 ..., 17  1 20]
210 [ 3 11  5 ..., 17  1 20]
211 [ 3 11  5 ..., 17  1 20]
212 [ 3 11  5 ..., 17  1 20]
213 [ 3 11  5 ..., 17  1 20]
214 [ 3 11  5 ..., 17  1 20]
215 [ 3 11  5 ..., 17  1 20]
216 [ 3 11  5 ..., 17  1 20]
217 [ 3 11  5 ..., 17  1 20]
218 [ 3 11  5 ..., 17  1 20]
219 [ 3 11  5 ..., 17  1 20]
220 [ 3 11  5 ..., 17  1 20]
221 [ 3 11  5 ..., 17  1 20]
222 [ 3 11  5 ..., 17  1 20]
223 [ 3 11  5 ..., 17  1 20]
224 [ 3 11  5 ..., 17  1 20]
225 [ 3 11  5 ..., 17  1 20]
226 [ 3 11  5 ..., 17  1 20]
227 [ 3 11  5 ..., 17  1 20]
228 [ 3 11  5 ..., 17  1 20]
229 [ 3 11  5 ..., 17  1 20]
230 [ 3 11  5 ..., 17  1 20]
231 [ 3 11  5 ..., 17  1 20]
232 [ 3 11  5 ..., 17  1 20]
233 [ 3 11  5 ..., 17  1 20]
234 [ 3 11  5 ..., 17  1 20]
235 [ 3 11  5 ..., 17  1 20]
236 [ 3 11  5 ..., 17  1 20]
237 [ 3 11  5 ..., 17  1 20]
238 [ 3 11  5 ..., 17  1 20]
239 [ 3 11  5 ..., 17  1 20]
240 [ 3 11  5 ..., 17  1 20]
241 [ 3 11  5 ..., 17  1 20]
242 [ 3 11  5 ..., 17  1 20]
243 [ 3 11  5 ..., 17  1 20]
244 [ 3 11  5 ..., 17  1 20]
245 [ 3 11  5 ..., 17  1 20]
246 [ 3 11  5 ..., 17  1 20]
247 [ 3 11  5 ..., 17  1 20]
248 [ 3 11  5 ..., 17  1 20]
249 [ 3 11  5 ..., 17  1 20]
250 [ 3 11  5 ..., 17  1 20]
251 [ 3 11  5 ..., 17  1 20]
252 [ 3 11  5 ..., 17  1 20]
253 [ 3 11  5 ..., 17  1 20]
254 [ 3 11  5 ..., 17  1 20]
255 [ 3 11  5 ..., 17  1 20]
256 [ 3 11  5 ..., 17  1 20]
257 [ 3 11  5 ..., 17  1 20]
258 [ 3 11  5 ..., 17  1 20]
259 [ 3 11  5 ..., 17  1 20]
260 [ 3 11  5 ..., 17  1 20]
261 [ 3 11  5 ..., 17  1 20]
262 [ 3 11  5 ..., 17  1 20]
263 [ 3 11  5 ..., 17  1 20]
264 [ 3 11  5 ..., 17  1 20]
265 [ 3 11  5 ..., 17  1 20]
266 [ 3 11  5 ..., 17  1 20]
267 [ 3 11  5 ..., 17  1 20]
268 [ 3 11  5 ..., 17  1 20]
269 [ 3 11  5 ..., 17  1 20]
270 [ 3 11  5 ..., 17  1 20]
271 [ 3 11  5 ..., 17  1 20]
272 [ 3 11  5 ..., 17  1 20]
273 [ 3 11  5 ..., 17  1 20]
274 [ 3 11  5 ..., 17  1 20]
275 [ 3 11  5 ..., 17  1 20]
276 [ 3 11  5 ..., 17  1 20]
277 [ 3 11  5 ..., 17  1 20]
278 [ 3 11  5 ..., 17  1 20]
279 [ 3 11  5 ..., 17  1 20]
280 [ 3 11  5 ..., 17  1 20]
281 [ 3 11  5 ..., 17  1 20]
282 [ 3 11  5 ..., 17  1 20]
283 [ 3 11  5 ..., 17  1 20]
284 [ 3 11  5 ..., 17  1 20]
285 [ 3 11  5 ..., 17  1 20]
286 [ 3 11  5 ..., 17  1 20]
287 [ 3 11  5 ..., 17  1 20]
288 [ 3 11  5 ..., 17  1 20]
289 [ 3 11  5 ..., 17  1 20]
290 [ 3 11  5 ..., 17  1 20]
291 [ 3 11  5 ..., 17  1 20]
292 [ 3 11  5 ..., 17  1 20]
293 [ 3 11  5 ..., 17  1 20]
294 [ 3 11  5 ..., 17  1 20]
295 [ 3 11  5 ..., 17  1 20]
296 [ 3 11  5 ..., 17  1 20]
297 [ 3 11  5 ..., 17  1 20]
298 [ 3 11  5 ..., 17  1 20]
299 [ 3 11  5 ..., 17  1 20]
300 [ 3 11  5 ..., 17  1 20]
301 [ 3 11  5 ..., 17  1 20]
302 [ 3 11  5 ..., 17  1 20]
303 [ 3 11  5 ..., 17  1 20]
304 [ 3 11  5 ..., 17  1 20]
305 [ 3 11  5 ..., 17  1 20]
306 [ 3 11  5 ..., 17  1 20]
307 [ 3 11  5 ..., 17  1 20]
308 [ 3 11  5 ..., 17  1 20]
309 [ 3 11  5 ..., 17  1 20]
310 [ 3 11  5 ..., 17  1 20]
311 [ 3 11  5 ..., 17  1 20]
312 [ 3 11  5 ..., 17  1 20]
313 [ 3 11  5 ..., 17  1 20]
314 [ 3 11  5 ..., 17  1 20]
315 [ 3 11  5 ..., 17  1 20]
316 [ 3 11  5 ..., 17  1 20]
317 [ 3 11  5 ..., 17  1 20]
318 [ 3 11  5 ..., 17  1 20]
319 [ 3 11  5 ..., 17  1 20]
320 [ 3 11  5 ..., 17  1 20]
321 [ 3 11  5 ..., 17  1 20]
322 [ 3 11  5 ..., 17  1 20]
323 [ 3 11  5 ..., 17  1 20]
324 [ 3 11  5 ..., 17  1 20]
325 [ 3 11  5 ..., 17  1 20]
326 [ 3 11  5 ..., 17  1 20]
327 [ 3 11  5 ..., 17  1 20]
328 [ 3 11  5 ..., 17  1 20]
329 [ 3 11  5 ..., 17  1 20]
330 [ 3 11  5 ..., 17  1 20]
331 [ 3 11  5 ..., 17  1 20]
332 [ 3 11  5 ..., 17  1 20]
333 [ 3 11  5 ..., 17  1 20]
334 [ 3 11  5 ..., 17  1 20]
335 [ 3 11  5 ..., 17  1 20]
336 [ 3 11  5 ..., 17  1 20]
337 [ 3 11  5 ..., 17  1 20]
338 [ 3 11  5 ..., 17  1 20]
339 [ 3 11  5 ..., 17  1 20]
340 [ 3 11  5 ..., 17  1 20]
341 [ 3 11  5 ..., 17  1 20]
342 [ 3 11  5 ..., 17  1 20]
343 [ 3 11  5 ..., 17  1 20]
344 [ 3 11  5 ..., 17  1 20]
345 [ 3 11  5 ..., 17  1 20]
346 [ 3 11  5 ..., 17  1 20]
347 [ 3 11  5 ..., 17  1 20]
348 [ 3 11  5 ..., 17  1 20]
349 [ 3 11  5 ..., 17  1 20]
350 [ 3 11  5 ..., 17  1 20]
351 [ 3 11  5 ..., 17  1 20]
352 [ 3 11  5 ..., 17  1 20]
353 [ 3 11  5 ..., 17  1 20]
354 [ 3 11  5 ..., 17  1 20]
355 [ 3 11  5 ..., 17  1 20]
356 [ 3 11  5 ..., 17  1 20]
357 [ 3 11  5 ..., 17  1 20]
358 [ 3 11  5 ..., 17  1 20]
359 [ 3 11  5 ..., 17  1 20]
360 [ 3 11  5 ..., 17  1 20]
361 [ 3 11  5 ..., 17  1 20]
362 [ 3 11  5 ..., 17  1 20]
363 [ 3 11  5 ..., 17  1 20]
364 [ 3 11  5 ..., 17  1 20]
365 [ 3 11  5 ..., 17  1 20]
366 [ 3 11  5 ..., 17  1 20]
367 [ 3 11  5 ..., 17  1 20]
368 [ 3 11  5 ..., 17  1 20]
369 [ 3 11  5 ..., 17  1 20]
370 [ 3 11  5 ..., 17  1 20]
371 [ 3 11  5 ..., 17  1 20]
372 [ 3 11  5 ..., 17  1 20]
373 [ 3 11  5 ..., 17  1 20]
374 [ 3 11  5 ..., 17  1 20]
375 [ 3 11  5 ..., 17  1 20]
376 [ 3 11  5 ..., 17  1 20]
377 [ 3 11  5 ..., 17  1 20]
378 [ 3 11  5 ..., 17  1 20]
379 [ 3 11  5 ..., 17  1 20]
380 [ 3 11  5 ..., 17  1 20]
381 [ 3 11  5 ..., 17  1 20]
382 [ 3 11  5 ..., 17  1 20]
383 [ 3 11  5 ..., 17  1 20]
384 [ 3 11  5 ..., 17  1 20]
385 [ 3 11  5 ..., 17  1 20]
386 [ 3 11  5 ..., 17  1 20]

446 [ 3 11  5 ..., 17  1 20]
447 [ 3 11  5 ..., 17  1 20]
448 [ 3 11  5 ..., 17  1 20]
449 [ 3 11  5 ..., 17  1 20]
450 [ 3 11  5 ..., 17  1 20]
451 [ 3 11  5 ..., 17  1 20]
452 [ 3 11  5 ..., 17  1 20]
453 [ 3 11  5 ..., 17  1 20]
454 [ 3 11  5 ..., 17  1 20]
455 [ 3 11  5 ..., 17  1 20]
456 [ 3 11  5 ..., 17  1 20]
457 [ 3 11  5 ..., 17  1 20]
458 [ 3 11  5 ..., 17  1 20]
459 [ 3 11  5 ..., 17  1 20]
460 [ 3 11  5 ..., 17  1 20]
461 [ 3 11  5 ..., 17  1 20]
462 [ 3 11  5 ..., 17  1 20]
463 [ 3 11  5 ..., 17  1 20]
464 [ 3 11  5 ..., 17  1 20]
465 [ 3 11  5 ..., 17  1 20]
466 [ 3 11  5 ..., 17  1 20]
467 [ 3 11  5 ..., 17  1 20]
468 [ 3 11  5 ..., 17  1 20]
469 [ 3 11  5 ..., 17  1 20]
470 [ 3 11  5 ..., 17  1 20]
471 [ 3 11  5 ..., 17  1 20]
472 [ 3 11  5 ..., 17  1 20]
473 [ 3 11  5 ..., 17  1 20]
474 [ 3 11  5 ..., 17  1 20]
475 [ 3 11  5 ..., 17  1 20]
476 [ 3 11  5 ..., 17  1 20]
477 [ 3 11  5 ..., 17  1 20]
478 [ 3 11  5 ..., 17  1 20]
479 [ 3 11  5 ..., 17  1 20]
480 [ 3 11  5 ..., 17  1 20]
481 [ 3 11  5 ..., 17  1 20]
482 [ 3 11  5 ..., 17  1 20]
483 [ 3 11  5 ..., 17  1 20]
484 [ 3 11  5 ..., 17  1 20]
485 [ 3 11  5 ..., 17  1 20]
486 [ 3 11  5 ..., 17  1 20]
487 [ 3 11  5 ..., 17  1 20]
488 [ 3 11  5 ..., 17  1 20]
489 [ 3 11  5 ..., 17  1 20]
490 [ 3 11  5 ..., 17  1 20]
491 [ 3 11  5 ..., 17  1 20]
492 [ 3 11  5 ..., 17  1 20]
493 [ 3 11  5 ..., 17  1 20]
494 [ 3 11  5 ..., 17  1 20]
495 [ 3 11  5 ..., 17  1 20]
496 [ 3 11  5 ..., 17  1 20]
497 [ 3 11  5 ..., 17  1 20]
498 [ 3 11  5 ..., 17  1 20]
499 [ 3 11  5 ..., 17  1 20]
500 [ 3 11  5 ..., 17  1 20]
501 [ 3 11  5 ..., 17  1 20]
502 [ 3 11  5 ..., 17  1 20]
503 [ 3 11  5 ..., 17  1 20]
504 [ 3 11  5 ..., 17  1 20]
505 [ 3 11  5 ..., 17  1 20]
506 [ 3 11  5 ..., 17  1 20]
507 [ 3 11  5 ..., 17  1 20]
508 [ 3 11  5 ..., 17  1 20]
509 [ 3 11  5 ..., 17  1 20]
510 [ 3 11  5 ..., 17  1 20]
511 [ 3 11  5 ..., 17  1 20]
512 [ 3 11  5 ..., 17  1 20]
513 [ 3 11  5 ..., 17  1 20]
514 [ 3 11  5 ..., 17  1 20]
515 [ 3 11  5 ..., 17  1 20]
516 [ 3 11  5 ..., 17  1 20]
517 [ 3 11  5 ..., 17  1 20]
518 [ 3 11  5 ..., 17  1 20]
519 [ 3 11  5 ..., 17  1 20]
520 [ 3 11  5 ..., 17  1 20]
521 [ 3 11  5 ..., 17  1 20]
522 [ 3 11  5 ..., 17  1 20]
523 [ 3 11  5 ..., 17  1 20]
524 [ 3 11  5 ..., 17  1 20]
525 [ 3 11  5 ..., 17  1 20]
526 [ 3 11  5 ..., 17  1 20]
527 [ 3 11  5 ..., 17  1 20]
528 [ 3 11  5 ..., 17  1 20]
529 [ 3 11  5 ..., 17  1 20]
530 [ 3 11  5 ..., 17  1 20]
531 [ 3 11  5 ..., 17  1 20]
532 [ 3 11  5 ..., 17  1 20]
533 [ 3 11  5 ..., 17  1 20]
534 [ 3 11  5 ..., 17  1 20]
535 [ 3 11  5 ..., 17  1 20]
536 [ 3 11  5 ..., 17  1 20]
537 [ 3 11  5 ..., 17  1 20]
538 [ 3 11  5 ..., 17  1 20]
539 [ 3 11  5 ..., 17  1 20]
540 [ 3 11  5 ..., 17  1 20]
541 [ 3 11  5 ..., 17  1 20]
542 [ 3 11  5 ..., 17  1 20]
543 [ 3 11  5 ..., 17  1 20]
544 [ 3 11  5 ..., 17  1 20]
545 [ 3 11  5 ..., 17  1 20]
546 [ 3 11  5 ..., 17  1 20]
547 [ 3 11  5 ..., 17  1 20]
548 [ 3 11  5 ..., 17  1 20]
549 [ 3 11  5 ..., 17  1 20]
550 [ 3 11  5 ..., 17  1 20]
551 [ 3 11  5 ..., 17  1 20]
552 [ 3 11  5 ..., 17  1 20]
553 [ 3 11  5 ..., 17  1 20]
554 [ 3 11  5 ..., 17  1 20]
555 [ 3 11  5 ..., 17  1 20]
556 [ 3 11  5 ..., 17  1 20]
557 [ 3 11  5 ..., 17  1 20]
558 [ 3 11  5 ..., 17  1 20]
559 [ 3 11  5 ..., 17  1 20]
560 [ 3 11  5 ..., 17  1 20]
561 [ 3 11  5 ..., 17  1 20]
562 [ 3 11  5 ..., 17  1 20]
563 [ 3 11  5 ..., 17  1 20]
564 [ 3 11  5 ..., 17  1 20]
565 [ 3 11  5 ..., 17  1 20]
566 [ 3 11  5 ..., 17  1 20]
567 [ 3 11  5 ..., 17  1 20]
568 [ 3 11  5 ..., 17  1 20]
569 [ 3 11  5 ..., 17  1 20]
570 [ 3 11  5 ..., 17  1 20]
571 [ 3 11  5 ..., 17  1 20]
572 [ 3 11  5 ..., 17  1 20]
573 [ 3 11  5 ..., 17  1 20]
574 [ 3 11  5 ..., 17  1 20]
575 [ 3 11  5 ..., 17  1 20]
576 [ 3 11  5 ..., 17  1 20]
577 [ 3 11  5 ..., 17  1 20]
578 [ 3 11  5 ..., 17  1 20]
579 [ 3 11  5 ..., 17  1 20]
580 [ 3 11  5 ..., 17  1 20]
581 [ 3 11  5 ..., 17  1 20]
582 [ 3 11  5 ..., 17  1 20]
583 [ 3 11  5 ..., 17  1 20]
584 [ 3 11  5 ..., 17  1 20]
585 [ 3 11  5 ..., 17  1 20]
586 [ 3 11  5 ..., 17  1 20]
587 [ 3 11  5 ..., 17  1 20]
588 [ 3 11  5 ..., 17  1 20]
589 [ 3 11  5 ..., 17  1 20]
590 [ 3 11  5 ..., 17  1 20]
591 [ 3 11  5 ..., 17  1 20]
592 [ 3 11  5 ..., 17  1 20]
593 [ 3 11  5 ..., 17  1 20]
594 [ 3 11  5 ..., 17  1 20]
595 [ 3 11  5 ..., 17  1 20]
596 [ 3 11  5 ..., 17  1 20]
597 [ 3 11  5 ..., 17  1 20]
598 [ 3 11  5 ..., 17  1 20]
599 [ 3 11  5 ..., 17  1 20]
600 [ 3 11  5 ..., 17  1 20]
601 [ 3 11  5 ..., 17  1 20]
602 [ 3 11  5 ..., 17  1 20]
603 [ 3 11  5 ..., 17  1 20]
604 [ 3 11  5 ..., 17  1 20]
605 [ 3 11  5 ..., 17  1 20]
606 [ 3 11  5 ..., 17  1 20]
607 [ 3 11  5 ..., 17  1 20]
608 [ 3 11  5 ..., 17  1 20]
609 [ 3 11  5 ..., 17  1 20]
610 [ 3 11  5 ..., 17  1 20]
611 [ 3 11  5 ..., 17  1 20]
612 [ 3 11  5 ..., 17  1 20]
613 [ 3 11  5 ..., 17  1 20]
614 [ 3 11  5 ..., 17  1 20]
615 [ 3 11  5 ..., 17  1 20]
616 [ 3 11  5 ..., 17  1 20]
617 [ 3 11  5 ..., 17  1 20]
618 [ 3 11  5 ..., 17  1 20]
619 [ 3 11  5 ..., 17  1 20]
620 [ 3 11  5 ..., 17  1 20]
621 [ 3 11  5 ..., 17  1 20]
622 [ 3 11  5 ..., 17  1 20]
623 [ 3 11  5 ..., 17  1 20]
624 [ 3 11  5 ..., 17  1 20]
625 [ 3 11  5 ..., 17  1 20]
626 [ 3 11  5 ..., 17  1 20]
627 [ 3 11  5 ..., 17  1 20]
628 [ 3 11  5 ..., 17  1 20]
629 [ 3 11  5 ..., 17  1 20]
630 [ 3 11  5 ..., 17  1 20]
631 [ 3 11  5 ..., 17  1 20]
632 [ 3 11  5 ..., 17  1 20]
633 [ 3 11  5 ..., 17  1 20]
634 [ 3 11  5 ..., 17  1 20]
635 [ 3 11  5 ..., 17  1 20]
636 [ 3 11  5 ..., 17  1 20]
637 [ 3 11  5 ..., 17  1 20]
638 [ 3 11  5 ..., 17  1 20]
639 [ 3 11  5 ..., 17  1 20]
640 [ 3 11  5 ..., 17  1 20]
641 [ 3 11  5 ..., 17  1 20]
642 [ 3 11  5 ..., 17  1 20]
643 [ 3 11  5 ..., 17  1 20]
644 [ 3 11  5 ..., 17  1 20]
645 [ 3 11  5 ..., 17  1 20]
646 [ 3 11  5 ..., 17  1 20]
647 [ 3 11  5 ..., 17  1 20]
648 [ 3 11  5 ..., 17  1 20]
649 [ 3 11  5 ..., 17  1 20]
650 [ 3 11  5 ..., 17  1 20]
651 [ 3 11  5 ..., 17  1 20]
652 [ 3 11  5 ..., 17  1 20]
653 [ 3 11  5 ..., 17  1 20]
654 [ 3 11  5 ..., 17  1 20]
655 [ 3 11  5 ..., 17  1 20]
656 [ 3 11  5 ..., 17  1 20]
657 [ 3 11  5 ..., 17  1 20]
658 [ 3 11  5 ..., 17  1 20]
659 [ 3 11  5 ..., 17  1 20]
660 [ 3 11  5 ..., 17  1 20]
661 [ 3 11  5 ..., 17  1 20]
662 [ 3 11  5 ..., 17  1 20]
663 [ 3 11  5 ..., 17  1 20]
664 [ 3 11  5 ..., 17  1 20]
665 [ 3 11  5 ..., 17  1 20]
666 [ 3 11  5 ..., 17  1 20]
667 [ 3 11  5 ..., 17  1 20]
668 [ 3 11  5 ..., 17  1 20]
669 [ 3 11  5 ..., 17  1 20]
670 [ 3 11  5 ..., 17  1 20]
671 [ 3 11  5 ..., 17  1 20]
672 [ 3 11  5 ..., 17  1 20]
673 [ 3 11  5 ..., 17  1 20]
674 [ 3 11  5 ..., 17  1 20]
675 [ 3 11  5 ..., 17  1 20]
676 [ 3 11  5 ..., 17  1 20]
677 [ 3 11  5 ..., 17  1 20]
678 [ 3 11  5 ..., 17  1 20]
679 [ 3 11  5 ..., 17  1 20]
680 [ 3 11  5 ..., 17  1 20]
681 [ 3 11  5 ..., 17  1 20]
682 [ 3 11  5 ..., 17  1 20]
683 [ 3 11  5 ..., 17  1 20]
684 [ 3 11  5 ..., 17  1 20]
685 [ 3 11  5 ..., 17  1 20]
686 [ 3 11  5 ..., 17  1 20]
687 [ 3 11  5 ..., 17  1 20]
688 [ 3 11  5 ..., 17  1 20]
689 [ 3 11  5 ..., 17  1 20]
690 [ 3 11  5 ..., 17  1 20]
691 [ 3 11  5 ..., 17  1 20]
692 [ 3 11  5 ..., 17  1 20]
693 [ 3 11  5 ..., 17  1 20]
694 [ 3 11  5 ..., 17  1 20]
695 [ 3 11  5 ..., 17  1 20]
696 [ 3 11  5 ..., 17  1 20]
697 [ 3 11  5 ..., 17  1 20]
698 [ 3 11  5 ..., 17  1 20]
699 [ 3 11  5 ..., 17  1 20]
700 [ 3 11  5 ..., 17  1 20]
701 [ 3 11  5 ..., 17  1 20]
702 [ 3 11  5 ..., 17  1 20]
703 [ 3 11  5 ..., 17  1 20]
704 [ 3 11  5 ..., 17  1 20]
705 [ 3 11  5 ..., 17  1 20]
706 [ 3 11  5 ..., 17  1 20]
707 [ 3 11  5 ..., 17  1 20]
708 [ 3 11  5 ..., 17  1 20]
709 [ 3 11  5 ..., 17  1 20]
710 [ 3 11  5 ..., 17  1 20]
711 [ 3 11  5 ..., 17  1 20]
712 [ 3 11  5 ..., 17  1 20]
713 [ 3 11  5 ..., 17  1 20]
714 [ 3 11  5 ..., 17  1 20]
715 [ 3 11  5 ..., 17  1 20]
716 [ 3 11  5 ..., 17  1 20]
717 [ 3 11  5 ..., 17  1 20]
718 [ 3 11  5 ..., 17  1 20]
719 [ 3 11  5 ..., 17  1 20]
720 [ 3 11  5 ..., 17  1 20]
721 [ 3 11  5 ..., 17  1 20]
722 [ 3 11  5 ..., 17  1 20]
723 [ 3 11  5 ..., 17  1 20]
724 [ 3 11  5 ..., 17  1 20]
725 [ 3 11  5 ..., 17  1 20]
726 [ 3 11  5 ..., 17  1 20]
727 [ 3 11  5 ..., 17  1 20]
728 [ 3 11  5 ..., 17  1 20]
729 [ 3 11  5 ..., 17  1 20]
730 [ 3 11  5 ..., 17  1 20]
731 [ 3 11  5 ..., 17  1 20]
732 [ 3 11  5 ..., 17  1 20]
733 [ 3 11  5 ..., 17  1 20]
734 [ 3 11  5 ..., 17  1 20]
735 [ 3 11  5 ..., 17  1 20]
736 [ 3 11  5 ..., 17  1 20]
737 [ 3 11  5 ..., 17  1 20]
738 [ 3 11  5 ..., 17  1 20]
739 [ 3 11  5 ..., 17  1 20]
740 [ 3 11  5 ..., 17  1 20]
741 [ 3 11  5 ..., 17  1 20]
742 [ 3 11  5 ..., 17  1 20]
743 [ 3 11  5 ..., 17  1 20]
744 [ 3 11  5 ..., 17  1 20]
745 [ 3 11  5 ..., 17  1 20]
746 [ 3 11  5 ..., 17  1 20]
747 [ 3 11  5 ..., 17  1 20]
748 [ 3 11  5 ..., 17  1 20]
749 [ 3 11  5 ..., 17  1 20]
750 [ 3 11  5 ..., 17  1 20]
751 [ 3 11  5 ..., 17  1 20]
752 [ 3 11  5 ..., 17  1 20]
753 [ 3 11  5 ..., 17  1 20]
754 [ 3 11  5 ..., 17  1 20]
755 [ 3 11  5 ..., 17  1 20]
756 [ 3 11  5 ..., 17  1 20]
757 [ 3 11  5 ..., 17  1 20]
758 [ 3 11  5 ..., 17  1 20]
759 [ 3 11  5 ..., 17  1 20]
760 [ 3 11  5 ..., 17  1 20]
761 [ 3 11  5 ..., 17  1 20]
762 [ 3 11  5 ..., 17  1 20]
763 [ 3 11  5 ..., 17  1 20]
764 [ 3 11  5 ..., 17  1 20]
765 [ 3 11  5 ..., 17  1 20]
766 [ 3 11  5 ..., 17  1 20]
767 [ 3 11  5 ..., 17  1 20]
768 [ 3 11  5 ..., 17  1 20]
769 [ 3 11  5 ..., 17  1 20]
770 [ 3 11  5 ..., 17  1 20]
771 [ 3 11  5 ..., 17  1 20]
772 [ 3 11  5 ..., 17  1 20]
773 [ 3 11  5 ..., 17  1 20]
774 [ 3 11  5 ..., 17  1 20]
775 [ 3 11  5 ..., 17  1 20]
776 [ 3 11  5 ..., 17  1 20]
777 [ 3 11  5 ..., 17  1 20]
778 [ 3 11  5 ..., 17  1 20]
779 [ 3 11  5 ..., 17  1 20]
780 [ 3 11  5 ..., 17  1 20]
781 [ 3 11  5 ..., 17  1 20]
782 [ 3 11  5 ..., 17  1 20]
783 [ 3 11  5 ..., 17  1 20]
784 [ 3 11  5 ..., 17  1 20]
785 [ 3 11  5 ..., 17  1 20]
786 [ 3 11  5 ..., 17  1 20]
787 [ 3 11  5 ..., 17  1 20]
788 [ 3 11  5 ..., 17  1 20]
789 [ 3 11  5 ..., 17  1 20]
790 [ 3 11  5 ..., 17  1 20]
791 [ 3 11  5 ..., 17  1 20]
792 [ 3 11  5 ..., 17  1 20]
793 [ 3 11  5 ..., 17  1 20]
794 [ 3 11  5 ..., 17  1 20]
795 [ 3 11  5 ..., 17  1 20]
796 [ 3 11  5 ..., 17  1 20]
797 [ 3 11  5 ..., 17  1 20]
798 [ 3 11  5 ..., 17  1 20]
799 [ 3 11  5 ..., 17  1 20]
800 [ 3 11  5 ..., 17  1 20]
801 [ 3 11  5 ..., 17  1 20]
802 [ 3 11  5 ..., 17  1 20]
803 [ 3 11  5 ..., 17  1 20]
804 [ 3 11  5 ..., 17  1 20]
805 [ 3 11  5 ..., 17  1 20]
806 [ 3 11  5 ..., 17  1 20]
807 [ 3 11  5 ..., 17  1 20]
808 [ 3 11  5 ..., 17  1 20]
809 [ 3 11  5 ..., 17  1 20]
810 [ 3 11  5 ..., 17  1 20]
811 [ 3 11  5 ..., 17  1 20]
812 [ 3 11  5 ..., 17  1 20]
813 [ 3 11  5 ..., 17  1 20]
814 [ 3 11  5 ..., 17  1 20]
815 [ 3 11  5 ..., 17  1 20]
816 [ 3 11  5 ..., 17  1 20]
817 [ 3 11  5 ..., 17  1 20]
818 [ 3 11  5 ..., 17  1 20]
819 [ 3 11  5 ..., 17  1 20]
820 [ 3 11  5 ..., 17  1 20]
821 [ 3 11  5 ..., 17  1 20]
822 [ 3 11  5 ..., 17  1 20]
823 [ 3 11  5 ..., 17  1 20]
824 [ 3 11  5 ..., 17  1 20]
825 [ 3 11  5 ..., 17  1 20]
826 [ 3 11  5 ..., 17  1 20]
827 [ 3 11  5 ..., 17  1 20]
828 [ 3 11  5 ..., 17  1 20]
829 [ 3 11  5 ..., 17  1 20]
830 [ 3 11  5 ..., 17  1 20]
831 [ 3 11  5 ..., 17  1 20]
832 [ 3 11  5 ..., 17  1 20]
833 [ 3 11  5 ..., 17  1 20]
834 [ 3 11  5 ..., 17  1 20]
835 [ 3 11  5 ..., 17  1 20]
836 [ 3 11  5 ..., 17  1 20]
837 [ 3 11  5 ..., 17  1 20]
838 [ 3 11  5 ..., 17  1 20]
839 [ 3 11  5 ..., 17  1 20]
840 [ 3 11  5 ..., 17  1 20]
841 [ 3 11  5 ..., 17  1 20]
842 [ 3 11  5 ..., 17  1 20]
843 [ 3 11  5 ..., 17  1 20]
844 [ 3 11  5 ..., 17  1 20]
845 [ 3 11  5 ..., 17  1 20]
846 [ 3 11  5 ..., 17  1 20]
847 [ 3 11  5 ..., 17  1 20]
848 [ 3 11  5 ..., 17  1 20]
849 [ 3 11  5 ..., 17  1 20]
850 [ 3 11  5 ..., 17  1 20]
851 [ 3 11  5 ..., 17  1 20]
852 [ 3 11  5 ..., 17  1 20]
853 [ 3 11  5 ..., 17  1 20]
854 [ 3 11  5 ..., 17  1 20]
855 [ 3 11  5 ..., 17  1 20]
856 [ 3 11  5 ..., 17  1 20]
857 [ 3 11  5 ..., 17  1 20]
858 [ 3 11  5 ..., 17  1 20]
859 [ 3 11  5 ..., 17  1 20]
860 [ 3 11  5 ..., 17  1 20]
861 [ 3 11  5 ..., 17  1 20]
862 [ 3 11  5 ..., 17  1 20]
863 [ 3 11  5 ..., 17  1 20]
864 [ 3 11  5 ..., 17  1 20]
865 [ 3 11  5 ..., 17  1 20]
866 [ 3 11  5 ..., 17  1 20]
867 [ 3 11  5 ..., 17  1 20]
868 [ 3 11  5 ..., 17  1 20]
869 [ 3 11  5 ..., 17  1 20]
870 [ 3 11  5 ..., 17  1 20]
871 [ 3 11  5 ..., 17  1 20]
872 [ 3 11  5 ..., 17  1 20]
873 [ 3 11  5 ..., 17  1 20]
874 [ 3 11  5 ..., 17  1 20]
875 [ 3 11  5 ..., 17  1 20]
876 [ 3 11  5 ..., 17  1 20]
877 [ 3 11  5 ..., 17  1 20]
878 [ 3 11  5 ..., 17  1 20]
879 [ 3 11  5 ..., 17  1 20]
880 [ 3 11  5 ..., 17  1 20]
881 [ 3 11  5 ..., 17  1 20]
882 [ 3 11  5 ..., 17  1 20]
883 [ 3 11  5 ..., 17  1 20]
884 [ 3 11  5 ..., 17  1 20]
885 [ 3 11  5 ..., 17  1 20]
886 [ 3 11  5 ..., 17  1 20]
887 [ 3 11  5 ..., 17  1 20]
888 [ 3 11  5 ..., 17  1 20]
889 [ 3 11  5 ..., 17  1 20]
890 [ 3 11  5 ..., 17  1 20]
891 [ 3 11  5 ..., 17  1 20]
892 [ 3 11  5 ..., 17  1 20]

893 [ 3 11  5 ..., 17  1 20]
894 [ 3 11  5 ..., 17  1 20]
895 [ 3 11  5 ..., 17  1 20]
896 [ 3 11  5 ..., 17  1 20]
897 [ 3 11  5 ..., 17  1 20]
898 [ 3 11  5 ..., 17  1 20]
899 [ 3 11  5 ..., 17  1 20]
900 [ 3 11  5 ..., 17  1 20]
901 [ 3 11  5 ..., 17  1 20]
902 [ 3 11  5 ..., 17  1 20]
903 [ 3 11  5 ..., 17  1 20]
904 [ 3 11  5 ..., 17  1 20]
905 [ 3 11  5 ..., 17  1 20]
906 [ 3 11  5 ..., 17  1 20]
907 [ 3 11  5 ..., 17  1 20]
908 [ 3 11  5 ..., 17  1 20]
909 [ 3 11  5 ..., 17  1 20]
910 [ 3 11  5 ..., 17  1 20]
911 [ 3 11  5 ..., 17  1 20]
912 [ 3 11  5 ..., 17  1 20]
913 [ 3 11  5 ..., 17  1 20]
914 [ 3 11  5 ..., 17  1 20]
915 [ 3 11  5 ..., 17  1 20]
916 [ 3 11  5 ..., 17  1 20]
917 [ 3 11  5 ..., 17  1 20]
918 [ 3 11  5 ..., 17  1 20]
919 [ 3 11  5 ..., 17  1 20]
920 [ 3 11  5 ..., 17  1 20]
921 [ 3 11  5 ..., 17  1 20]
922 [ 3 11  5 ..., 17  1 20]
923 [ 3 11  5 ..., 17  1 20]
924 [ 3 11  5 ..., 17  1 20]
925 [ 3 11  5 ..., 17  1 20]
926 [ 3 11  5 ..., 17  1 20]
927 [ 3 11  5 ..., 17  1 20]
928 [ 3 11  5 ..., 17  1 20]
929 [ 3 11  5 ..., 17  1 20]
930 [ 3 11  5 ..., 17  1 20]
931 [ 3 11  5 ..., 17  1 20]
932 [ 3 11  5 ..., 17  1 20]
933 [ 3 11  5 ..., 17  1 20]
934 [ 3 11  5 ..., 17  1 20]
935 [ 3 11  5 ..., 17  1 20]
936 [ 3 11  5 ..., 17  1 20]
937 [ 3 11  5 ..., 17  1 20]
938 [ 3 11  5 ..., 17  1 20]
939 [ 3 11  5 ..., 17  1 20]
940 [ 3 11  5 ..., 17  1 20]
941 [ 3 11  5 ..., 17  1 20]
942 [ 3 11  5 ..., 17  1 20]
943 [ 3 11  5 ..., 17  1 20]
944 [ 3 11  5 ..., 17  1 20]
945 [ 3 11  5 ..., 17  1 20]
946 [ 3 11  5 ..., 17  1 20]
947 [ 3 11  5 ..., 17  1 20]
948 [ 3 11  5 ..., 17  1 20]
949 [ 3 11  5 ..., 17  1 20]
950 [ 3 11  5 ..., 17  1 20]
951 [ 3 11  5 ..., 17  1 20]
952 [ 3 11  5 ..., 17  1 20]
953 [ 3 11  5 ..., 17  1 20]
954 [ 3 11  5 ..., 17  1 20]
955 [ 3 11  5 ..., 17  1 20]
956 [ 3 11  5 ..., 17  1 20]
957 [ 3 11  5 ..., 17  1 20]
958 [ 3 11  5 ..., 17  1 20]
959 [ 3 11  5 ..., 17  1 20]
960 [ 3 11  5 ..., 17  1 20]
961 [ 3 11  5 ..., 17  1 20]
962 [ 3 11  5 ..., 17  1 20]
963 [ 3 11  5 ..., 17  1 20]
964 [ 3 11  5 ..., 17  1 20]
965 [ 3 11  5 ..., 17  1 20]
966 [ 3 11  5 ..., 17  1 20]
967 [ 3 11  5 ..., 17  1 20]
968 [ 3 11  5 ..., 17  1 20]
969 [ 3 11  5 ..., 17  1 20]
970 [ 3 11  5 ..., 17  1 20]
971 [ 3 11  5 ..., 17  1 20]
972 [ 3 11  5 ..., 17  1 20]
973 [ 3 11  5 ..., 17  1 20]
974 [ 3 11  5 ..., 17  1 20]
975 [ 3 11  5 ..., 17  1 20]
976 [ 3 11  5 ..., 17  1 20]
977 [ 3 11  5 ..., 17  1 20]
978 [ 3 11  5 ..., 17  1 20]
979 [ 3 11  5 ..., 17  1 20]
980 [ 3 11  5 ..., 17  1 20]
981 [ 3 11  5 ..., 17  1 20]
982 [ 3 11  5 ..., 17  1 20]
983 [ 3 11  5 ..., 17  1 20]
984 [ 3 11  5 ..., 17  1 20]
985 [ 3 11  5 ..., 17  1 20]
986 [ 3 11  5 ..., 17  1 20]
987 [ 3 11  5 ..., 17  1 20]
988 [ 3 11  5 ..., 17  1 20]
989 [ 3 11  5 ..., 17  1 20]
990 [ 3 11  5 ..., 17  1 20]
991 [ 3 11  5 ..., 17  1 20]
992 [ 3 11  5 ..., 17  1 20]
993 [ 3 11  5 ..., 17  1 20]
994 [ 3 11  5 ..., 17  1 20]
995 [ 3 11  5 ..., 17  1 20]
996 [ 3 11  5 ..., 17  1 20]
997 [ 3 11  5 ..., 17  1 20]
998 [ 3 11  5 ..., 17  1 20]
999 [ 3 11  5 ..., 17  1 20]
1000 [ 3 11  5 ..., 17  1 20]
1001 [ 3 11  5 ..., 17  1 20]
1002 [ 3 11  5 ..., 17  1 20]
1003 [ 3 11  5 ..., 17  1 20]
1004 [ 3 11  5 ..., 17  1 20]
1005 [ 3 11  5 ..., 17  1 20]
1006 [ 3 11  5 ..., 17  1 20]
1007 [ 3 11  5 ..., 17  1 20]
1008 [ 3 11  5 ..., 17  1 20]
1009 [ 3 11  5 ..., 17  1 20]
1010 [ 3 11  5 ..., 17  1 20]
1011 [ 3 11  5 ..., 17  1 20]
1012 [ 3 11  5 ..., 17  1 20]
1013 [ 3 11  5 ..., 17  1 20]
1014 [ 3 11  5 ..., 17  1 20]
1015 [ 3 11  5 ..., 17  1 20]
1016 [ 3 11  5 ..., 17  1 20]
1017 [ 3 11  5 ..., 17  1 20]
1018 [ 3 11  5 ..., 17  1 20]
1019 [ 3 11  5 ..., 17  1 20]
1020 [ 3 11  5 ..., 17  1 20]
1021 [ 3 11  5 ..., 17  1 20]
1022 [ 3 11  5 ..., 17  1 20]
1023 [ 3 11  5 ..., 17  1 20]
1024 [ 3 11  5 ..., 17  1 20]
1025 [ 3 11  5 ..., 17  1 20]
1026 [ 3 11  5 ..., 17  1 20]
1027 [ 3 11  5 ..., 17  1 20]
1028 [ 3 11  5 ..., 17  1 20]
1029 [ 3 11  5 ..., 17  1 20]
1030 [ 3 11  5 ..., 17  1 20]
1031 [ 3 11  5 ..., 17  1 20]
1032 [ 3 11  5 ..., 17  1 20]
1033 [ 3 11  5 ..., 17  1 20]
1034 [ 3 11  5 ..., 17  1 20]
1035 [ 3 11  5 ..., 17  1 20]
1036 [ 3 11  5 ..., 17  1 20]
1037 [ 3 11  5 ..., 17  1 20]
1038 [ 3 11  5 ..., 17  1 20]
1039 [ 3 11  5 ..., 17  1 20]
1040 [ 3 11  5 ..., 17  1 20]
1041 [ 3 11  5 ..., 17  1 20]
1042 [ 3 11  5 ..., 17  1 20]
1043 [ 3 11  5 ..., 17  1 20]
1044 [ 3 11  5 ..., 17  1 20]
1045 [ 3 11  5 ..., 17  1 20]
1046 [ 3 11  5 ..., 17  1 20]
1047 [ 3 11  5 ..., 17  1 20]
1048 [ 3 11  5 ..., 17  1 20]
1049 [ 3 11  5 ..., 17  1 20]
1050 [ 3 11  5 ..., 17  1 20]
1051 [ 3 11  5 ..., 17  1 20]
1052 [ 3 11  5 ..., 17  1 20]
1053 [ 3 11  5 ..., 17  1 20]
1054 [ 3 11  5 ..., 17  1 20]
1055 [ 3 11  5 ..., 17  1 20]
1056 [ 3 11  5 ..., 17  1 20]
1057 [ 3 11  5 ..., 17  1 20]
1058 [ 3 11  5 ..., 17  1 20]
1059 [ 3 11  5 ..., 17  1 20]
1060 [ 3 11  5 ..., 17  1 20]
1061 [ 3 11  5 ..., 17  1 20]
1062 [ 3 11  5 ..., 17  1 20]
1063 [ 3 11  5 ..., 17  1 20]
1064 [ 3 11  5 ..., 17  1 20]
1065 [ 3 11  5 ..., 17  1 20]
1066 [ 3 11  5 ..., 17  1 20]
1067 [ 3 11  5 ..., 17  1 20]
1068 [ 3 11  5 ..., 17  1 20]
1069 [ 3 11  5 ..., 17  1 20]
1070 [ 3 11  5 ..., 17  1 20]
1071 [ 3 11  5 ..., 17  1 20]
1072 [ 3 11  5 ..., 17  1 20]
1073 [ 3 11  5 ..., 17  1 20]
1074 [ 3 11  5 ..., 17  1 20]
1075 [ 3 11  5 ..., 17  1 20]
1076 [ 3 11  5 ..., 17  1 20]
1077 [ 3 11  5 ..., 17  1 20]
1078 [ 3 11  5 ..., 17  1 20]
1079 [ 3 11  5 ..., 17  1 20]
1080 [ 3 11  5 ..., 17  1 20]
1081 [ 3 11  5 ..., 17  1 20]
1082 [ 3 11  5 ..., 17  1 20]
1083 [ 3 11  5 ..., 17  1 20]
1084 [ 3 11  5 ..., 17  1 20]
1085 [ 3 11  5 ..., 17  1 20]
1086 [ 3 11  5 ..., 17  1 20]
1087 [ 3 11  5 ..., 17  1 20]
1088 [ 3 11  5 ..., 17  1 20]
1089 [ 3 11  5 ..., 17  1 20]
1090 [ 3 11  5 ..., 17  1 20]
1091 [ 3 11  5 ..., 17  1 20]
1092 [ 3 11  5 ..., 17  1 20]
1093 [ 3 11  5 ..., 17  1 20]
1094 [ 3 11  5 ..., 17  1 20]
1095 [ 3 11  5 ..., 17  1 20]
1096 [ 3 11  5 ..., 17  1 20]
1097 [ 3 11  5 ..., 17  1 20]
1098 [ 3 11  5 ..., 17  1 20]
1099 [ 3 11  5 ..., 17  1 20]
1100 [ 3 11  5 ..., 17  1 20]
1101 [ 3 11  5 ..., 17  1 20]
1102 [ 3 11  5 ..., 17  1 20]
1103 [ 3 11  5 ..., 17  1 20]
1104 [ 3 11  5 ..., 17  1 20]
1105 [ 3 11  5 ..., 17  1 20]
1106 [ 3 11  5 ..., 17  1 20]
1107 [ 3 11  5 ..., 17  1 20]
1108 [ 3 11  5 ..., 17  1 20]
1109 [ 3 11  5 ..., 17  1 20]
1110 [ 3 11  5 ..., 17  1 20]
1111 [ 3 11  5 ..., 17  1 20]
1112 [ 3 11  5 ..., 17  1 20]
1113 [ 3 11  5 ..., 17  1 20]
1114 [ 3 11  5 ..., 17  1 20]
1115 [ 3 11  5 ..., 17  1 20]
1116 [ 3 11  5 ..., 17  1 20]
1117 [ 3 11  5 ..., 17  1 20]
1118 [ 3 11  5 ..., 17  1 20]
1119 [ 3 11  5 ..., 17  1 20]
1120 [ 3 11  5 ..., 17  1 20]
1121 [ 3 11  5 ..., 17  1 20]
1122 [ 3 11  5 ..., 17  1 20]
1123 [ 3 11  5 ..., 17  1 20]
1124 [ 3 11  5 ..., 17  1 20]
1125 [ 3 11  5 ..., 17  1 20]
1126 [ 3 11  5 ..., 17  1 20]
1127 [ 3 11  5 ..., 17  1 20]
1128 [ 3 11  5 ..., 17  1 20]
1129 [ 3 11  5 ..., 17  1 20]
1130 [ 3 11  5 ..., 17  1 20]
1131 [ 3 11  5 ..., 17  1 20]
1132 [ 3 11  5 ..., 17  1 20]
1133 [ 3 11  5 ..., 17  1 20]
1134 [ 3 11  5 ..., 17  1 20]
1135 [ 3 11  5 ..., 17  1 20]
1136 [ 3 11  5 ..., 17  1 20]
1137 [ 3 11  5 ..., 17  1 20]
1138 [ 3 11  5 ..., 17  1 20]
1139 [ 3 11  5 ..., 17  1 20]
1140 [ 3 11  5 ..., 17  1 20]
1141 [ 3 11  5 ..., 17  1 20]
1142 [ 3 11  5 ..., 17  1 20]
1143 [ 3 11  5 ..., 17  1 20]
1144 [ 3 11  5 ..., 17  1 20]
1145 [ 3 11  5 ..., 17  1 20]
1146 [ 3 11  5 ..., 17  1 20]
1147 [ 3 11  5 ..., 17  1 20]
1148 [ 3 11  5 ..., 17  1 20]
1149 [ 3 11  5 ..., 17  1 20]
1150 [ 3 11  5 ..., 17  1 20]
1151 [ 3 11  5 ..., 17  1 20]
1152 [ 3 11  5 ..., 17  1 20]
1153 [ 3 11  5 ..., 17  1 20]
1154 [ 3 11  5 ..., 17  1 20]
1155 [ 3 11  5 ..., 17  1 20]
1156 [ 3 11  5 ..., 17  1 20]
1157 [ 3 11  5 ..., 17  1 20]
1158 [ 3 11  5 ..., 17  1 20]
1159 [ 3 11  5 ..., 17  1 20]
1160 [ 3 11  5 ..., 17  1 20]
1161 [ 3 11  5 ..., 17  1 20]
1162 [ 3 11  5 ..., 17  1 20]
1163 [ 3 11  5 ..., 17  1 20]
1164 [ 3 11  5 ..., 17  1 20]
1165 [ 3 11  5 ..., 17  1 20]
1166 [ 3 11  5 ..., 17  1 20]
1167 [ 3 11  5 ..., 17  1 20]
1168 [ 3 11  5 ..., 17  1 20]
1169 [ 3 11  5 ..., 17  1 20]
1170 [ 3 11  5 ..., 17  1 20]
1171 [ 3 11  5 ..., 17  1 20]
1172 [ 3 11  5 ..., 17  1 20]
1173 [ 3 11  5 ..., 17  1 20]
1174 [ 3 11  5 ..., 17  1 20]
1175 [ 3 11  5 ..., 17  1 20]
1176 [ 3 11  5 ..., 17  1 20]
1177 [ 3 11  5 ..., 17  1 20]
1178 [ 3 11  5 ..., 17  1 20]
1179 [ 3 11  5 ..., 17  1 20]
1180 [ 3 11  5 ..., 17  1 20]
1181 [ 3 11  5 ..., 17  1 20]
1182 [ 3 11  5 ..., 17  1 20]
1183 [ 3 11  5 ..., 17  1 20]
1184 [ 3 11  5 ..., 17  1 20]
1185 [ 3 11  5 ..., 17  1 20]
1186 [ 3 11  5 ..., 17  1 20]
1187 [ 3 11  5 ..., 17  1 20]
1188 [ 3 11  5 ..., 17  1 20]
1189 [ 3 11  5 ..., 17  1 20]
1190 [ 3 11  5 ..., 17  1 20]
1191 [ 3 11  5 ..., 17  1 20]
1192 [ 3 11  5 ..., 17  1 20]
1193 [ 3 11  5 ..., 17  1 20]
1194 [ 3 11  5 ..., 17  1 20]
1195 [ 3 11  5 ..., 17  1 20]
1196 [ 3 11  5 ..., 17  1 20]
1197 [ 3 11  5 ..., 17  1 20]
1198 [ 3 11  5 ..., 17  1 20]
1199 [ 3 11  5 ..., 17  1 20]
1200 [ 3 11  5 ..., 17  1 20]
1201 [ 3 11  5 ..., 17  1 20]
1202 [ 3 11  5 ..., 17  1 20]
1203 [ 3 11  5 ..., 17  1 20]
1204 [ 3 11  5 ..., 17  1 20]
1205 [ 3 11  5 ..., 17  1 20]
1206 [ 3 11  5 ..., 17  1 20]
1207 [ 3 11  5 ..., 17  1 20]
1208 [ 3 11  5 ..., 17  1 20]
1209 [ 3 11  5 ..., 17  1 20]
1210 [ 3 11  5 ..., 17  1 20]
1211 [ 3 11  5 ..., 17  1 20]
1212 [ 3 11  5 ..., 17  1 20]
1213 [ 3 11  5 ..., 17  1 20]
1214 [ 3 11  5 ..., 17  1 20]
1215 [ 3 11  5 ..., 17  1 20]
1216 [ 3 11  5 ..., 17  1 20]
1217 [ 3 11  5 ..., 17  1 20]
1218 [ 3 11  5 ..., 17  1 20]
1219 [ 3 11  5 ..., 17  1 20]
1220 [ 3 11  5 ..., 17  1 20]
1221 [ 3 11  5 ..., 17  1 20]
1222 [ 3 11  5 ..., 17  1 20]
1223 [ 3 11  5 ..., 17  1 20]
1224 [ 3 11  5 ..., 17  1 20]
1225 [ 3 11  5 ..., 17  1 20]
1226 [ 3 11  5 ..., 17  1 20]
1227 [ 3 11  5 ..., 17  1 20]
1228 [ 3 11  5 ..., 17  1 20]
1229 [ 3 11  5 ..., 17  1 20]
1230 [ 3 11  5 ..., 17  1 20]
1231 [ 3 11  5 ..., 17  1 20]
1232 [ 3 11  5 ..., 17  1 20]
1233 [ 3 11  5 ..., 17  1 20]
1234 [ 3 11  5 ..., 17  1 20]
1235 [ 3 11  5 ..., 17  1 20]
1236 [ 3 11  5 ..., 17  1 20]
1237 [ 3 11  5 ..., 17  1 20]
1238 [ 3 11  5 ..., 17  1 20]
1239 [ 3 11  5 ..., 17  1 20]
1240 [ 3 11  5 ..., 17  1 20]
1241 [ 3 11  5 ..., 17  1 20]
1242 [ 3 11  5 ..., 17  1 20]
1243 [ 3 11  5 ..., 17  1 20]
1244 [ 3 11  5 ..., 17  1 20]
1245 [ 3 11  5 ..., 17  1 20]
1246 [ 3 11  5 ..., 17  1 20]
1247 [ 3 11  5 ..., 17  1 20]
1248 [ 3 11  5 ..., 17  1 20]
1249 [ 3 11  5 ..., 17  1 20]
1250 [ 3 11  5 ..., 17  1 20]
1251 [ 3 11  5 ..., 17  1 20]
1252 [ 3 11  5 ..., 17  1 20]
1253 [ 3 11  5 ..., 17  1 20]
1254 [ 3 11  5 ..., 17  1 20]
1255 [ 3 11  5 ..., 17  1 20]
1256 [ 3 11  5 ..., 17  1 20]
1257 [ 3 11  5 ..., 17  1 20]
1258 [ 3 11  5 ..., 17  1 20]
1259 [ 3 11  5 ..., 17  1 20]
1260 [ 3 11  5 ..., 17  1 20]
1261 [ 3 11  5 ..., 17  1 20]
1262 [ 3 11  5 ..., 17  1 20]
1263 [ 3 11  5 ..., 17  1 20]
1264 [ 3 11  5 ..., 17  1 20]
1265 [ 3 11  5 ..., 17  1 20]
1266 [ 3 11  5 ..., 17  1 20]
1267 [ 3 11  5 ..., 17  1 20]
1268 [ 3 11  5 ..., 17  1 20]
1269 [ 3 11  5 ..., 17  1 20]
1270 [ 3 11  5 ..., 17  1 20]
1271 [ 3 11  5 ..., 17  1 20]
1272 [ 3 11  5 ..., 17  1 20]
1273 [ 3 11  5 ..., 17  1 20]
1274 [ 3 11  5 ..., 17  1 20]
1275 [ 3 11  5 ..., 17  1 20]
1276 [ 3 11  5 ..., 17  1 20]
1277 [ 3 11  5 ..., 17  1 20]
1278 [ 3 11  5 ..., 17  1 20]
1279 [ 3 11  5 ..., 17  1 20]
1280 [ 3 11  5 ..., 17  1 20]
1281 [ 3 11  5 ..., 17  1 20]
1282 [ 3 11  5 ..., 17  1 20]
1283 [ 3 11  5 ..., 17  1 20]
1284 [ 3 11  5 ..., 17  1 20]
1285 [ 3 11  5 ..., 17  1 20]
1286 [ 3 11  5 ..., 17  1 20]
1287 [ 3 11  5 ..., 17  1 20]
1288 [ 3 11  5 ..., 17  1 20]
1289 [ 3 11  5 ..., 17  1 20]
1290 [ 3 11  5 ..., 17  1 20]
1291 [ 3 11  5 ..., 17  1 20]
1292 [ 3 11  5 ..., 17  1 20]
1293 [ 3 11  5 ..., 17  1 20]
1294 [ 3 11  5 ..., 17  1 20]
1295 [ 3 11  5 ..., 17  1 20]
1296 [ 3 11  5 ..., 17  1 20]
1297 [ 3 11  5 ..., 17  1 20]
1298 [ 3 11  5 ..., 17  1 20]
1299 [ 3 11  5 ..., 17  1 20]
1300 [ 3 11  5 ..., 17  1 20]
1301 [ 3 11  5 ..., 17  1 20]
1302 [ 3 11  5 ..., 17  1 20]
1303 [ 3 11  5 ..., 17  1 20]
1304 [ 3 11  5 ..., 17  1 20]
1305 [ 3 11  5 ..., 17  1 20]
1306 [ 3 11  5 ..., 17  1 20]
1307 [ 3 11  5 ..., 17  1 20]
1308 [ 3 11  5 ..., 17  1 20]
1309 [ 3 11  5 ..., 17  1 20]
1310 [ 3 11  5 ..., 17  1 20]
1311 [ 3 11  5 ..., 17  1 20]
1312 [ 3 11  5 ..., 17  1 20]
1313 [ 3 11  5 ..., 17  1 20]
1314 [ 3 11  5 ..., 17  1 20]
1315 [ 3 11  5 ..., 17  1 20]
1316 [ 3 11  5 ..., 17  1 20]
1317 [ 3 11  5 ..., 17  1 20]
1318 [ 3 11  5 ..., 17  1 20]
1319 [ 3 11  5 ..., 17  1 20]
1320 [ 3 11  5 ..., 17  1 20]
1321 [ 3 11  5 ..., 17  1 20]
1322 [ 3 11  5 ..., 17  1 20]
1323 [ 3 11  5 ..., 17  1 20]
1324 [ 3 11  5 ..., 17  1 20]
1325 [ 3 11  5 ..., 17  1 20]
1326 [ 3 11  5 ..., 17  1 20]
1327 [ 3 11  5 ..., 17  1 20]
1328 [ 3 11  5 ..., 17  1 20]
1329 [ 3 11  5 ..., 17  1 20]
1330 [ 3 11  5 ..., 17  1 20]
1331 [ 3 11  5 ..., 17  1 20]
1332 [ 3 11  5 ..., 17  1 20]
1333 [ 3 11  5 ..., 17  1 20]
1334 [ 3 11  5 ..., 17  1 20]
1335 [ 3 11  5 ..., 17  1 20]
1336 [ 3 11  5 ..., 17  1 20]
1337 [ 3 11  5 ..., 17  1 20]
1338 [ 3 11  5 ..., 17  1 20]
1339 [ 3 11  5 ..., 17  1 20]
1340 [ 3 11  5 ..., 17  1 20]
1341 [ 3 11  5 ..., 17  1 20]
1342 [ 3 11  5 ..., 17  1 20]
1343 [ 3 11  5 ..., 17  1 20]
1344 [ 3 11  5 ..., 17  1 20]
1345 [ 3 11  5 ..., 17  1 20]
1346 [ 3 11  5 ..., 17  1 20]
1347 [ 3 11  5 ..., 17  1 20]
1348 [ 3 11  5 ..., 17  1 20]
1349 [ 3 11  5 ..., 17  1 20]
1350 [ 3 11  5 ..., 17  1 20]
1351 [ 3 11  5 ..., 17  1 20]
1352 [ 3 11  5 ..., 17  1 20]
1353 [ 3 11  5 ..., 17  1 20]
1354 [ 3 11  5 ..., 17  1 20]
1355 [ 3 11  5 ..., 17  1 20]
1356 [ 3 11  5 ..., 17  1 20]
1357 [ 3 11  5 ..., 17  1 20]
1358 [ 3 11  5 ..., 17  1 20]
1359 [ 3 11  5 ..., 17  1 20]
1360 [ 3 11  5 ..., 17  1 20]
1361 [ 3 11  5 ..., 17  1 20]
1362 [ 3 11  5 ..., 17  1 20]
1363 [ 3 11  5 ..., 17  1 20]
1364 [ 3 11  5 ..., 17  1 20]
1365 [ 3 11  5 ..., 17  1 20]
1366 [ 3 11  5 ..., 17  1 20]
1367 [ 3 11  5 ..., 17  1 20]
1368 [ 3 11  5 ..., 17  1 20]
1369 [ 3 11  5 ..., 17  1 20]
1370 [ 3 11  5 ..., 17  1 20]
1371 [ 3 11  5 ..., 17  1 20]
1372 [ 3 11  5 ..., 17  1 20]
1373 [ 3 11  5 ..., 17  1 20]
1374 [ 3 11  5 ..., 17  1 20]
1375 [ 3 11  5 ..., 17  1 20]
1376 [ 3 11  5 ..., 17  1 20]
1377 [ 3 11  5 ..., 17  1 20]
1378 [ 3 11  5 ..., 17  1 20]
1379 [ 3 11  5 ..., 17  1 20]
1380 [ 3 11  5 ..., 17  1 20]
1381 [ 3 11  5 ..., 17  1 20]
1382 [ 3 11  5 ..., 17  1 20]
1383 [ 3 11  5 ..., 17  1 20]
1384 [ 3 11  5 ..., 17  1 20]
1385 [ 3 11  5 ..., 17  1 20]
1386 [ 3 11  5 ..., 17  1 20]
1387 [ 3 11  5 ..., 17  1 20]
1388 [ 3 11  5 ..., 17  1 20]
1389 [ 3 11  5 ..., 17  1 20]
1390 [ 3 11  5 ..., 17  1 20]
1391 [ 3 11  5 ..., 17  1 20]
1392 [ 3 11  5 ..., 17  1 20]

1393 [ 3 11  5 ..., 17  1 20]
1394 [ 3 11  5 ..., 17  1 20]
1395 [ 3 11  5 ..., 17  1 20]
1396 [ 3 11  5 ..., 17  1 20]
1397 [ 3 11  5 ..., 17  1 20]
1398 [ 3 11  5 ..., 17  1 20]
1399 [ 3 11  5 ..., 17  1 20]
1400 [ 3 11  5 ..., 17  1 20]
1401 [ 3 11  5 ..., 17  1 20]
1402 [ 3 11  5 ..., 17  1 20]
1403 [ 3 11  5 ..., 17  1 20]
1404 [ 3 11  5 ..., 17  1 20]
1405 [ 3 11  5 ..., 17  1 20]
1406 [ 3 11  5 ..., 17  1 20]
1407 [ 3 11  5 ..., 17  1 20]
1408 [ 3 11  5 ..., 17  1 20]
1409 [ 3 11  5 ..., 17  1 20]
1410 [ 3 11  5 ..., 17  1 20]
1411 [ 3 11  5 ..., 17  1 20]
1412 [ 3 11  5 ..., 17  1 20]
1413 [ 3 11  5 ..., 17  1 20]
1414 [ 3 11  5 ..., 17  1 20]
1415 [ 3 11  5 ..., 17  1 20]
1416 [ 3 11  5 ..., 17  1 20]
1417 [ 3 11  5 ..., 17  1 20]
1418 [ 3 11  5 ..., 17  1 20]
1419 [ 3 11  5 ..., 17  1 20]
1420 [ 3 11  5 ..., 17  1 20]
1421 [ 3 11  5 ..., 17  1 20]
1422 [ 3 11  5 ..., 17  1 20]
1423 [ 3 11  5 ..., 17  1 20]
1424 [ 3 11  5 ..., 17  1 20]
1425 [ 3 11  5 ..., 17  1 20]
1426 [ 3 11  5 ..., 17  1 20]
1427 [ 3 11  5 ..., 17  1 20]
1428 [ 3 11  5 ..., 17  1 20]
1429 [ 3 11  5 ..., 17  1 20]
1430 [ 3 11  5 ..., 17  1 20]
1431 [ 3 11  5 ..., 17  1 20]
1432 [ 3 11  5 ..., 17  1 20]
1433 [ 3 11  5 ..., 17  1 20]
1434 [ 3 11  5 ..., 17  1 20]
1435 [ 3 11  5 ..., 17  1 20]
1436 [ 3 11  5 ..., 17  1 20]
1437 [ 3 11  5 ..., 17  1 20]
1438 [ 3 11  5 ..., 17  1 20]
1439 [ 3 11  5 ..., 17  1 20]
1440 [ 3 11  5 ..., 17  1 20]
1441 [ 3 11  5 ..., 17  1 20]
1442 [ 3 11  5 ..., 17  1 20]
1443 [ 3 11  5 ..., 17  1 20]
1444 [ 3 11  5 ..., 17  1 20]
1445 [ 3 11  5 ..., 17  1 20]
1446 [ 3 11  5 ..., 17  1 20]
1447 [ 3 11  5 ..., 17  1 20]
1448 [ 3 11  5 ..., 17  1 20]
1449 [ 3 11  5 ..., 17  1 20]
1450 [ 3 11  5 ..., 17  1 20]
1451 [ 3 11  5 ..., 17  1 20]
1452 [ 3 11  5 ..., 17  1 20]
1453 [ 3 11  5 ..., 17  1 20]
1454 [ 3 11  5 ..., 17  1 20]
1455 [ 3 11  5 ..., 17  1 20]
1456 [ 3 11  5 ..., 17  1 20]
1457 [ 3 11  5 ..., 17  1 20]
1458 [ 3 11  5 ..., 17  1 20]
1459 [ 3 11  5 ..., 17  1 20]
1460 [ 3 11  5 ..., 17  1 20]
1461 [ 3 11  5 ..., 17  1 20]
1462 [ 3 11  5 ..., 17  1 20]
1463 [ 3 11  5 ..., 17  1 20]
1464 [ 3 11  5 ..., 17  1 20]
1465 [ 3 11  5 ..., 17  1 20]
1466 [ 3 11  5 ..., 17  1 20]
1467 [ 3 11  5 ..., 17  1 20]
1468 [ 3 11  5 ..., 17  1 20]
1469 [ 3 11  5 ..., 17  1 20]
1470 [ 3 11  5 ..., 17  1 20]
1471 [ 3 11  5 ..., 17  1 20]
1472 [ 3 11  5 ..., 17  1 20]
1473 [ 3 11  5 ..., 17  1 20]
1474 [ 3 11  5 ..., 17  1 20]
1475 [ 3 11  5 ..., 17  1 20]
1476 [ 3 11  5 ..., 17  1 20]
1477 [ 3 11  5 ..., 17  1 20]
1478 [ 3 11  5 ..., 17  1 20]
1479 [ 3 11  5 ..., 17  1 20]
1480 [ 3 11  5 ..., 17  1 20]
1481 [ 3 11  5 ..., 17  1 20]
1482 [ 3 11  5 ..., 17  1 20]
1483 [ 3 11  5 ..., 17  1 20]
1484 [ 3 11  5 ..., 17  1 20]
1485 [ 3 11  5 ..., 17  1 20]
1486 [ 3 11  5 ..., 17  1 20]
1487 [ 3 11  5 ..., 17  1 20]
1488 [ 3 11  5 ..., 17  1 20]
1489 [ 3 11  5 ..., 17  1 20]
1490 [ 3 11  5 ..., 17  1 20]
1491 [ 3 11  5 ..., 17  1 20]
1492 [ 3 11  5 ..., 17  1 20]
1493 [ 3 11  5 ..., 17  1 20]
1494 [ 3 11  5 ..., 17  1 20]
1495 [ 3 11  5 ..., 17  1 20]
1496 [ 3 11  5 ..., 17  1 20]
1497 [ 3 11  5 ..., 17  1 20]
1498 [ 3 11  5 ..., 17  1 20]
1499 [ 3 11  5 ..., 17  1 20]
1500 [ 3 11  5 ..., 17  1 20]
1501 [ 3 11  5 ..., 17  1 20]
1502 [ 3 11  5 ..., 17  1 20]
1503 [ 3 11  5 ..., 17  1 20]
1504 [ 3 11  5 ..., 17  1 20]
1505 [ 3 11  5 ..., 17  1 20]
1506 [ 3 11  5 ..., 17  1 20]
1507 [ 3 11  5 ..., 17  1 20]
1508 [ 3 11  5 ..., 17  1 20]
1509 [ 3 11  5 ..., 17  1 20]
1510 [ 3 11  5 ..., 17  1 20]
1511 [ 3 11  5 ..., 17  1 20]
1512 [ 3 11  5 ..., 17  1 20]
1513 [ 3 11  5 ..., 17  1 20]
1514 [ 3 11  5 ..., 17  1 20]
1515 [ 3 11  5 ..., 17  1 20]
1516 [ 3 11  5 ..., 17  1 20]
1517 [ 3 11  5 ..., 17  1 20]
1518 [ 3 11  5 ..., 17  1 20]
1519 [ 3 11  5 ..., 17  1 20]
1520 [ 3 11  5 ..., 17  1 20]
1521 [ 3 11  5 ..., 17  1 20]
1522 [ 3 11  5 ..., 17  1 20]
1523 [ 3 11  5 ..., 17  1 20]
1524 [ 3 11  5 ..., 17  1 20]
1525 [ 3 11  5 ..., 17  1 20]
1526 [ 3 11  5 ..., 17  1 20]
1527 [ 3 11  5 ..., 17  1 20]
1528 [ 3 11  5 ..., 17  1 20]
1529 [ 3 11  5 ..., 17  1 20]
1530 [ 3 11  5 ..., 17  1 20]
1531 [ 3 11  5 ..., 17  1 20]
1532 [ 3 11  5 ..., 17  1 20]
1533 [ 3 11  5 ..., 17  1 20]
1534 [ 3 11  5 ..., 17  1 20]
1535 [ 3 11  5 ..., 17  1 20]
1536 [ 3 11  5 ..., 17  1 20]
1537 [ 3 11  5 ..., 17  1 20]
1538 [ 3 11  5 ..., 17  1 20]
1539 [ 3 11  5 ..., 17  1 20]
1540 [ 3 11  5 ..., 17  1 20]
1541 [ 3 11  5 ..., 17  1 20]
1542 [ 3 11  5 ..., 17  1 20]
1543 [ 3 11  5 ..., 17  1 20]
1544 [ 3 11  5 ..., 17  1 20]
1545 [ 3 11  5 ..., 17  1 20]
1546 [ 3 11  5 ..., 17  1 20]
1547 [ 3 11  5 ..., 17  1 20]
1548 [ 3 11  5 ..., 17  1 20]
1549 [ 3 11  5 ..., 17  1 20]
1550 [ 3 11  5 ..., 17  1 20]
1551 [ 3 11  5 ..., 17  1 20]
1552 [ 3 11  5 ..., 17  1 20]
1553 [ 3 11  5 ..., 17  1 20]
1554 [ 3 11  5 ..., 17  1 20]
1555 [ 3 11  5 ..., 17  1 20]
1556 [ 3 11  5 ..., 17  1 20]
1557 [ 3 11  5 ..., 17  1 20]
1558 [ 3 11  5 ..., 17  1 20]
1559 [ 3 11  5 ..., 17  1 20]
1560 [ 3 11  5 ..., 17  1 20]
1561 [ 3 11  5 ..., 17  1 20]
1562 [ 3 11  5 ..., 17  1 20]
1563 [ 3 11  5 ..., 17  1 20]
1564 [ 3 11  5 ..., 17  1 20]
1565 [ 3 11  5 ..., 17  1 20]
1566 [ 3 11  5 ..., 17  1 20]
1567 [ 3 11  5 ..., 17  1 20]
1568 [ 3 11  5 ..., 17  1 20]
1569 [ 3 11  5 ..., 17  1 20]
1570 [ 3 11  5 ..., 17  1 20]
1571 [ 3 11  5 ..., 17  1 20]
1572 [ 3 11  5 ..., 17  1 20]
1573 [ 3 11  5 ..., 17  1 20]
1574 [ 3 11  5 ..., 17  1 20]
1575 [ 3 11  5 ..., 17  1 20]
1576 [ 3 11  5 ..., 17  1 20]
1577 [ 3 11  5 ..., 17  1 20]
1578 [ 3 11  5 ..., 17  1 20]
1579 [ 3 11  5 ..., 17  1 20]
1580 [ 3 11  5 ..., 17  1 20]
1581 [ 3 11  5 ..., 17  1 20]
1582 [ 3 11  5 ..., 17  1 20]
1583 [ 3 11  5 ..., 17  1 20]
1584 [ 3 11  5 ..., 17  1 20]
1585 [ 3 11  5 ..., 17  1 20]
1586 [ 3 11  5 ..., 17  1 20]
1587 [ 3 11  5 ..., 17  1 20]
1588 [ 3 11  5 ..., 17  1 20]
1589 [ 3 11  5 ..., 17  1 20]
1590 [ 3 11  5 ..., 17  1 20]
1591 [ 3 11  5 ..., 17  1 20]
1592 [ 3 11  5 ..., 17  1 20]
1593 [ 3 11  5 ..., 17  1 20]
1594 [ 3 11  5 ..., 17  1 20]
1595 [ 3 11  5 ..., 17  1 20]
1596 [ 3 11  5 ..., 17  1 20]
1597 [ 3 11  5 ..., 17  1 20]
1598 [ 3 11  5 ..., 17  1 20]
1599 [ 3 11  5 ..., 17  1 20]
1600 [ 3 11  5 ..., 17  1 20]
1601 [ 3 11  5 ..., 17  1 20]
1602 [ 3 11  5 ..., 17  1 20]
1603 [ 3 11  5 ..., 17  1 20]
1604 [ 3 11  5 ..., 17  1 20]
1605 [ 3 11  5 ..., 17  1 20]
1606 [ 3 11  5 ..., 17  1 20]
1607 [ 3 11  5 ..., 17  1 20]
1608 [ 3 11  5 ..., 17  1 20]
1609 [ 3 11  5 ..., 17  1 20]
1610 [ 3 11  5 ..., 17  1 20]
1611 [ 3 11  5 ..., 17  1 20]
1612 [ 3 11  5 ..., 17  1 20]
1613 [ 3 11  5 ..., 17  1 20]
1614 [ 3 11  5 ..., 17  1 20]
1615 [ 3 11  5 ..., 17  1 20]
1616 [ 3 11  5 ..., 17  1 20]
1617 [ 3 11  5 ..., 17  1 20]
1618 [ 3 11  5 ..., 17  1 20]
1619 [ 3 11  5 ..., 17  1 20]
1620 [ 3 11  5 ..., 17  1 20]
1621 [ 3 11  5 ..., 17  1 20]
1622 [ 3 11  5 ..., 17  1 20]
1623 [ 3 11  5 ..., 17  1 20]
1624 [ 3 11  5 ..., 17  1 20]
1625 [ 3 11  5 ..., 17  1 20]
1626 [ 3 11  5 ..., 17  1 20]
1627 [ 3 11  5 ..., 17  1 20]
1628 [ 3 11  5 ..., 17  1 20]
1629 [ 3 11  5 ..., 17  1 20]
1630 [ 3 11  5 ..., 17  1 20]
1631 [ 3 11  5 ..., 17  1 20]
1632 [ 3 11  5 ..., 17  1 20]
1633 [ 3 11  5 ..., 17  1 20]
1634 [ 3 11  5 ..., 17  1 20]
1635 [ 3 11  5 ..., 17  1 20]
1636 [ 3 11  5 ..., 17  1 20]
1637 [ 3 11  5 ..., 17  1 20]
1638 [ 3 11  5 ..., 17  1 20]
1639 [ 3 11  5 ..., 17  1 20]
1640 [ 3 11  5 ..., 17  1 20]
1641 [ 3 11  5 ..., 17  1 20]
1642 [ 3 11  5 ..., 17  1 20]
1643 [ 3 11  5 ..., 17  1 20]
1644 [ 3 11  5 ..., 17  1 20]
1645 [ 3 11  5 ..., 17  1 20]
1646 [ 3 11  5 ..., 17  1 20]
1647 [ 3 11  5 ..., 17  1 20]
1648 [ 3 11  5 ..., 17  1 20]
1649 [ 3 11  5 ..., 17  1 20]
1650 [ 3 11  5 ..., 17  1 20]
1651 [ 3 11  5 ..., 17  1 20]
1652 [ 3 11  5 ..., 17  1 20]
1653 [ 3 11  5 ..., 17  1 20]
1654 [ 3 11  5 ..., 17  1 20]
1655 [ 3 11  5 ..., 17  1 20]
1656 [ 3 11  5 ..., 17  1 20]
1657 [ 3 11  5 ..., 17  1 20]
1658 [ 3 11  5 ..., 17  1 20]
1659 [ 3 11  5 ..., 17  1 20]
1660 [ 3 11  5 ..., 17  1 20]
1661 [ 3 11  5 ..., 17  1 20]
1662 [ 3 11  5 ..., 17  1 20]
1663 [ 3 11  5 ..., 17  1 20]
1664 [ 3 11  5 ..., 17  1 20]
1665 [ 3 11  5 ..., 17  1 20]
1666 [ 3 11  5 ..., 17  1 20]
1667 [ 3 11  5 ..., 17  1 20]
1668 [ 3 11  5 ..., 17  1 20]
1669 [ 3 11  5 ..., 17  1 20]
1670 [ 3 11  5 ..., 17  1 20]
1671 [ 3 11  5 ..., 17  1 20]
1672 [ 3 11  5 ..., 17  1 20]
1673 [ 3 11  5 ..., 17  1 20]
1674 [ 3 11  5 ..., 17  1 20]
1675 [ 3 11  5 ..., 17  1 20]
1676 [ 3 11  5 ..., 17  1 20]
1677 [ 3 11  5 ..., 17  1 20]
1678 [ 3 11  5 ..., 17  1 20]
1679 [ 3 11  5 ..., 17  1 20]
1680 [ 3 11  5 ..., 17  1 20]
1681 [ 3 11  5 ..., 17  1 20]
1682 [ 3 11  5 ..., 17  1 20]
1683 [ 3 11  5 ..., 17  1 20]
1684 [ 3 11  5 ..., 17  1 20]
1685 [ 3 11  5 ..., 17  1 20]
1686 [ 3 11  5 ..., 17  1 20]
1687 [ 3 11  5 ..., 17  1 20]
1688 [ 3 11  5 ..., 17  1 20]
1689 [ 3 11  5 ..., 17  1 20]
1690 [ 3 11  5 ..., 17  1 20]
1691 [ 3 11  5 ..., 17  1 20]
1692 [ 3 11  5 ..., 17  1 20]
1693 [ 3 11  5 ..., 17  1 20]
1694 [ 3 11  5 ..., 17  1 20]
1695 [ 3 11  5 ..., 17  1 20]
1696 [ 3 11  5 ..., 17  1 20]
1697 [ 3 11  5 ..., 17  1 20]
1698 [ 3 11  5 ..., 17  1 20]
1699 [ 3 11  5 ..., 17  1 20]
1700 [ 3 11  5 ..., 17  1 20]
1701 [ 3 11  5 ..., 17  1 20]
1702 [ 3 11  5 ..., 17  1 20]
1703 [ 3 11  5 ..., 17  1 20]
1704 [ 3 11  5 ..., 17  1 20]
1705 [ 3 11  5 ..., 17  1 20]
1706 [ 3 11  5 ..., 17  1 20]
1707 [ 3 11  5 ..., 17  1 20]
1708 [ 3 11  5 ..., 17  1 20]
1709 [ 3 11  5 ..., 17  1 20]
1710 [ 3 11  5 ..., 17  1 20]
1711 [ 3 11  5 ..., 17  1 20]
1712 [ 3 11  5 ..., 17  1 20]
1713 [ 3 11  5 ..., 17  1 20]
1714 [ 3 11  5 ..., 17  1 20]
1715 [ 3 11  5 ..., 17  1 20]
1716 [ 3 11  5 ..., 17  1 20]
1717 [ 3 11  5 ..., 17  1 20]
1718 [ 3 11  5 ..., 17  1 20]
1719 [ 3 11  5 ..., 17  1 20]
1720 [ 3 11  5 ..., 17  1 20]
1721 [ 3 11  5 ..., 17  1 20]
1722 [ 3 11  5 ..., 17  1 20]
1723 [ 3 11  5 ..., 17  1 20]
1724 [ 3 11  5 ..., 17  1 20]
1725 [ 3 11  5 ..., 17  1 20]
1726 [ 3 11  5 ..., 17  1 20]
1727 [ 3 11  5 ..., 17  1 20]
1728 [ 3 11  5 ..., 17  1 20]
1729 [ 3 11  5 ..., 17  1 20]
1730 [ 3 11  5 ..., 17  1 20]
1731 [ 3 11  5 ..., 17  1 20]
1732 [ 3 11  5 ..., 17  1 20]
1733 [ 3 11  5 ..., 17  1 20]
1734 [ 3 11  5 ..., 17  1 20]
1735 [ 3 11  5 ..., 17  1 20]
1736 [ 3 11  5 ..., 17  1 20]
1737 [ 3 11  5 ..., 17  1 20]
1738 [ 3 11  5 ..., 17  1 20]
1739 [ 3 11  5 ..., 17  1 20]
1740 [ 3 11  5 ..., 17  1 20]
1741 [ 3 11  5 ..., 17  1 20]
1742 [ 3 11  5 ..., 17  1 20]
1743 [ 3 11  5 ..., 17  1 20]
1744 [ 3 11  5 ..., 17  1 20]
1745 [ 3 11  5 ..., 17  1 20]
1746 [ 3 11  5 ..., 17  1 20]
1747 [ 3 11  5 ..., 17  1 20]
1748 [ 3 11  5 ..., 17  1 20]
1749 [ 3 11  5 ..., 17  1 20]
1750 [ 3 11  5 ..., 17  1 20]
1751 [ 3 11  5 ..., 17  1 20]
1752 [ 3 11  5 ..., 17  1 20]
1753 [ 3 11  5 ..., 17  1 20]
1754 [ 3 11  5 ..., 17  1 20]
1755 [ 3 11  5 ..., 17  1 20]
1756 [ 3 11  5 ..., 17  1 20]
1757 [ 3 11  5 ..., 17  1 20]
1758 [ 3 11  5 ..., 17  1 20]
1759 [ 3 11  5 ..., 17  1 20]
1760 [ 3 11  5 ..., 17  1 20]
1761 [ 3 11  5 ..., 17  1 20]
1762 [ 3 11  5 ..., 17  1 20]
1763 [ 3 11  5 ..., 17  1 20]
1764 [ 3 11  5 ..., 17  1 20]
1765 [ 3 11  5 ..., 17  1 20]
1766 [ 3 11  5 ..., 17  1 20]
1767 [ 3 11  5 ..., 17  1 20]
1768 [ 3 11  5 ..., 17  1 20]
1769 [ 3 11  5 ..., 17  1 20]
1770 [ 3 11  5 ..., 17  1 20]
1771 [ 3 11  5 ..., 17  1 20]
1772 [ 3 11  5 ..., 17  1 20]
1773 [ 3 11  5 ..., 17  1 20]
1774 [ 3 11  5 ..., 17  1 20]
1775 [ 3 11  5 ..., 17  1 20]
1776 [ 3 11  5 ..., 17  1 20]
1777 [ 3 11  5 ..., 17  1 20]
1778 [ 3 11  5 ..., 17  1 20]
1779 [ 3 11  5 ..., 17  1 20]
1780 [ 3 11  5 ..., 17  1 20]
1781 [ 3 11  5 ..., 17  1 20]
1782 [ 3 11  5 ..., 17  1 20]
1783 [ 3 11  5 ..., 17  1 20]
1784 [ 3 11  5 ..., 17  1 20]
1785 [ 3 11  5 ..., 17  1 20]
1786 [ 3 11  5 ..., 17  1 20]
1787 [ 3 11  5 ..., 17  1 20]
1788 [ 3 11  5 ..., 17  1 20]
1789 [ 3 11  5 ..., 17  1 20]
1790 [ 3 11  5 ..., 17  1 20]
1791 [ 3 11  5 ..., 17  1 20]
1792 [ 3 11  5 ..., 17  1 20]
1793 [ 3 11  5 ..., 17  1 20]
1794 [ 3 11  5 ..., 17  1 20]
1795 [ 3 11  5 ..., 17  1 20]
1796 [ 3 11  5 ..., 17  1 20]
1797 [ 3 11  5 ..., 17  1 20]
1798 [ 3 11  5 ..., 17  1 20]
1799 [ 3 11  5 ..., 17  1 20]
1800 [ 3 11  5 ..., 17  1 20]
1801 [ 3 11  5 ..., 17  1 20]
1802 [ 3 11  5 ..., 17  1 20]
1803 [ 3 11  5 ..., 17  1 20]
1804 [ 3 11  5 ..., 17  1 20]
1805 [ 3 11  5 ..., 17  1 20]
1806 [ 3 11  5 ..., 17  1 20]
1807 [ 3 11  5 ..., 17  1 20]
1808 [ 3 11  5 ..., 17  1 20]
1809 [ 3 11  5 ..., 17  1 20]
1810 [ 3 11  5 ..., 17  1 20]
1811 [ 3 11  5 ..., 17  1 20]
1812 [ 3 11  5 ..., 17  1 20]
1813 [ 3 11  5 ..., 17  1 20]
1814 [ 3 11  5 ..., 17  1 20]
1815 [ 3 11  5 ..., 17  1 20]
1816 [ 3 11  5 ..., 17  1 20]
1817 [ 3 11  5 ..., 17  1 20]
1818 [ 3 11  5 ..., 17  1 20]
1819 [ 3 11  5 ..., 17  1 20]
1820 [ 3 11  5 ..., 17  1 20]
1821 [ 3 11  5 ..., 17  1 20]
1822 [ 3 11  5 ..., 17  1 20]
1823 [ 3 11  5 ..., 17  1 20]
1824 [ 3 11  5 ..., 17  1 20]
1825 [ 3 11  5 ..., 17  1 20]
1826 [ 3 11  5 ..., 17  1 20]
1827 [ 3 11  5 ..., 17  1 20]
1828 [ 3 11  5 ..., 17  1 20]
1829 [ 3 11  5 ..., 17  1 20]
1830 [ 3 11  5 ..., 17  1 20]
1831 [ 3 11  5 ..., 17  1 20]
1832 [ 3 11  5 ..., 17  1 20]
1833 [ 3 11  5 ..., 17  1 20]
1834 [ 3 11  5 ..., 17  1 20]
1835 [ 3 11  5 ..., 17  1 20]
1836 [ 3 11  5 ..., 17  1 20]
1837 [ 3 11  5 ..., 17  1 20]
1838 [ 3 11  5 ..., 17  1 20]
1839 [ 3 11  5 ..., 17  1 20]
1840 [ 3 11  5 ..., 17  1 20]
1841 [ 3 11  5 ..., 17  1 20]
1842 [ 3 11  5 ..., 17  1 20]
1843 [ 3 11  5 ..., 17  1 20]
1844 [ 3 11  5 ..., 17  1 20]
1845 [ 3 11  5 ..., 17  1 20]
1846 [ 3 11  5 ..., 17  1 20]
1847 [ 3 11  5 ..., 17  1 20]
1848 [ 3 11  5 ..., 17  1 20]
1849 [ 3 11  5 ..., 17  1 20]
1850 [ 3 11  5 ..., 17  1 20]
1851 [ 3 11  5 ..., 17  1 20]
1852 [ 3 11  5 ..., 17  1 20]
1853 [ 3 11  5 ..., 17  1 20]
1854 [ 3 11  5 ..., 17  1 20]
1855 [ 3 11  5 ..., 17  1 20]
1856 [ 3 11  5 ..., 17  1 20]
1857 [ 3 11  5 ..., 17  1 20]
1858 [ 3 11  5 ..., 17  1 20]
1859 [ 3 11  5 ..., 17  1 20]
1860 [ 3 11  5 ..., 17  1 20]
1861 [ 3 11  5 ..., 17  1 20]
1862 [ 3 11  5 ..., 17  1 20]
1863 [ 3 11  5 ..., 17  1 20]
1864 [ 3 11  5 ..., 17  1 20]
1865 [ 3 11  5 ..., 17  1 20]
1866 [ 3 11  5 ..., 17  1 20]
1867 [ 3 11  5 ..., 17  1 20]
1868 [ 3 11  5 ..., 17  1 20]
1869 [ 3 11  5 ..., 17  1 20]
1870 [ 3 11  5 ..., 17  1 20]
1871 [ 3 11  5 ..., 17  1 20]
1872 [ 3 11  5 ..., 17  1 20]
1873 [ 3 11  5 ..., 17  1 20]
1874 [ 3 11  5 ..., 17  1 20]
1875 [ 3 11  5 ..., 17  1 20]
1876 [ 3 11  5 ..., 17  1 20]
1877 [ 3 11  5 ..., 17  1 20]
1878 [ 3 11  5 ..., 17  1 20]
1879 [ 3 11  5 ..., 17  1 20]
1880 [ 3 11  5 ..., 17  1 20]
1881 [ 3 11  5 ..., 17  1 20]
1882 [ 3 11  5 ..., 17  1 20]
1883 [ 3 11  5 ..., 17  1 20]
1884 [ 3 11  5 ..., 17  1 20]
1885 [ 3 11  5 ..., 17  1 20]
1886 [ 3 11  5 ..., 17  1 20]
1887 [ 3 11  5 ..., 17  1 20]
1888 [ 3 11  5 ..., 17  1 20]
1889 [ 3 11  5 ..., 17  1 20]
1890 [ 3 11  5 ..., 17  1 20]
1891 [ 3 11  5 ..., 17  1 20]
1892 [ 3 11  5 ..., 17  1 20]
1893 [ 3 11  5 ..., 17  1 20]
1894 [ 3 11  5 ..., 17  1 20]
1895 [ 3 11  5 ..., 17  1 20]
1896 [ 3 11  5 ..., 17  1 20]
1897 [ 3 11  5 ..., 17  1 20]
1898 [ 3 11  5 ..., 17  1 20]
1899 [ 3 11  5 ..., 17  1 20]
1900 [ 3 11  5 ..., 17  1 20]
1901 [ 3 11  5 ..., 17  1 20]
1902 [ 3 11  5 ..., 17  1 20]
1903 [ 3 11  5 ..., 17  1 20]
1904 [ 3 11  5 ..., 17  1 20]
1905 [ 3 11  5 ..., 17  1 20]
1906 [ 3 11  5 ..., 17  1 20]
1907 [ 3 11  5 ..., 17  1 20]
1908 [ 3 11  5 ..., 17  1 20]
1909 [ 3 11  5 ..., 17  1 20]
1910 [ 3 11  5 ..., 17  1 20]
1911 [ 3 11  5 ..., 17  1 20]
1912 [ 3 11  5 ..., 17  1 20]
1913 [ 3 11  5 ..., 17  1 20]
1914 [ 3 11  5 ..., 17  1 20]
1915 [ 3 11  5 ..., 17  1 20]
1916 [ 3 11  5 ..., 17  1 20]
1917 [ 3 11  5 ..., 17  1 20]
1918 [ 3 11  5 ..., 17  1 20]
1919 [ 3 11  5 ..., 17  1 20]
1920 [ 3 11  5 ..., 17  1 20]
1921 [ 3 11  5 ..., 17  1 20]
1922 [ 3 11  5 ..., 17  1 20]
1923 [ 3 11  5 ..., 17  1 20]
1924 [ 3 11  5 ..., 17  1 20]
1925 [ 3 11  5 ..., 17  1 20]
1926 [ 3 11  5 ..., 17  1 20]
1927 [ 3 11  5 ..., 17  1 20]
1928 [ 3 11  5 ..., 17  1 20]
1929 [ 3 11  5 ..., 17  1 20]
1930 [ 3 11  5 ..., 17  1 20]
1931 [ 3 11  5 ..., 17  1 20]
1932 [ 3 11  5 ..., 17  1 20]
1933 [ 3 11  5 ..., 17  1 20]
1934 [ 3 11  5 ..., 17  1 20]
1935 [ 3 11  5 ..., 17  1 20]
1936 [ 3 11  5 ..., 17  1 20]
1937 [ 3 11  5 ..., 17  1 20]
1938 [ 3 11  5 ..., 17  1 20]
1939 [ 3 11  5 ..., 17  1 20]
1940 [ 3 11  5 ..., 17  1 20]
1941 [ 3 11  5 ..., 17  1 20]
1942 [ 3 11  5 ..., 17  1 20]
1943 [ 3 11  5 ..., 17  1 20]
1944 [ 3 11  5 ..., 17  1 20]
1945 [ 3 11  5 ..., 17  1 20]
1946 [ 3 11  5 ..., 17  1 20]
1947 [ 3 11  5 ..., 17  1 20]
1948 [ 3 11  5 ..., 17  1 20]
1949 [ 3 11  5 ..., 17  1 20]
1950 [ 3 11  5 ..., 17  1 20]
1951 [ 3 11  5 ..., 17  1 20]
1952 [ 3 11  5 ..., 17  1 20]
1953 [ 3 11  5 ..., 17  1 20]
1954 [ 3 11  5 ..., 17  1 20]
1955 [ 3 11  5 ..., 17  1 20]
1956 [ 3 11  5 ..., 17  1 20]
1957 [ 3 11  5 ..., 17  1 20]
1958 [ 3 11  5 ..., 17  1 20]
1959 [ 3 11  5 ..., 17  1 20]
1960 [ 3 11  5 ..., 17  1 20]
1961 [ 3 11  5 ..., 17  1 20]
1962 [ 3 11  5 ..., 17  1 20]
1963 [ 3 11  5 ..., 17  1 20]
1964 [ 3 11  5 ..., 17  1 20]
1965 [ 3 11  5 ..., 17  1 20]
1966 [ 3 11  5 ..., 17  1 20]
1967 [ 3 11  5 ..., 17  1 20]
1968 [ 3 11  5 ..., 17  1 20]
1969 [ 3 11  5 ..., 17  1 20]
1970 [ 3 11  5 ..., 17  1 20]
1971 [ 3 11  5 ..., 17  1 20]
1972 [ 3 11  5 ..., 17  1 20]
1973 [ 3 11  5 ..., 17  1 20]
1974 [ 3 11  5 ..., 17  1 20]
1975 [ 3 11  5 ..., 17  1 20]
1976 [ 3 11  5 ..., 17  1 20]
1977 [ 3 11  5 ..., 17  1 20]
1978 [ 3 11  5 ..., 17  1 20]
1979 [ 3 11  5 ..., 17  1 20]
1980 [ 3 11  5 ..., 17  1 20]
1981 [ 3 11  5 ..., 17  1 20]
1982 [ 3 11  5 ..., 17  1 20]
1983 [ 3 11  5 ..., 17  1 20]
1984 [ 3 11  5 ..., 17  1 20]
1985 [ 3 11  5 ..., 17  1 20]
1986 [ 3 11  5 ..., 17  1 20]
1987 [ 3 11  5 ..., 17  1 20]
1988 [ 3 11  5 ..., 17  1 20]
1989 [ 3 11  5 ..., 17  1 20]
1990 [ 3 11  5 ..., 17  1 20]
1991 [ 3 11  5 ..., 17  1 20]
1992 [ 3 11  5 ..., 17  1 20]
1993 [ 3 11  5 ..., 17  1 20]
1994 [ 3 11  5 ..., 17  1 20]
1995 [ 3 11  5 ..., 17  1 20]
1996 [ 3 11  5 ..., 17  1 20]
1997 [ 3 11  5 ..., 17  1 20]
1998 [ 3 11  5 ..., 17  1 20]
1999 [ 3 11  5 ..., 17  1 20]
2000 [ 3 11  5 ..., 17  1 20]
2001 [ 3 11  5 ..., 17  1 20]
2002 [ 3 11  5 ..., 17  1 20]
2003 [ 3 11  5 ..., 17  1 20]
2004 [ 3 11  5 ..., 17  1 20]
2005 [ 3 11  5 ..., 17  1 20]
2006 [ 3 11  5 ..., 17  1 20]
2007 [ 3 11  5 ..., 17  1 20]
2008 [ 3 11  5 ..., 17  1 20]
2009 [ 3 11  5 ..., 17  1 20]
2010 [ 3 11  5 ..., 17  1 20]
2011 [ 3 11  5 ..., 17  1 20]
2012 [ 3 11  5 ..., 17  1 20]
2013 [ 3 11  5 ..., 17  1 20]
2014 [ 3 11  5 ..., 17  1 20]
2015 [ 3 11  5 ..., 17  1 20]
2016 [ 3 11  5 ..., 17  1 20]
2017 [ 3 11  5 ..., 17  1 20]
2018 [ 3 11  5 ..., 17  1 20]
2019 [ 3 11  5 ..., 17  1 20]
2020 [ 3 11  5 ..., 17  1 20]
2021 [ 3 11  5 ..., 17  1 20]
2022 [ 3 11  5 ..., 17  1 20]
2023 [ 3 11  5 ..., 17  1 20]
2024 [ 3 11  5 ..., 17  1 20]
2025 [ 3 11  5 ..., 17  1 20]
2026 [ 3 11  5 ..., 17  1 20]
2027 [ 3 11  5 ..., 17  1 20]
2028 [ 3 11  5 ..., 17  1 20]
2029 [ 3 11  5 ..., 17  1 20]
2030 [ 3 11  5 ..., 17  1 20]
2031 [ 3 11  5 ..., 17  1 20]
2032 [ 3 11  5 ..., 17  1 20]
2033 [ 3 11  5 ..., 17  1 20]
2034 [ 3 11  5 ..., 17  1 20]
2035 [ 3 11  5 ..., 17  1 20]
2036 [ 3 11  5 ..., 17  1 20]
2037 [ 3 11  5 ..., 17  1 20]
2038 [ 3 11  5 ..., 17  1 20]
2039 [ 3 11  5 ..., 17  1 20]
2040 [ 3 11  5 ..., 17  1 20]
2041 [ 3 11  5 ..., 17  1 20]
2042 [ 3 11  5 ..., 17  1 20]
2043 [ 3 11  5 ..., 17  1 20]
2044 [ 3 11  5 ..., 17  1 20]
2045 [ 3 11  5 ..., 17  1 20]
2046 [ 3 11  5 ..., 17  1 20]
2047 [ 3 11  5 ..., 17  1 20]
2048 [ 3 11  5 ..., 17  1 20]
2049 [ 3 11  5 ..., 17  1 20]
2050 [ 3 11  5 ..., 17  1 20]
2051 [ 3 11  5 ..., 17  1 20]
2052 [ 3 11  5 ..., 17  1 20]
2053 [ 3 11  5 ..., 17  1 20]
2054 [ 3 11  5 ..., 17  1 20]
2055 [ 3 11  5 ..., 17  1 20]
2056 [ 3 11  5 ..., 17  1 20]
2057 [ 3 11  5 ..., 17  1 20]
2058 [ 3 11  5 ..., 17  1 20]

In [304]:
dataset.T[1]

array(['1', '2', '3', ..., '5964', '5973', '5974'], dtype=object)

In [305]:
clusters

array([ 3, 11,  5, ..., 17,  1, 20], dtype=int32)

In [306]:
unique, counts = np.unique(clusters, return_counts=True) #https://stackoverflow.com/questions/28663856/how-to-count-the-occurrence-of-certain-item-in-an-ndarray-in-python
cluster_distribution = np.array(list(zip(unique, counts)))
print(cluster_distribution, np.std(cluster_distribution.T[1]), np.mean(cluster_distribution.T[1]),np.median(cluster_distribution.T[1]),np.average(cluster_distribution.T[1]))

[[  0  43]
 [  1  48]
 [  2  54]
 [  3  10]
 [  4 115]
 [  5  16]
 [  6  20]
 [  7  29]
 [  8  59]
 [  9  42]
 [ 10  56]
 [ 11  26]
 [ 12   7]
 [ 13 115]
 [ 14   3]
 [ 15  23]
 [ 16  49]
 [ 17  90]
 [ 18  64]
 [ 19  40]
 [ 20  32]
 [ 21 136]
 [ 22   4]
 [ 23  77]
 [ 24   5]
 [ 25  25]
 [ 26  94]
 [ 27  34]
 [ 28  23]
 [ 29  20]
 [ 30  12]
 [ 31  10]
 [ 32  34]
 [ 33  49]
 [ 34 119]
 [ 35   3]
 [ 36  71]
 [ 37  14]
 [ 38  71]
 [ 39  49]
 [ 40 109]
 [ 41  14]
 [ 42  35]
 [ 43  31]
 [ 44   4]
 [ 45   8]
 [ 46   2]
 [ 47  41]
 [ 48   3]
 [ 49  50]] 34.636720399 41.76 34.0 41.76

In [310]:
ind=np.where(cluster_distribution.T[1]>40)
ind

(array([ 0,  1,  2,  4,  8,  9, 10, 13, 16, 17, 18, 21, 23, 26, 33, 34, 36,
        38, 39, 40, 47, 49]),)

In [314]:
unique, counts = np.unique(dataset.T[60], return_counts=True) #https://stackoverflow.com/questions/28663856/how-to-count-the-occurrence-of-certain-item-in-an-ndarray-in-python
huvudgrupp_storlek = np.array(list(zip(unique, counts)))
print(huvudgrupp_storlek)

[['' '7']
 ['Algprodukter' '1']
 ['Baljväxter (bönor, linser och ärter)' '51']
 ['Blodmat' '2']
 ['Blodprodukter o rätter' '8']
 ['Buljong' '18']
 ['Bullar kakor tårtor mm' '86']
 ['Bär färska frysta' '24']
 ['Chips popcorn o dyl' '11']
 ['Choklad' '7']
 ['Cider alkoläsk drink' '3']
 ['Deg och gräddade skal och bottnar' '3']
 ['Dessertost' '8']
 ['Dryck' '1']
 ['Efterrätter' '31']
 ['Fisk färsk fryst kokt' '68']
 ['Fisk o skaldjursprodukter o rätter' '69']
 ['Fisk rökt' '13']
 ['Fisk stekt ej panerad' '7']
 ['Flingor - frukostflingor' '28']
 ['Flytande matfettsblandning' '7']
 ['Frukt färsk fryst' '42']
 ['Frukt o bär' '2']
 ['Frukt o bär konserverade' '17']
 ['Frukt o bär torkade' '14']
 ['Frukt o nötblandningar bars' '2']
 ['Fruktjuice mm' '22']
 ['Färskost o kvarg' '15']
 ['Fågel' '39']
 ['Fågelprodukter o rätter' '5']
 ['Gelatin agar agar' '2']
 ['Glass' '25']
 ['Godis ej choklad' '11']
 ['Godis som innehåller choklad' '15']
 ['Grädde creme fraiche' '23']
 ['Grönsaker' '94']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '55']
 ['Grönsaksblandningar med rotfrukter och eller baljväxter' '9']
 ['Grönsaksjuice rotfruktsjuice' '4']
 ['Gröt' '16']
 ['Hamburgare med  bröd (kött, fisk, fågel, vegetarisk)' '5']
 ['Hård matfettsblandning' '39']
 ['Hård ost m.m.' '11']
 ['Hårt bröd' '28']
 ['Inälvor och organ' '33']
 ['Inälvor organ produkter o rätter' '15']
 ['Jäst bakpulver' '3']
 ['Kaffe' '5']
 ['Kakaoprodukter' '2']
 ['Korv' '60']
 ['Korvrätter' '9']
 ['Kost- o näringspreparat' '8']
 ['Kryddor' '1']
 ['Kött färskt fryst tillagat' '127']
 ['Kött processat' '25']
 ['Köttprodukter kötträtter' '80']
 ['Lightdrycker u energi' '4']
 ['Likör' '3']
 ['Majonnässallad röror' '6']
 ['Matgryn' '14']
 ['Mesvaror' '6']
 ['Mjukt bröd' '42']
 ['Mjöl stärkelse kli' '29']
 ['Mjölk' '11']
 ['Mjölkdryck chokladdryck milkshake smothie m yoghurt' '5']
 ['Naturell fil yoghurt' '11']
 ['Nötter frön' '21']
 ['Olja' '15']
 ['Ost med vegetabilskt fett' '3']
 ['Osträtter' '3']
 ['Pannkakor, våfflor, crêpes' '13']
 ['Pasta' '21']
 ['Pastarätter' '12']
 ['Pizza paj pirog färdig smörgås' '46']
 ['Potatis' '31']
 ['Potatisprodukter o rätter' '33']
 ['Ris risnudlar' '25']
 ['Riskakor' '2']
 ['Risrätter' '1']
 ['Rom, kaviar' '6']
 ['Rotfrukter' '21']
 ['Saft läsk cider u alkohol' '19']
 ['Sallad blandad mat' '10']
 ['Salt' '4']
 ['Senap ketchup HP-sås soja *smaksättare*' '11']
 ['Skaldjur bläckfisk färsk fryst kokt' '14']
 ['Skaldjur bläckfisk konserverad' '6']
 ['Smaksatt fil yoghurt' '11']
 ['Smältost' '8']
 ['Smör' '3']
 ['Smörgåskex' '7']
 ['Socker sirap honung' '6']
 ['Sockerfritt godis' '1']
 ['Soja-  veteprotein o quorn' '3']
 ['Sojaprotein veteprotein Quorn produkter och rätter' '3']
 ['Soppa mat' '47']
 ['Sportdrycker energidrycker' '2']
 ['Starksprit' '7']
 ['Svamp' '9']
 ['Sylt marmelad gelé äppelmos o dyl' '18']
 ['Sylta' '3']
 ['Sås dressing majonnäs' '79']
 ['Söta soppor kräm o efterrättssås' '26']
 ['Sötningsmedel' '1']
 ['Tacoskal' '1']
 ['Te' '4']
 ['Tuggummi' '2']
 ['Vatten mineralvatten' '15']
 ['Vegetabiliska produkter och mjölkersättning' '13']
 ['Vin' '10']
 ['Välling' '12']
 ['Ägg' '9']
 ['Äggprodukter o rätter' '6']
 ['Ättika vinäger' '3']
 ['Öl' '4']
 ['Övriga sötade drycker vattenchoklad' '4']
 ['Övrigt' '2']
 [ 'Övrigt animaliskt *kött*, grodlår, sniglar, säl - färskt, fryst, tillagat'
  '1']
 ['Övrigt fett (ister, talg, kokosfett)' '4']]

In [372]:
#a=np.array([])
for item in ind[0]:
    print("Kluster " + str(item))
    #print(dataset[np.where(clusters==item)][:,[0,60]])
    a=dataset[np.where(clusters==item)][:,[0,60]]
    #print(a[0][1])
    unique, counts = np.unique(a.T[1], return_counts=True) #https://stackoverflow.com/questions/28663856/how-to-count-the-occurrence-of-certain-item-in-an-ndarray-in-python
    huvudgrupp_distribution = np.array(list(zip(unique, counts)))
    order=np.argsort(huvudgrupp_distribution.T[1].astype(int))
    order = np.flipud(order)
    #print (order)
    huvudgrupp_distribution = huvudgrupp_distribution[order]
    totals = np.array([])
    for item in huvudgrupp_distribution:
        a=np.where(huvudgrupp_storlek.T[0] == item [0])
        print(a[0], huvudgrupp_storlek[a[0],1], item[0])
        totals=np.append(totals,huvudgrupp_storlek[a[0],1])
    samlad_array = np.concatenate((huvudgrupp_distribution.T,[totals]),axis=0).T
    print(np.shape(huvudgrupp_distribution), np.shape([totals]))
    print(huvudgrupp_distribution)
    print("totals" + str(totals.T))
    print (samlad_array)
    print()
    part = lambda x: x[1] / x[2]
    med_andel = np.vstack( (samlad_array.T, np.array(map(part, samlad_array))) ).T
    print(med_andel)

Kluster 0
[74] ['31'] Potatis
[36] ['55'] Grönsaks- rotfrukts- baljväxträtter och produkter
[21] ['42'] Frukt färsk fryst
[102] ['26'] Söta soppor kräm o efterrättssås
[23] ['17'] Frukt o bär konserverade
[7] ['24'] Bär färska frysta
[2] ['51'] Baljväxter (bönor, linser och ärter)
[80] ['21'] Rotfrukter
[37] ['9'] Grönsaksblandningar med rotfrukter och eller baljväxter
[107] ['15'] Vatten mineralvatten
[82] ['10'] Sallad blandad mat
[81] ['19'] Saft läsk cider u alkohol
[55] ['80'] Köttprodukter kötträtter
(13, 2) (1, 13)
[['Potatis' '11']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '6']
 ['Frukt färsk fryst' '6']
 ['Söta soppor kräm o efterrättssås' '3']
 ['Frukt o bär konserverade' '3']
 ['Bär färska frysta' '3']
 ['Baljväxter (bönor, linser och ärter)' '3']
 ['Rotfrukter' '2']
 ['Grönsaksblandningar med rotfrukter och eller baljväxter' '2']
 ['Vatten mineralvatten' '1']
 ['Sallad blandad mat' '1']
 ['Saft läsk cider u alkohol' '1']
 ['Köttprodukter kötträtter' '1']]
totals['31' '55' '42' '26' '17' '24' '51' '21' '9' '15' '10' '19' '80']
[['Potatis' '11' '31']
 ['Grönsaks- rotfrukts- baljväxträtter och produkter' '6' '55']
 ['Frukt färsk fryst' '6' '42']
 ['Söta soppor kräm o efterrättssås' '3' '26']
 ['Frukt o bär konserverade' '3' '17']
 ['Bär färska frysta' '3' '24']
 ['Baljväxter (bönor, linser och ärter)' '3' '51']
 ['Rotfrukter' '2' '21']
 ['Grönsaksblandningar med rotfrukter och eller baljväxter' '2' '9']
 ['Vatten mineralvatten' '1' '15']
 ['Sallad blandad mat' '1' '10']
 ['Saft läsk cider u alkohol' '1' '19']
 ['Köttprodukter kötträtter' '1' '80']]

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [184]:
dataset[(clusters==ind)]

IndexError: boolean index did not match indexed array along dimension 0; dimension is 2088 but corresponding boolean dimension is 1

## Läsa ner klustren i databasen

Kör inte nästa i onödan. Fyll på databasen kolumn för kolumn i stället

In [70]:
#Denna skapar tabellen kluster

conn = sqlite3.connect('livs.db')  # Create db and establish connection
conn.row_factory = sqlite3.Row
curs = conn.cursor()

curs.execute('drop table if exists kluster;')

# Backslash bara för radbrytningen, obs...
sql = 'CREATE TABLE IF NOT EXISTS kluster (Livsmedelsnummer TEXT PRIMARY KEY,\
kluster_3 INT DEFAULT -1, kluster_3_3 INT DEFAULT -1, kluster_20 INT DEFAULT -1,\
kluster_20_3 INT DEFAULT -1);'


curs.execute(sql)
conn.commit()

sql2 = 'INSERT INTO kluster (Livsmedelsnummer) SELECT Livsmedelsnummer from livs;'

curs.execute(sql2)
conn.commit()

conn.close()

In [79]:
conn = sqlite3.connect('livs.db')  # Create db and establish connection
conn.row_factory = sqlite3.Row
curs = conn.cursor()

for index, Livsmedelsnummer in enumerate(dataset.T[1]):
    sql = 'UPDATE kluster SET kluster_3_3 = '+str(clusters[index])+' WHERE Livsmedelsnummer = "'+Livsmedelsnummer+'";'
    print(sql)
    curs.execute(sql)
#curs.execute('UPDATE livs SET Kluster = 1 WHERE Livsmedelsnummer = "2";')
conn.commit()
conn.close()

UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "2";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "3";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "4";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "5";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "6";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "7";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "8";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "9";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "10";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "12";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "13";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "17";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "18";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "20";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "21";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "22";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "23";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "24";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "25";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "26";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "27";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "28";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "29";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "30";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "31";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "33";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "34";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "35";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "37";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "38";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "39";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "40";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "41";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "42";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "43";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "44";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "45";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "46";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "47";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "48";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "49";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "50";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "51";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "52";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "53";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "55";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "56";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "57";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "58";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "59";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "60";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "62";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "63";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "64";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "65";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "66";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "67";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "68";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "69";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "70";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "71";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "72";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "73";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "74";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "75";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "76";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "77";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "78";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "79";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "80";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "81";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "82";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "83";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "84";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "85";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "86";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "87";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "88";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "89";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "90";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "91";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "92";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "93";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "94";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "95";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "96";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "97";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "98";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "99";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "100";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "101";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "102";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "103";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "104";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "105";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "106";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "107";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "108";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "109";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "110";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "111";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "113";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "114";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "115";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "116";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "118";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "119";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "120";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "122";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "123";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "124";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "125";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "126";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "127";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "128";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "130";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "133";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "135";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "136";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "137";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "138";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "139";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "140";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "141";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "142";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "150";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "151";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "152";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "154";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "156";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "157";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "158";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "161";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "162";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "163";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "164";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "165";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "166";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "167";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "168";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "169";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "170";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "171";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "172";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "173";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "174";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "175";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "178";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "180";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "181";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "182";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "183";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "184";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "185";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "186";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "187";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "188";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "190";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "191";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "193";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "194";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "195";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "196";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "197";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "198";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "199";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "201";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "202";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "203";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "204";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "205";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "206";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "207";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "208";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "209";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "210";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "211";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "212";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "213";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "214";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "216";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "217";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "219";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "222";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "224";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "225";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "226";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "227";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "229";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "230";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "231";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "233";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "234";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "235";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "237";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "238";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "241";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "242";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "244";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "245";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "246";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "248";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "249";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "250";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "252";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "253";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "254";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "255";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "256";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "257";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "258";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "259";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "260";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "261";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "262";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "263";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "264";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "265";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "266";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "267";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "268";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "269";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "270";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "271";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "272";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "273";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "274";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "275";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "276";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "277";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "278";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "279";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "280";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "281";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "282";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "283";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "284";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "286";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "287";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "288";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "289";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "290";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "291";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "292";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "293";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "294";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "295";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "296";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "297";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "298";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "299";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "300";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "301";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "302";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "304";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "305";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "306";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "307";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "308";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "310";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "314";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "315";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "317";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "319";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "320";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "321";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "322";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "323";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "324";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "325";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "326";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "327";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "328";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "329";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "330";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "331";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "332";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "333";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "334";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "335";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "336";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "337";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "338";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "339";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "340";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "342";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "343";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "344";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "345";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "346";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "347";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "348";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "349";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "350";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "351";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "352";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "353";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "354";

UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1236";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1237";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1238";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1239";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1240";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1241";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1242";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1243";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1244";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1245";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1246";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1247";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1248";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1249";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1250";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1251";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1252";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1253";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1255";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1256";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1257";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1258";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1259";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1260";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1261";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1262";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1263";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1265";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1266";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1267";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1268";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1269";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1270";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1271";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1272";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1273";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1274";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1275";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1277";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1278";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1279";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1280";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1281";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1282";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1283";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1284";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1285";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1286";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1287";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1288";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1289";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1290";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1291";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1292";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1293";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1294";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1296";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1297";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1298";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1299";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1300";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1301";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1302";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1303";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1304";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1305";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1306";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1308";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1309";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1310";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1311";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1312";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1313";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1314";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1315";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1316";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1317";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1318";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1319";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1320";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1321";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1322";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1323";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1324";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1325";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1326";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1327";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1328";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1329";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1330";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1331";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1332";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1333";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1334";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1335";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1336";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1337";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1338";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1339";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1340";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1344";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1345";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1346";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1347";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1348";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1349";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1350";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1351";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1354";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1356";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1357";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1358";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1359";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1360";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1361";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1362";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1363";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1364";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1365";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1366";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1367";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1368";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1371";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1372";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1373";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1374";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1375";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1376";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1377";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1378";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1379";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1381";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1382";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1384";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1385";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1386";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1387";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1388";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1389";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1390";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1391";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1392";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1393";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1394";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1395";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1396";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1397";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1398";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1399";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1400";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1401";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1402";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1403";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1404";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1406";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1407";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1408";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1410";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1411";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1412";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1413";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1414";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1416";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1417";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1418";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1419";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1420";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1421";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1422";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1423";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1424";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "1425";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1426";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1427";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1428";
UPDATE kluster SET kluster_3_3 = 1 WHERE Livsmedelsnummer = "1429";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1430";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1431";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1432";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1433";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1434";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1435";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1436";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1437";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1438";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1439";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1441";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1442";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1443";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1444";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1445";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1446";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1447";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1448";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1449";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1450";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1451";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1452";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1453";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1454";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1455";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1456";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1457";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1458";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1459";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1460";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1461";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1462";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1463";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1464";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1465";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1466";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1467";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1468";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1469";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1470";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1471";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1472";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1473";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1474";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1475";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1476";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1477";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1478";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1479";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1480";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1482";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1483";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1485";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1486";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1487";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1488";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1489";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1490";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1491";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1492";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1493";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1494";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1495";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1496";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1497";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1498";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1499";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1500";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1501";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1502";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1503";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1504";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1505";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1506";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1507";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1508";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1509";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1510";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1511";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1512";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1513";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1514";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1515";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1516";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1517";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1518";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1519";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1520";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1521";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1522";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1523";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1524";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1526";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1527";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1528";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1529";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1530";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1531";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1532";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1533";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1534";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1535";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1536";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1537";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1538";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1540";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1541";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1543";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1544";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1548";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1551";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1552";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1553";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1554";
UPDATE kluster SET kluster_3_3 = 0 WHERE Livsmedelsnummer = "1555";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1557";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1558";
UPDATE kluster SET kluster_3_3 = 2 WHERE Livsmedelsnummer = "1559";

In [80]:
conn = sqlite3.connect('livs.db')  # Create db and establish connection
conn.row_factory = sqlite3.Row
curs = conn.cursor()
   
kluster_object = []
for row in curs.execute('SELECT * from kluster WHERE kluster_3_3 != -1;'):
    kluster_object.append(row)

        
kluster = np.array(kluster_object)

print(kluster)

conn.close()

[['1' '-1' '2' '-1' '-1']
 ['2' '-1' '2' '-1' '-1']
 ['3' '-1' '2' '-1' '-1']
 ...,
 ['5964' '-1' '0' '-1' '-1']
 ['5973' '-1' '1' '-1' '-1']
 ['5974' '-1' '1' '-1' '-1']]

In [69]:
(dataset==str(kluster.T[0]))

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]], dtype=bool)

## Visualisera med Plotly

In [ ]:
# transpose to work with Plotly-format (don't remember if it is sklearn.cluster or plotly that is counterintuitive)
dataToChart = dataset.T

# create multi dimensional array of data by label
segmentedData = [[[] for _ in range(3)] for _ in range(numClusters)]

for num, cluster in enumerate(clusters):
    if debug:
        print (str(num), str(clusters))
    segmentedData[cluster][0].append(dataToChart[0][num])
    segmentedData[cluster][1].append(dataToChart[1][num])
    segmentedData[cluster][2].append(dataToChart[2][num])

#if debug:
    #print(segmentedData)

In [69]:
#plotly.offline.init_notebook_mode(connected=True)
    
traces = []
baseColor = 100
i = 0
while i < numClusters:
    trace = go.Scatter3d(
        x=segmentedData[i][0],
        y=segmentedData[i][1],
        z=segmentedData[i][2],
        mode='markers',
        marker=dict(
            size=12,
            line=dict(
                color='rgba(baseColor+(i*2), baseColor+(i*2), baseColor+(i*2), 0.14)',
                width=0.5
            ),
            opacity=0.8
        ),
        # @todo: fix names list for plotly
        #text=names
    )
    traces.append(trace)
    i+=1

layout = go.Layout(
    scene=go.Scene(
        xaxis=go.XAxis(title='Carbs', tickprefix='Carbs ', showtickprefix='first'),
        yaxis=go.YAxis(title='Fat', tickprefix='Fat ', showtickprefix='first'),
        zaxis=go.ZAxis(title='Protein', tickprefix='Protein ', showtickprefix='first')
    ),
    height = 800,
    width = 800,
)

fig = go.Figure(data=traces, layout=layout)
py.iplot(fig, filename='table1')