In [1]:
import sqlite3
import numpy as np

## Rubrik
Syftet med den här är att hitta ett medelvärde för varje huvudgrupp. Sen kan man skicka in varje livsmedel ett i taget och se om det passar i den huvudgruppen eller i någon annan. Då kan man göra listor över vilka som passar och vilka som byter, och vart de byter.

In [2]:
conn = sqlite3.connect('../livs.db')  # Create db and establish connection
conn.row_factory = sqlite3.Row
curs = conn.cursor()
result = []
rows = curs.execute('select * from livs limit 4000')
for row in rows:
        result.append(row)

db_contents = np.array(result)
print (db_contents)

conn.close()

[['Talg nöt' '1' 656.3 ..., 'Övrigt fett (ister, talg, kokosfett)' 86 None]
 ['Späck gris' '2' 763.0 ..., 'Övrigt fett (ister, talg, kokosfett)' 86
  None]
 ['Ister gris' '3' 884.3 ..., 'Övrigt fett (ister, talg, kokosfett)' 86
  None]
 ...,
 ['Havredryck oberikad' '5964' 40.6 ...,
  'Vegetabiliska produkter och mjölkersättning' 46 None]
 ['Kryddblandning taco' '5973' 372.6 ..., 'Kryddor' 112 None]
 ['Tortilla wrap' '5974' 313.7 ..., 'Mjukt bröd' 12 'train']]

In [16]:
columns = np.array([ 2,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18])
# Possible columns: [ 2,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57]

In [19]:
dataset = db_contents[:,columns].astype(float)

In [20]:
means = np.mean(dataset, axis=0)

In [38]:
label_types = np.array(sorted(list(set(db_contents.T[60])))).reshape(-1, 1) 
#https://stackoverflow.com/questions/36009907/numpy-reshape-1d-to-2d-array-with-1-column

In [48]:
#Lägg till en kolumn till label_types
label_types=np.hstack((label_types,np.empty([len(label_types),len(columns)])))

In [50]:
label_types.shape

(119, 17)

In [44]:
a = np.where(db_contents[:,60]==label_types[0][0])

In [45]:
db_contents[a]

array([['Linser torkade', '884', 325.4, 1361.5, 48.5, 1.0, 24.0, 11.5,
        12.0, 0.0, 3.0, 0.3, 2.1, 2.1, 0.0, '', 0.15, 0.0, 0.0, 0.0, 0.13,
        0.01, 0.01, 0.18, 0.0, 0.17, 0.47, 0.38, 0.09, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 5.0, 60.0, 0.0, 0.34, '', 0.37, 0.22, 0.0, 2.0, 6.0, 0.6,
        0.0, 433.0, 375.0, 0.7, 6.8, 79.0, 790.0, 80.0, 30.0, 0.08, 11.0,
        '3.1', 0.0, 184.0, '', None, None],
       ['Linser torkade kokta u salt', '885', 104.8, 438.5, 15.6, 0.3, 7.8,
        3.7, 71.7, 0.0, 0.9, 0.1, 0.7, 0.7, 0.0, '', 0.05, 0.0, 0.0, 0.0,
        0.04, 0.0, 0.0, 0.05, 0.0, 0.05, 0.14, 0.11, 0.03, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 1.0, 12.0, 0.0, 0.07, '', 0.07, 0.06, 0.0, 0.6, 1.9,
        0.11, 0.0, 181.0, 119.0, '', 2.1, 25.0, 250.0, 25.0, 12.0, 0.03,
        3.0, '1', 0.0, 154.0, '', None, None],
       ['Lax rå', '1239', 180.9, 756.8, 0.0, 12.0, 18.4, 0.0, 68.0, 0.0,
        1.6, 0.0, 0.0, 0.0, 0.0, '', 2.55, 0.0, 0.0, 0.35, 1.72, 0.36, 0.0,
        4.97, 1.0, 3.63, 3.28, 0.41, 0.18, 0.11, 0.49, 0.25, 1.33, 70.0,
        30.0, 30.0, 0.0, 12.5, 1.3, '', 0.23, 0.1, 0.0, 6.0, 9.37, 0.98,
        6.2, 26.0, 200.0, 40.0, 0.8, 20.0, 330.0, 24.0, 57.0, 0.14, 26.0,
        '0.4', 35.0, 54.0, '', None, None],
       ['Tonfisk rå', '1245', 138.0, 577.4, 0.0, 4.9, 23.3, 0.0, 70.62,
        0.0, 1.18, 0.0, 0.0, 0.0, 0.0, '', 1.26, 0.0, 0.0, 0.14, 0.81,
        0.31, 0.0, 1.6, 0.16, 0.92, 1.43, 0.05, 0.0, 0.04, 0.28, 0.12,
        0.89, 38.0, 655.0, 655.0, 0.0, 4.5, 1.0, '', 0.24, 0.25, 0.0, 8.65,
        12.92, 0.46, 9.43, 1.9, 254.0, '', 1.02, 8.0, 252.0, 50.0, 39.0,
        0.1, 36.5, '0.6', 40.0, 59.0, '', None, None],
       ['Jordnötter rostade', '1561', 600.3, 2511.9, 10.3, 49.0, 27.0, 8.1,
        2.0, 0.0, 3.6, 1.1, 2.0, 2.0, 0.0, '', 6.8, 0.0, 0.0, 0.23, 5.14,
        1.12, 0.0, 24.5, 0.0, 23.7, 15.6, 15.5, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 7.4, '', 0.29, 0.1, 0.0, 14.8, 19.3, 0.4,
        0.0, 105.0, 510.0, '', 1.9, 86.0, 700.0, 188.0, 15.0, 0.04, 2.0,
        '6.6', 0.0, 163.0, '', None, None],
       ['Vitt vin sött vol. % 13,5', '1910', 98.9, 414.0, 5.9, 0.0, 0.2,
        0.0, 82.9, 10.7, 0.3, 5.9, 0.0, 0.0, 0.0, '', 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, '', 0.0, 0.01, 0.0, 0.1, 0.13, 0.01,
        0.0, 0.0, 27.0, '', 1.1, 44.0, 110.0, 3.0, 3.0, 0.01, 0.1, '0',
        0.0, 5.0, '', None, None],
       ['Vitt vin torrt vol. % 12', '1911', 67.5, 282.3, 0.4, 0.0, 0.0,
        0.0, 89.8, 9.5, 0.3, 0.2, 0.2, 0.2, 0.0, '', 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, '', 0.0, 0.01, 0.0, 0.1, 0.1, 0.02,
        0.0, 0.0, 22.0, '', 0.5, 44.0, 65.0, 3.2, 4.0, 0.01, 0.1, '0', 0.0,
        30.0, '', None, None]], dtype=object)