## Hitta stora kategorier

Huvudgrupp_n i databasen innehåller metadata i storleksordning. 

Börjar med att utforska lite.

In [12]:
import numpy as np
import sqlite3

huvudgrupp = str(19)

In [13]:
conn = sqlite3.connect('../livs.db')  # Create db and establish connection
conn.row_factory = sqlite3.Row
curs = conn.cursor()
result = []
rows = curs.execute('select * from livs where Huvudgrupp_n = '+huvudgrupp+' limit 4')
for row in rows:
        result.append(row)

rows = np.array(result)
print (rows)

conn.close()

[['Fattiga riddare' '732' '270.0' '1129.8' '29.81' '13.26' '6.67' '2.42'
  '46.75' '0.0' '1.0' '0.21' '10.85' '8.9' '0.0' '' '1.78' '0.04' '0.02'
  '0.06' '1.11' '0.41' '0.06' '6.88' '0.09' '6.62' '3.21' '2.29' '0.85'
  '0.03' '0.0' '0.0' '0.02' '68.59' '75.0' '76.8' '21.0' '0.82' '3.65' ''
  '0.21' '0.13' '0.1' '0.54' '1.89' '0.18' '0.38' '22.7' '93.4' '' '0.73'
  '43.0' '113.4' '14.2' '244.2' '0.61' '7.21' '0.66' '' '38.0'
  'Efterrätter' '19' 'train']
 ['Apelsinris' '836' '94.3' '394.3' '12.81' '3.65' '2.02' '0.89' '79.95'
  '0.0' '0.68' '2.29' '5.04' '3.3' '0.0' '' '2.24' '0.25' '0.11' '0.35'
  '1.11' '0.35' '0.01' '0.94' '0.07' '0.84' '0.16' '0.11' '0.04' '0.0'
  '0.0' '0.0' '0.0' '10.14' '' '34.2' '' '0.35' '0.36' '' '0.06' '0.07'
  '23.2' '0.23' '0.66' '0.05' '0.2' '17.6' '52.5' '' '0.09' '62.1' '131.2'
  '10.1' '84.1' '0.21' '0.69' '0.27' '' '196.0' 'Efterrätter' '19' 'train']
 ['Ris à la Malta' '838' '131.4' '549.8' '15.67' '6.29' '2.93' '0.12'
  '74.16' '0.0' '0.85' '0.0' '7.13' '4.1' '0.0' '' '3.9' '0.43' '0.2'
  '0.61' '1.93' '0.6' '0.01' '1.63' '0.12' '1.45' '0.25' '0.17' '0.06'
  '0.0' '0.0' '0.0' '0.0' '17.69' '' '57.3' '' '0.61' '0.2' '' '0.04'
  '0.09' '0.4' '0.18' '0.82' '0.04' '0.35' '8.1' '75.8' '' '0.04' '77.4'
  '109.6' '10.1' '146.2' '0.37' '1.06' '0.4' '' '110.0' 'Efterrätter' '19'
  'train']
 ['Risgrynskaka el risgrynspudding' '839' '146.3' '611.9' '14.52' '7.97'
  '4.07' '0.11' '72.38' '0.0' '0.9' '0.04' '6.66' '3.85' '0.0' '' '4.33'
  '0.42' '0.21' '0.58' '2.3' '0.66' '0.01' '2.37' '0.13' '2.2' '0.61'
  '0.43' '0.11' '0.02' '0.0' '0.0' '0.01' '54.3' '' '88.3' '' '0.68' '0.96'
  '' '0.04' '0.12' '0.3' '0.17' '1.1' '0.04' '0.45' '10.4' '90.4' '' '0.22'
  '77.2' '115.7' '10.6' '163.4' '0.41' '3.49' '0.51' '' '110.0'
  'Efterrätter' '19' 'train']]

Vi kan ta fram alla nummer på livsmedel som tillhör den här kategorin. En del av dem gör vi till träningsdata och en del till validering.

Först behöver vi en kolumn i databasen.

In [14]:
conn = sqlite3.connect('../livs.db')  # Create db and establish connection
conn.row_factory = sqlite3.Row
curs = conn.cursor()

columnObject = []

#Kolla om Huvudgrupp-kolumnen redan finns, annars lägg till den        
for row in conn.execute('PRAGMA table_info (livs);'):
    columnObject.append(row)
columns = np.array(columnObject)
newColumn = 'Aktivitetstyp'
addColumn = True
for row in columns:
    print (row)
    if newColumn == row[1]:
        addColumn = False
        print (addColumn, newColumn)
if addColumn:
    #Man får se upp extra noga med kolumntypen, för den går inte att ändra i efterhand i sqlite...
    conn.execute('ALTER TABLE livs ADD COLUMN Aktivitetstyp TEXT;')
    conn.commit()

conn.close()

[0 'Livsmedelsnamn' 'TEXT' 0 None 0]
[1 'Livsmedelsnummer' 'TEXT' 0 None 0]
[2 'Energi_kcal' 'REAL' 0 None 0]
[3 'Energi_kJ' 'REAL' 0 None 0]
[4 'Kolhydrater_g' 'REAL' 0 None 0]
[5 'Fett_g' 'REAL' 0 None 0]
[6 'Protein_g' 'REAL' 0 None 0]
[7 'Fibrer_g' 'REAL' 0 None 0]
[8 'Vatten_g' 'REAL' 0 None 0]
[9 'Alkohol_g' 'REAL' 0 None 0]
[10 'Aska_g' 'REAL' 0 None 0]
[11 'Monosackarider_g' 'REAL' 0 None 0]
[12 'Disackarider_g' 'REAL' 0 None 0]
[13 'Sackaros_g' 'REAL' 0 None 0]
[14 'Fullkorn_totalt_g' 'REAL' 0 None 0]
[15 'Sockerarter_g' 'REAL' 0 None 0]
[16 'Summa_mattade_fettsyror_g' 'REAL' 0 None 0]
[17 'Fettsyra_4_0_10_0_g' 'REAL' 0 None 0]
[18 'Fettsyra_12_0_g' 'REAL' 0 None 0]
[19 'Fettsyra_14_0_g' 'REAL' 0 None 0]
[20 'Fettsyra_16_0_g' 'REAL' 0 None 0]
[21 'Fettsyra_18_0_g' 'REAL' 0 None 0]
[22 'Fettsyra_20_0_g' 'REAL' 0 None 0]
[23 'Summa_enkelomattade_fettsyror_g' 'REAL' 0 None 0]
[24 'Fettsyra_16_1_g' 'REAL' 0 None 0]
[25 'Fettsyra_18_1_g' 'REAL' 0 None 0]
[26 'Summa_fleromattade_fettsyror_g' 'REAL' 0 None 0]
[27 'Fettsyra_18_2_g' 'REAL' 0 None 0]
[28 'Fettsyra_18_3_g' 'REAL' 0 None 0]
[29 'Fettsyra_20_4_g' 'REAL' 0 None 0]
[30 'EPA_Fettsyra_20_5_g' 'REAL' 0 None 0]
[31 'DPA_Fettsyra_22_5_g' 'REAL' 0 None 0]
[32 'DHA_Fettsyra_22_6_g' 'REAL' 0 None 0]
[33 'Kolesterol_mg' 'REAL' 0 None 0]
[34 'Retinol_mikrog' 'REAL' 0 None 0]
[35 'Vitamin_A_mikrog' 'REAL' 0 None 0]
[36 'beta_Karoten_mikrog' 'REAL' 0 None 0]
[37 'Vitamin_D_mikrog' 'REAL' 0 None 0]
[38 'Vitamin_E_mg' 'REAL' 0 None 0]
[39 'Vitamin_K_mikrog' 'REAL' 0 None 0]
[40 'Tiamin_mg' 'REAL' 0 None 0]
[41 'Riboflavin_mg' 'REAL' 0 None 0]
[42 'Vitamin_C_mg' 'REAL' 0 None 0]
[43 'Niacin_mg' 'REAL' 0 None 0]
[44 'Niacinekvivalenter_mg' 'REAL' 0 None 0]
[45 'Vitamin_B6_mg' 'REAL' 0 None 0]
[46 'Vitamin_B12_mikrog' 'REAL' 0 None 0]
[47 'Folat_mikrog' 'REAL' 0 None 0]
[48 'Fosfor_mg' 'REAL' 0 None 0]
[49 'Jod_mikrog' 'REAL' 0 None 0]
[50 'Jarn_mg' 'REAL' 0 None 0]
[51 'Kalcium_mg' 'REAL' 0 None 0]
[52 'Kalium_mg' 'REAL' 0 None 0]
[53 'Magnesium_mg' 'REAL' 0 None 0]
[54 'Natrium_mg' 'REAL' 0 None 0]
[55 'Salt_g' 'REAL' 0 None 0]
[56 'Selen_mikrog' 'REAL' 0 None 0]
[57 'Zink_mg' '' 0 None 0]
[58 'Avfall_skal_etc' 'REAL' 0 None 0]
[59 'Kluster' 'REAL' 0 None 0]
[60 'Huvudgrupp' 'TEXT' 0 None 0]
[61 'Huvudgrupp_n' 'INTEGER' 0 None 0]
[62 'Aktivitetstyp' 'TEXT' 0 None 0]
False Aktivitetstyp

In [15]:
conn = sqlite3.connect('../livs.db')  # Create db and establish connection
conn.row_factory = sqlite3.Row
curs = conn.cursor()
result = []
rows = curs.execute('select * from livs where Huvudgrupp_n = '+huvudgrupp+' limit 4000')
for row in rows:
        result.append(row)

rows = np.array(result)
print (rows)

conn.close()

[['Fattiga riddare' '732' '270.0' ..., 'Efterrätter' '19' 'train']
 ['Apelsinris' '836' '94.3' ..., 'Efterrätter' '19' 'train']
 ['Ris à la Malta' '838' '131.4' ..., 'Efterrätter' '19' 'train']
 ...,
 ['Friterad banan m glass restaurang' '1792' '252.9' ..., 'Efterrätter'
  '19' 'train']
 ['Ris a la malta m lättmjölk mellangrädde fett 4%' '2147' '114.6' ...,
  'Efterrätter' '19' 'train']
 ['Ostkaka fett 7%' '2184' '171.6' ..., 'Efterrätter' '19' 'train']]

Lägg in train med 80 % sannolikhet i kolumnen för Aktivitetstyp, och val i övriga.

y är bara för att beräkna hur många samples mellan 0 och 1 som ska räknas fram.

z blir en array av längden y där alla celler har värden mellan 0 och 1

c blir en array med index för de som ska ändras till train

In [16]:
y = len(rows.T[62])

z = np.random.random_sample((y,))

c = np.where(z<0.8)

rows.T[62] = 'test'
rows.T[62][c] = 'train'

In [11]:
ids = np.array(rows.T[62])
ids

array(['train', 'test', 'test', 'train', 'train', 'train', 'train',
       'train', 'train', 'test', 'train', 'test', 'train', 'test', 'test',
       'test', 'train', 'train', 'train', 'train', 'train', 'train',
       'train', 'train', 'train', 'test', 'test', 'train', 'train', 'test',
       'train', 'train', 'train', 'train', 'train', 'train', 'train',
       'train', 'train', 'train', 'test', 'train', 'train', 'train',
       'test', 'train', 'train', 'train', 'train', 'train', 'train',
       'train', 'test', 'train', 'train', 'train', 'train', 'train',
       'test', 'train', 'train', 'train', 'train', 'train', 'train',
       'test', 'train', 'train', 'train', 'train', 'train', 'train',
       'train', 'train', 'train', 'train', 'train', 'test', 'train',
       'train', 'train', 'train', 'train', 'test', 'train', 'train',
       'train', 'train', 'train', 'train', 'test', 'train', 'train',
       'test', 'train', 'train', 'train', 'train', 'train', 'test',
       'train', 'train', 'train', 'train', 'train', 'train', 'train',
       'test', 'train', 'test', 'train', 'train', 'train', 'train', 'test',
       'train', 'test', 'train', 'train', 'test', 'train', 'train',
       'train', 'train', 'train', 'test', 'test', 'train', 'test', 'train',
       'train', 'train', 'test', 'train', 'train', 'train', 'train',
       'train', 'train', 'train', 'train', 'test', 'train', 'train',
       'train', 'train', 'train', 'train', 'train', 'test', 'train',
       'train', 'train', 'train', 'train', 'train', 'train', 'train',
       'train', 'test', 'train', 'train', 'train', 'test', 'train',
       'train', 'train', 'train', 'train', 'train', 'train', 'test',
       'train', 'train', 'train', 'test', 'train', 'train', 'train',
       'train', 'train', 'train', 'train', 'train', 'test', 'train',
       'train', 'train', 'train', 'train', 'train', 'train', 'train',
       'train', 'train', 'train', 'test', 'train', 'train', 'train',
       'train', 'test', 'train', 'train', 'train', 'train', 'train',
       'train', 'test', 'test', 'train', 'train', 'test', 'train', 'train',
       'train', 'train', 'train', 'test', 'train', 'train', 'test',
       'train', 'train', 'train', 'train', 'train', 'train', 'train',
       'train', 'train', 'test', 'train', 'train', 'test', 'train', 'test',
       'train', 'train', 'train', 'train', 'test'],
      dtype='<U65')

Dags att lägga in allt i databasen

In [17]:
conn = sqlite3.connect('../livs.db')  # Create db and establish connection
conn.row_factory = sqlite3.Row
curs = conn.cursor()

for row in rows:
    sql = 'UPDATE livs SET Aktivitetstyp = "'+row[62]+'" WHERE Livsmedelsnummer = "'+row[1]+'";'
    print(sql)
    #curs.execute(sql) #Kommentera bort denna vid debug

conn.commit()
conn.close()

UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "732";
UPDATE livs SET Aktivitetstyp = "test" WHERE Livsmedelsnummer = "836";
UPDATE livs SET Aktivitetstyp = "test" WHERE Livsmedelsnummer = "838";
UPDATE livs SET Aktivitetstyp = "test" WHERE Livsmedelsnummer = "839";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1232";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1759";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1760";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1761";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1762";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1764";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1765";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1766";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1767";
UPDATE livs SET Aktivitetstyp = "test" WHERE Livsmedelsnummer = "1770";
UPDATE livs SET Aktivitetstyp = "test" WHERE Livsmedelsnummer = "1772";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1773";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1775";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1780";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1781";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1782";
UPDATE livs SET Aktivitetstyp = "test" WHERE Livsmedelsnummer = "1783";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1784";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1785";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1786";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1788";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1789";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1790";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1791";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "1792";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "2147";
UPDATE livs SET Aktivitetstyp = "train" WHERE Livsmedelsnummer = "2184";

När alla huvudgrupper mellan 0 och 19 har gåtts igenom är databasen förberedd för att man ska kunna köra maskininlärningen.